@charset "utf-8";

/* table */
.c-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 14px;
    border-top: 2px solid #181a1f;
    border-bottom: 2px solid #181a1f;
}
.c-table.align--center {
    text-align: center;
}
.c-table th {
    padding: 10px 5px;
    border-bottom: 1px solid #efefef;
    vertical-align: middle;
    font-size: 14px;
    /* font-weight: 700; */
    word-break: break-all;
    word-wrap: break-word;
}
.c-table td {
    height: 35px;
    padding: 5px;
    border-bottom: 1px solid #efefef;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-table th.align--right,
.c-table td.align--right {
    text-align: right;
}
.c-table th.align--center,
.c-table td.align--center {
    text-align: center;
}
.c-table tr:last-child > th,
.c-table tr:last-child > td {
    border-bottom: none;
}
.c-table tr.align--center th,
.c-table tr.align--center td {
    text-align: center;
}
.c-table tr.align--right th,
.c-table tr.align--right td {
    text-align: right;
}
.c-table td a {
	display: inline;
	color: #222;
	font-size: 14px;
	line-height: 1.4;
}
.c-table td a:hover {
	text-decoration: underline;
}
.c-table td a + img {
	display: inline;
	height: 14px;
	margin: 0;
	padding: 0;
}

.c-table.c-table--non-border th,
.c-table.c-table--non-border td {
    border: 0;
    padding: 5px;
}
.c-table.c-table--non-border th {
    font-size: 14px;
}
.c-table thead + tbody {
    border-top: 1px solid #888;
}
.c-table__link {
    color: #555;
}
.c-table__link:hover {
    text-decoration: underline;
}
.c-table.c-table--hover tbody tr:hover,
.c-table tbody tr.bg-color {
    background-color: #efefef;
}
.c-table tr.border-top td{
    border-top: 1px solid #efefef;
}
.c-table.c-table--font-small th {
    font-size: 14px;
}
.c-table td.non-padding {
    padding: 5px 0;
}
.notice-view .c-table th {
	background-color: #efefef;
	text-align: center;
}

.c-table.c-table--small {
	
}
.c-table.c-table--small th {
	padding: 4px 5px;
	font-size: 12px;
}
.c-table.c-table--small td {
	height: auto;
	padding: 4px 5px;
	font-size: 12px;
}

/* table scroll */
.table-scroll {
	width: 100%;
    overflow: hidden;
}
.table-scroll__head {
    width: 100%;
    overflow: hidden;
}
.table-scroll__body {
    width: 100%;
    overflow-x: auto;
}
.table-scroll .table-scroll__head .c-table.c-table--head {
	/* width: 100%; */
}
.table-scroll .table-scroll__body .c-table {
    border-top: 0;
    /* overflow-x: auto; */
}

/* input table */
.c-input-table {
	table-layout: fixed;
    width: 100%;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    color: #222;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-input-table th {
	height: 30px;
	padding: 5px 10px;
	background-color: #efefef;
	border: 1px solid #222;
	text-align: center;
	vertical-align: middle;
	word-break: keep-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-input-table td {
	height: 30px;
	padding: 5px 10px;
	border: 1px solid #222;
	vertical-align: middle;
	word-break: keep-all;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-input-table th:first-child {
	border-left: 0;
}
.c-input-table td:last-child {
	border-right: 0;
}
.c-input-table__non-padding {
	padding: 0 !important;
}
.c-input-table.c-input-table--inner {
	border: 0;
}
.c-input-table.c-input-table--inner tr:first-child th,
.c-input-table.c-input-table--inner tr:first-child td {
	border-top: 0;
}
.c-input-table.c-input-table--inner tr:last-child th,
.c-input-table.c-input-table--inner tr:last-child td {
	border-bottom: 0;
}
.c-input-table.c-input-table--inner th {
	background-color: #fff;
}
.c-input-table pre {
	white-space: pre-wrap;
	line-height: 1.4;
}

/* text ellipsis */
.c-ellipsis {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 1.2;
}

/* radio */
.c-radio {
	line-height: 18px;

}
.c-radio__input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-radio__input:checked + label:before {
    border: 2px solid #3e4046;
}
.c-radio__input:checked + label:after {
    opacity: 1;
    visibility: visible;
}
.c-radio__label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #222;
    font-size: 14px;
}
.c-radio__label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transform: translateY(-50%);;
    transition: border-color .2s;
}
.c-radio__label:after {
    content: " ";
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #181a1f;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}

/* radio-group */
.c-radio-gorup:before {
    content: " ";
    display: table;
}
.c-radio-gorup:after {
    content: " ";
    display: table;
    clear: both;
}
.c-radio-group__item {
    float: left;
}
.c-radio-group__item + .c-radio-group__item {
    margin-left: 20px;
}

/* btn-radio */
.c-btn-radio {
}
.c-btn-radio__list {
    display: inline-block !important;
    /* overflow: hidden; */
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
}
.c-btn-radio__list:before {
    content: " ";
    display: table;
}
.c-btn-radio__list:after {
    content: " ";
    display: table;
    clear: both;
}
.c-btn-radio__item {
    float: left;
}
.c-btn-radio__item:first-child .c-btn-radio__label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c-btn-radio__item:last-child .c-btn-radio__label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-btn-radio__item + .c-btn-radio__item .c-btn-radio__label {
    border-left: 0;
}
.c-btn-radio__input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-btn-radio__label {
    display: block;
    min-width: 32px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #efefef;
    color: #888;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
}
.c-btn-radio__label:hover {
    background-color: #ddd;
}
.c-btn-radio__input:checked + .c-btn-radio__label {
    background-color: #50b6d4;
    color: #fff;
}

/* input text */
.c-text {
    position: relative;
}
.c-text__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
}
.c-text__input:focus,
.c-text__input:active {
    border-color: #181A1F;
}
.c-text__input::placeholder {
    color: #aaa;
}
.c-text__input[disabled],
.c-text__input[readonly] {
    background-color: #ddd;
    color: #888
}
.c-text.c-text--id:before {
    content: " ";
    display: table;
}
.c-text.c-text--id:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--id .c-text__input {
    float: left;
    width: calc(100% - 78px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--id .c-button {
    float: left;
    width: 78px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.c-text.c-text--duo {
	position: relative;
}
.c-text.c-text--duo:before {
    content: " ";
    display: table;
}
.c-text.c-text--duo:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--duo .c-text__input {
    float: left;
    /* width: 50%; */
}
.c-text.c-text--duo .c-text__input:first-child {
    width: 32%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--duo .c-text__input+.c-text__input[readonly] {
    border-left-color: #fff;
}
.c-text.c-text--duo .c-text__input+.c-text__input {
    width: 68%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.c-text.c-text--duo .c-text__input.only-child {
	width: 100% !important;
	padding-right: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.c-text--duo .c-text__button {
	display: inline-block;
	position: absolute;
	top: 1px;
	right: 1px;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #97999f url(/assets/images/icon__search--b.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    text-indent:-9999px;
    cursor: pointer;
    transition: all .2s;
}
.c-text.c-text--duo .c-text__input.only-child + .c-text__button {
	width: 28px;
}
.c-text--duo .c-text__button:hover {
    background: #181a1f url(/assets/images/icon__search--w.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}

.c-text.c-text--bridge:before {
    content: " ";
    display: table;
}
.c-text.c-text--bridge:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--bridge .c-text__input {
    float: left;
    width: 30px;
    border-radius: 0;
}
.c-text.c-text--bridge .c-text__input:first-child {
    width: calc(32% - 30px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c-text.c-text--bridge .c-text__input:last-child {
    width: 68%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-text.c-text--bridge .c-text__input:last-child[readonly] {
    border-left-color: #fff;
}
.c-text.c-text--unit {
    display: flex;
}
.c-text.c-text--unit:before {
    content: " ";
    display: table;
}
.c-text.c-text--unit:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--unit .c-text__input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--unit .c-text__unit {
    display: block;
    height: 30px;
    padding: 0 10px;
    background-color: #d3d3d3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #555;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.c-text.c-text--small .c-text__input {
	height: 22px;
	font-size: 12px;
}
.c-checkbox .c-text.c-text--small .c-text__input {
	width: 100px;
	height: 24px;
}
.c-text.c-text--label {
	
}
.c-text.c-text--label:before {
	content: " ";
	display: table;
}
.c-text.c-text--label:after {
	content: " ";
	display: table;
	clear: both;
}
.c-text.c-text--label label {
	float: left;
	width: 30px;
	color: #222;
	font-size: 14px;
	line-height: 30px;
}
.c-text.c-text--label .c-text__input {
	float: left;
	width: 80px;
	/*width: calc(100% - 40px);*/
}
.c-text.c-text--label.c-text--small label {
	font-size: 12px;
	line-height: 22px;
}

/* textarea */
.c-textarea {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    resize: none;
    outline: none;
    transition: border-color .2s;
}
.c-textarea:focus,
.c-textarea:active {
    border-color: #181A1F;
}
.c-textarea::placeholder {
    color: #aaa;
}

/* calendar */
.c-calendar-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-calendar-layout .c-date {
    flex: 1;
}
.c-date + span {
    display: block;
    padding: 0 10px;
}

.c-date {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 30px;
	-webkit-transition: all 0.3s 0s ease-in-out;
	-moz-transition: all 0.3s 0s ease-in-out;
	-ms-transition: all 0.3s 0s ease-in-out;
	-o-transition: all 0.3s 0s ease-in-out;
	transition: all 0.3s 0s ease-in-out;
}
.c-date__input-box {
	width: 100%;
	height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-date__result {
	float: left;
	display: block;
	width: calc(100% - 30px);
	height: 30px;
	padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #fff;
	height: 30px;
	font-size: 14px;
	color: #222;
	line-height: 30px;
}
.c-date__button {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: #ddd;
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
	font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.c-date__calendar {
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-radius: 0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.c-date.c-date--small {
	max-height: 22px;
}
.c-date.c-date--small .c-date__input-box {
	height: 22px;
}
.c-date.c-date--small .c-date__result {
	width: calc(100% - 22px);
	height: 22px;
	padding: 0 5px;
	font-size: 12px;
	line-height: 22px;
}
.c-date.c-date--small .c-date__button {
	height: 22px;
	font-size: 12px;
}
.c-date.c-date--small .c-date__calendar {
	
}

.c-date .ui-datepicker-inline {
	position: relative;
	width: 100%;
}
.c-date .ui-datepicker-header {
	height: 100%;
	margin-bottom: 10px;
	line-height: 50px;
	background-color: #222;
	color: #fff;
}
.c-date .ui-datepicker-prev,
.c-date .ui-datepicker-next {
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 15px;
}
.c-date .ui-datepicker-prev {
	float: left;
	position: relative;
	margin-left: 4px;
}
.c-date .ui-datepicker-prev:after {
	margin: -46px 0 0 6px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.c-date .ui-datepicker-next {
	float: right;
	position: relative;
	margin-right: 4px;
}
.c-date .ui-datepicker-next:after {
	margin: -46px 0 0 4px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.c-date .ui-datepicker-prev:after,
.c-date .ui-datepicker-next:after {
	content: " ";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.c-date .ui-datepicker-title {
	text-align: center;
}
.c-date .ui-datepicker-calendar {
	width: calc(100% - 10px);
	margin: 5px;
	text-align: center;
}
.c-date .ui-datepicker-calendar thead tr th,
.c-date .ui-datepicker-calendar tbody tr td {
	width: 20px;
	height: auto;
	padding: 0;
	border: 1px solid #222 !important;
}
.c-date .ui-datepicker-calendar thead tr th span {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	color: #222;
	font-size: 13px;
}
.c-date .ui-state-default {
	display: block;
	height: 20px;
	text-decoration: none;
	color: #555;
	line-height: 20px;
	font-size: 12px;
}
.c-date .ui-state-default:hover {
	color: #222;
	background-color: #ddd;
}
.c-date .ui-state-highlight {
	color: #68768a;
}
.c-date .ui-state-active {
	color: #fff;
	background-color: #888;
}
.c-date .ui-datepicker-unselectable .ui-state-default {
	color: #eee;
	border: 2px solid transparent
}
.c-date.open {
	max-height: 400px;
}
.c-date.open .c-date__input-box .c-date__button {
	background-color: #666;
}
.c-date.open .c-date__calendar {
	visibility: visible;
	opacity: 1;
}


/* functions */
.c-function {
    margin-top: 10px;
}
.c-function:before {
    content: " ";
    display: table;
}
.c-function:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group {
    float: left;
}
.c-function__group:before {
    content: " ";
    display: table;
}
.c-function__group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group.c-function__group--right {
    float: right;
}
.c-function__item {
    float: left;
    display: inline-block;
}
.c-function__item + .c-function__item {
    margin-left: 10px;
}

/* button */
.c-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #fff;
    color: #888;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
}
a.c-button {
	min-height: 28px;
	line-height: 28px;
	padding: 0 10px;
}
.c-button:hover {
    /* background-color: #888 */
    color: #555;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}
.c-button[disabled] {
    border-color: #ddd;
    background-color: #ddd;
    color: #888;
    cursor: no-drop;
}
.c-button.c-button--point {
    border-color: #3e4046;
    background-color: #3e4046;
    color: #fff;
    font-weight: 700;
}
.c-button.c-button--small {
    padding: 2px 5px;
    border-radius: 1px;
    font-size: 12px;
}

/* select */
.c-select {
    /* width: 100%; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-select__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 30px 0 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQgMzQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM0IDM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjIyMjIyIiBwb2ludHM9IjIxLjksMTQuOSAyMS4yLDE0LjIgMTcsMTguNCAxMi44LDE0LjIgMTIuMSwxNC45IDE3LDE5LjggMTcsMTkuOCAxNywxOS44ICIvPjwvc3ZnPg==);
    background-position: 100% 50%;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-select__input::-ms-expand {
    display: none;
}
.c-select__input:focus {
    border-color: #50b6d4;
}
.c-select.c-select--small .c-select__input {
    height: 22px;
    padding: 0 22px 0 10px;
    -webkit-background-size: 22px 22px;
    background-size: 22px 22px;
}

.c-select__label,
.c-text__label,
.c-textarea__label {
	display: block;
	margin-bottom: 10px;
	color: #333;
	font-size: 14px;
	font-weight: 700;
}

/* paging */
.c-pager {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
}
.c-paging {
    position: relative;
    display: table-cell;
    width: calc(100% - 100px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging:before {
    content: " ";
    display: table;
}
.c-paging:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__wrapper {
    /* display: table-cell; */
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.c-paging__item {
    /* display: inline-block; */
    display: table-cell;
    min-width: 25px;
    padding: 4px 8px;
    height: 25px;
    color: #888;
    font-size: 14px;
    /* line-height: 25px; */
    text-decoration: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    /* line-height: 1; */
}
.c-paging__item + .c-paging__item {
    margin-left: 4px;
}
.c-paging__item:hover {
    background-color: #eee;
    color: #555;
    font-weight: 700;
    letter-spacing: -0.4px;
}
.c-paging__item.check {
    background-color: #555;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.3px;
}
.c-paging__item.c-paging__control {
	padding: 0;
}
.c-paging__total {
    display: table-cell;
    width: 100px;
    /* float: left; */
    /* margin-left: 19px; */
}
.c-paging__total:before {
    content: " ";
    display: table;
}
.c-paging__total:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__total-group {
    float: left;
    width: 50%;
    height: 30px;
    color: #555;
    font-size: 14px;
    text-align: right;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging__total-group:before {
    content: " ";
    display: table;
}

.c-paging__total-group:after {
    content: " ";
    display: table;
    clear: both;
}

.c-paging__total-group:first-child {
    font-weight: 700;
}
.c-paging__total-group .c-text {
    float: left;
    width: calc(100% - 35px);
    border: 0;
}
.c-paging__total-group .c-text__input {
    border: 0;
}
.c-paging__total-group .c-text__input:focus,
.c-paging__total-group .c-text__input:active {
    border: 0;
}

.c-paging__total-group .c-button {
    min-width: 35px;
    height: 30px;
    padding: 9px 10px;
    border: 0;
    background: #eee;
    border-radius: 0;
}
.c-paging__total-group .c-button:hover {
    box-shadow: none;
    background-color: #d6d6d6;
}
.c-paging__total-group + .c-paging__total-group {
    position: relative;
    padding-left: 20px;
}

/* .c-paging__total-group + .c-paging__total-group:before {
    content:"/";
    display: table;
    position: absolute;
    left: 10px;
    top: 6px;
} */
.c-paging__total-alarm {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
    color: #888;
}
.c-paging__total-arrow,
.c-paging__arrow {
    float: left;
}
.c-paging__group {
    float: left;
    margin: 0 5px;
}
.c-table + .c-paging {
    margin: 10px auto 0;
}

/* checkbox */
.c-checkbox {
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    color: #222;
    line-height: 18px;
}
.c-checkbox__input {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
.c-checkbox__input[disabled] ~ label {
    cursor: default;
}
.c-checkbox__input[disabled] ~ label:before {
  background-color: #ebebeb;
}
.c-checkbox__input[disabled] ~ label:after {
  border: 2px solid #ddd;
  background: #ebebeb url(/assets/images/icon__check.svg) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #666;
}
.c-checkbox__input:checked ~ label:before {
  display: none;
}
.c-checkbox__input:checked ~ label:after {
  display: block;
}
.c-checkbox__label {
  display: inline-block;
  position: relative;
  padding: 3px 0 3px 25px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}
.c-checkbox__label:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.c-checkbox__label:after {
  content: " ";
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #181a1f url(/assets/images/icon__check--w.png) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.c-checkbox__label + .c-text {
	display: inline-block;
	margin-left: 5px;
}
.c-checkbox.c-checkbox--input:before {
	content: " ";
	display: table;
}
.c-checkbox.c-checkbox--input:after {
	content: " ";
	display: table;
	clear: both;
}
.c-checkbox.c-checkbox--input .c-checkbox__label,
.c-checkbox.c-checkbox--input .c-text {
	float: left;
}


/* input-list */
.c-input-list:before {
	content: " ";
	display: table; 
}
.c-input-list:after {
	content: " ";
	display: table;
	clear: both;
}
.c-input-list li {
	float: left;
	position: relative;
	margin-top: 0 !important;
	margin-right: 10px;
}
.c-input-list li:last-child {
	margin-right: 0;
}
.c-input-list.c-input-list--button-right {
	
}
.c-input-list.c-input-list--button-right li {
	width: 50%;
	margin: 0;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-input-list.c-input-list--button-right li:nth-last-child(2) {
	width: calc(100% - 60px);
}
.c-input-list.c-input-list--button-right li:last-child {
	float: right;
	width: 60px;
	padding: 5px;
}
.c-input-list__name {
	overflow: hidden;
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media(max-width: 720px) {
	
}


/* tree */
.c-tree {

}
.c-tree li {
    position: relative;
    padding: 5px 0 5px 20px;
}
.c-tree__nested {
    display: none;
}
.c-tree__toggle {
    color: #222;
    font-size: 16px;
}
.c-tree__toggle:before {
    content: " ";
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #222;
    background: #fff url(/assets/images/icon__plus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}
.c-tree__toggle.c-tree__toggle--minus:before {
    background: #fff url(/assets/images/icon__minus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}
.c-tree__link {
    color: #555;
    font-size: 14px;
}
.c-tree__link:before {
    content: " ";
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 2px;;
    width: 12px;
    height: 12px;
    background: #fff url(/assets/images/icon__minus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}


/* button file */
.c-file {
    overflow: hidden;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-file__input {
    float: left;
    width: calc(100% - 134px);
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

.c-file__button {
    float: left;
    width: 84px;
    height: 30px;
    padding: 0 14px;
    border: 0;
    background-color: #eee;
    color: #222;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.c-file__button input[type="file"] {
  display: none;
}
.c-file__button:hover,
.c-file__button:focus,
.c-file__control:hover {
  background-color: #d6d6d6;
  text-decoration: none !important;
}
.c-file__control {
	float: left;
	display: block;
	width: 40px;
	margin-left: 10px;
	height: 30px;
	line-height: 30px !important;
	border: 0;
	background-color: #eee;
	color: #222;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.c-file.c-file--comment .c-file__input {
	width: calc(100% - 84px)
}
.c-file.c-file--comment .c-text__input {
	float: left;
	width: calc(100% - 50px);
	margin-top: 5px;
}
.c-file.c-file--comment .c-file__control {
	margin-top: 5px;
}

/* thumb */
.c-thumb {
    margin: 0 -5px;
}
.c-thumb:before {
    content: " ";
    display: table;
}
.c-thumb:after {
    content: " ";
    display: table;
    clear: both;
}
.c-thumb li {
    float: left;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-thumb__img {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100px;
    height: 0;
    padding-bottom: 100%;
    border: 2px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
}
.c-thumb__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.c-thumb__btn-delete {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: rgba(238, 238, 238, .5) url(/assets/images/icon__close.svg) no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    background-position: center center;
    text-indent: -9999px;
}
.c-thumb__btn-delete:hover {
    background-color: rgba(200, 200, 200, .8);
}

/* progress-pie */
.c-progress-pie {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 10px auto 0;
}
.c-progress-pie__comment {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background: transparent;
    text-align: center;
}
.c-progress-pie__comment span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #888;
}
.c-progress-pie__percent {
  display: table-cell;
  vertical-align: middle;
}
.c-progress-pie__range {
    margin-top: 5px;
    font-size: 14px;
}
.c-progress-pie__base.blue + .c-progress-pie__comment span {
    color: #19a8ff;
}
.c-progress-pie__base.green + .c-progress-pie__comment span {
    color: #6ad44d;
}
.c-progress-pie__base.red + .c-progress-pie__comment span {
    color: #ff3333;
}

/* progress-bar */
.c-progress-bar {
    width: 100%;
    margin-top: 10px;
}
.c-progress-bar__base {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 3px;
}
.c-progress-bar__percent {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 20px;
    margin-left: 0;
    border-radius: 3px;
    background-color: #6ad44d;
    transition: margin-left 1s;
}
.c-progress-bar__percent.c-progress-bar__percent--blue {
    background-color: #19a8ff;
}
.c-progress-bar__percent.c-progress-bar__percent--red {
    background-color: #ff3333;
}
.c-progress-bar__range {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}



.c-accordiion-table {

}
.c-accordion-table__head {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__button-line {
    display: block;
    width: 100%;
}
.c-accordion-table__head ul,
.c-accordion-table__button-line ul {
    display: table-row;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__head ul li {
    display: table-cell;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #666;
}
.c-accordion-table__button-line ul {
    display: flex;
    width: 100%;
}
.c-accordion-table__button-line > ul > li {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    min-width: 0;
    /* display: table-cell; */
    height: 34px;
    padding: 5px;
    color: #333;
    font-size: 15px;
    line-height: 23px;
    vertical-align: bottom;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}
.c-accordion-table__button-line ul li.flex-auto {
    flex: 0 1 auto;
}
.c-accordion-table__button-line ul li span.c-ellipsis {
    display: block;
    line-height: 23px;
}
.c-accordion-table__toggle {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #005000;
    border-radius: 3px;
    background-color: #58AA52;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
}
.c-accordion-table__toggle:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 10px;
    margin-top: -5px;
    margin-left: -1px;
    background-color: #fff;
}
.c-accordion-table__toggle:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: #fff;
}
.c-accordion-table__toggle.show {
    border: 2px solid #C90000;
    background-color: #FF7012;
}
.c-accordion-table__toggle.show:before {
    display: none;
}
.c-accordion-table__panel {
    overflow: hidden;
    display: none;
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__panel ul {
    display: table;
    width: 100%;
}
.c-accordion-table__panel li {
    display: table-row;
    width: 100%;
    color: #666;
    font-size: 14px;
}
.c-accordion-table__panel .c-thumb li {
    width: 33.3333%;
}
.c-accordion-table__panel .c-thumb li .c-thumb__img {
    width: 100%;
}
.c-accordion-table__title,
.c-accordion-table__data {
    display: table-cell;
    padding: 3px 0;
}
.c-accordion-table__panel li:last-child span {
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}
.c-accordion-table__title.textarea {
    vertical-align: top;
    padding-top: 10px;
}
.c-accordion-table__panel > .c-button:last-child {
    position: absolute;
    right: 5px;
    bottom: 8px;
}
.c-accordion-table__panel > .c-button:nth-last-child(2) {
    position: absolute;
    right: 5px;
    bottom: 35px;
}
.c-accordion-table__panel > .c-button:nth-last-child(3) {
    position: absolute;
    right: 5px;
    bottom: 62px;
}
.c-accordion-table__panel .article {
    padding: 0;
}
.c-accordion-table__panel .c-btn-radio__item {
    display: block;
    width: auto;
}
.c-accordion-table__panel .c-accordion-table__data span {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

.c-arccordion {

}
.c-arccordion__head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 0;
}
.c-arccordion__head .article__heading {
    flex: 1;
}
.article__heading-toggle {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.c-arccordion__content {
    overflow: hidden;
    display: none;
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-arccordion__content ul li + li {
    margin-top: 10px;
}

/* input */
.m-text {
    display: block;
    position: relative;
    width: 100%;
}
.m-text__input {
	width: 100%;
}
.m-text__input[type=date] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=text]:-ms-clear {
    display: none;
}
.m-text__input:focus + .m-text__reset {
    opacity: 1;
    visibility: visible;
}

.c-noresult,
.c-start-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 20px 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-noresult img,
.c-start-search img {
    width: 30%;
}
.c-noresult p,
.c-start-search p {
    margin-top: 10px;
    color: #888;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}

.c-flex {
    display: flex;
}
.c-flex__box {
    flex: 1;
    position: relative;
}
.c-flex__box > .c-function.position-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}
.c-flex__box-inner {
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.c-flex.c-flex--float {
	display: block;
}
.c-flex.c-flex--float:before {
	content: ' ';
	display: table;
}
.c-flex.c-flex--float:after {
	content: ' ';
	display: table;
	clear: both;
}
.c-flex.c-flex--float .c-flex__box {
	flex: 0 1 auto;
	overflow: hidden;
	float: left;
	width: 50%;
}
.c-flex__input {
	flex: 1;
}
.c-flex__input + .c-flex__input {
	margin-left: 10px;
}
@media(max-width: 1279px) {
	.c-flex.c-flex--float .c-flex__box {
		width: 100%;
	}
	.c-flex.c-flex--float .c-flex__box + .c-flex__box {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 2px dotted #696b71;
	}
	.c-flex.c-flex--float .c-flex__box .c-flex__box-inner {
		padding: 0;
	}
}

/* file-list */
.c-file-list {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-file-list > li + li {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #efefef;
}
.c-file-list li a {
	font-size: 12px;
}
.c-file-list__img {
	height: 16px;
	vertical-align: sub;
	margin-right: 5px;
}


/* toggle */
.c-toggle {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #222;
	line-height: 18px;
}
.c-toggle__input {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}
.c-toggle__input:checked ~ label:before {
	background-color: #17191e;
}
.c-toggle__input:checked ~ label:after {
	left: 20px;
	background-color: #E1E2E1;
}
.c-toggle__label {
	display: inline-block;
	position: relative;
	padding-left: 46px;
	color: #222;
	font-size: 14px;
	cursor: pointer;
}
.c-toggle__label:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 36px;
	height: 18px;
	background-color: #E1E2E1;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.c-toggle__label:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 14px;
	height: 14px;
	background-color: #17191e;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.iw-container {
	color: #333;
	font-size: 14px;
}
.iw-container h2 {
	padding: 5px 0;
	background-color: #181a1f;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}
.iw-container dl {
	overflow: hidden;
	margin-top: 10px;
}
.iw-container dt {
	float: left;
	width: 80px;
}
.iw-container dd {
	float: left;
	width: calc(100% - 80px);
}
.iw-container p {
	font-size: 12px;
	margin-top: 5px;
}
.iw-container p span {
	font-weight: 700;
}




/* c-result-list */
.c-result-list {
	width: 100%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-result-list > li + li {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #efefef;
}
.c-result-list .c-input-list  li {
	line-height: 22px;
	font-size: 12px;
}
.c-result-list .c-input-list  li:last-child {
	float: right;
}


/* ul table */
.c-list-table {
    display: table;
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333
}
.c-list-table__tr {
    display: table-row;
}
.c-list-table__tr-list {
	display: table;
	width: 100%;
}
.c-list-table__th {
	display: table-cell;
	border-bottom: 2px solid #333;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.c-list-table__td {
	display: table-cell;
	padding: 5px;
	border-bottom: 1px solid #333;
	font-size: 14px;
	line-height: 1.4;
}
.c-list-table__tr:last-child .c-list-table__td {
	border-bottom: 0;
}

/* responsive table, search table */
.c-retable,
.c-searchtable {
	/*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 14px;
    border-top: 2px solid #181a1f;
    border-bottom: 2px solid #181a1f;
}
.c-retable th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    /* font-weight: 700; */
    word-break: break-all;
    word-wrap: break-word;
}
.c-retable td {
    height: 35px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-retable__title {
	width: 100%;
	white-space: normal !important;
	text-align: left;
}
.c-retable__white-space {
	min-width: 150px;
	width: 100%;
	white-space: normal !important;
}
.c-retable__subject {
	color: #333;
}
.c-retable__subject + img {
	display: inline;
	height: 14px;
	margin: 0;
	padding: 0;
}
.c-retable__subject:hover {
	color: rgb(0, 0, 238);
	text-decoration: underline;
}
.c-retable__tablet-list {
	display: block;
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px dashed #efefef;
}
.c-retable__tablet-list.non-border {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.c-retable__tablet-list:before {
	content: " ";
	display: table;
}
.c-retable__tablet-list:after {
	content: " ";
	display: table;
	clear: both;
}
.c-retable__tablet-list li {
	float: left;
	display: block;
	width: 50%;
	padding: 3px 0;
	font-size: 12px;
	text-align: left;
}
.c-retable__tablet-list li:nth-child(2n) {
	text-align: right;
}
.c-retable__tablet-list li img {
	height: 16px;
	vertical-align: sub;
	margin-right: 5px;
}
.c-retable__tr--tablet-visible,
.c-retable--tablet-visible {
	display: none;
}
.c-retable__span--tablet-visible {
	display: none;
}

.c-searchtable th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    /* font-weight: 700; */
    word-break: break-all;
    word-wrap: break-word;
}
.c-searchtable td {
    height: 35px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-searchtable__title {
	
}
.c-searchtable__button {
	width: 60px;
	white-space: normal;
	text-align: left;
}
@media (max-width: 768px) {
	.c-searchtable__button {
		width: 61px;
		padding: 5px !important;
	}
}

.c-searchtext {
	display: block;
	position: relative;
	width: 100%;
}
.c-searchtext:before {
	content: " ";
	display: table;
}
.c-searchtext:after {
	content: " ";
	display: table;
	clear: both;
}
.c-searchtext__label {
	float: left;
	display: block;
	width: 100px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}
.c-searchtext__input {
	float: left;
	display: block;
	width: calc(100% - 100px);
	height: 30px;
	padding: 0 10px;
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	color: #222;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: border-color .2s;
	outline: none;
}

@media(max-width: 1024px) {
	.c-retable td {
		white-space: normal;
		font-size: 14px;
	}
	.c-retable__tr--tablet-visible {
		display: table-row;
	}
	.c-retable--tablet-visible {
		display: block;
	}
	.c-ratable__tr--tablet-hidden,
	.c-retable--tablet-hidden {
		display: none;
	}
	.c-retable__span--tablet-visible {
		display: inline-block;
		margin-right: 10px;
	}
	.c-retable__title {
		display: block;
		width: 100%;
		height: auto !important;
		white-space: normal;
		text-align: left;
	}
		
	.c-searchtext {
		padding-top: 20px;
	}
	.c-searchtext__label {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 20px;
		font-size: 12px;
		line-height: 20px;
	}
	.c-searchtext__input {
		width: 100%;
	}
}

@media(max-width: 720px) {
	.c-retable__tablet-list li:nth-child(2n) {
		text-align: left;
	}
	.c-retable__list--mobile {
		width: 100% !important;
	}
}

