@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Malgun Gothic', sans-serif !important;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* common */
body {
    background-color: #efefef;
}

.m-wrap {
	position: relative;
	padding-top: 50px;
}
.m-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	padding: 0 20px;
	background-color: #b9dcd2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
}
.m-logo {
	display: block;
	float: left;
	width: 140px;
	height: 50px;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 120px;
	background-size: 120px;
	background-position: left center;
	text-indent: -9999px;
}
.m-head-console {
	overflow: hidden;
	float: right;
	margin-top: 13px;
}
.m-head-console li {
	float: left;
}
.m-head-console li + li {
	margin-left: 10px;
}
.m-head-console li a {
	color: #007e37;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}
.m-contents {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 80px);
	padding: 40px 20px;
	background-color: #f7f7f7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m-main-menu {
	
}
.m-main-menu li + li {
	margin-top: 10px;
}

.m-banner {
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #007e37;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 60px;
}

.m-collectionlist {
	positoin: relative;
	border: 1px solid #89aaa1;
}
.m-collectionlist > ul > li + li {
	border-top: 1px solid #89aaa1;
}
.m-collectionlist__heading {
	display: block;
	padding: 10px;
	background-color: #b9dcd2;
	color: #007e37;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m-collectionlist__heading.active {
	background-color: #89aaa1;
	color: #fff;
}
.m-collectionlist__detail {
	padding: 5px 10px;
	background-color: #ecffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m-collectionlist__detail li {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	line-height: 1.2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m-collectionlist__detail li + li {
	border-top: 1px solid #89aaa1;
}
.m-collectionlist__detail li:last-child {
	text-align: right;
}
.m-collectionlist__button {
	display: inline-block;
	padding: 5px;
	background-color: #007e37;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
}


.m-footer {
	position: relative;
	height: 30px;
	padding: 0 10px;
	background-color: #fff;
	color: #ddd;
	font-size: 10px;
	text-align: right;
	line-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}