<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script type="text/javascript">

		$(function() {
			//업체 등록
			$("#compSaveBtn").on('click',function(){
				save();
			});
			$("#btnSearch").on('click',function(){
				callList(1);
			});
			$("#btnDel").on('click',function(){
				del();
			});
			$("#btnNew").on('click',function(){
				init();
			});
			$("#btnReset").on('click',function(){
				reset();
			});
		});

		// 조건초기화
		function reset() {
			$("#s_csNumber").val('');
			$("#s_csOperator").val('');
			$("#s_csDivision").val('');
			$("#s_csRegional").val('');
		}

		// 신규작성
		function init(){
			$("#csNumber").val('');
			$("#csOperator").val('');
			$("#csOperatorSub").val('');
			$("#csDivision").val('DT0001');
			$("#csRegional").val('RT0001');
			$("#csRepresentative").val('');
			$("#csBuisnessNumber").val('');
			$("#csManager").val('');
			$("#csTelephone").val('');
			$("#csFax").val('');
		}

		// 업제저장
		function save() {
			var $form = $('form[name="compreg"]');

			var params = $form.serialize();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/company/reg',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					Swal.fire({
						text: '저장되었습니다.',
						type: "success"
					}).then(function () {
						init();
						callList(1);
					})
				}
			});
		}

		// 업체 리스트보기
		function callList(page) {
			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');

			var params = {
				csNumber:$('#s_csNumber').val(),
				csOperator:$('#s_csOperator').val(),
				csDivision:$('#s_csDivision').val(),
				csRegional:$('#s_csRegional').val()
			};

			$schList.empty().append('<tr ><td colspan="11" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/company/list?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});
					if (totCnt == 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="11" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.csNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csOperator) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csDivision) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csRegional) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csRepresentative) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csBuisnessNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csManager) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csTelephone)+'</td>';
						html += '<td >'+ echoNull2Blank(value.csFax)+'</td>';

						html += '<td ><button class="c-button c-button--point c-button--small" onclick="javascript:callInfo(\''+ echoNull2Blank(value.id) +'\');">조회</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 업체정보보기
		function callInfo(id) {

			var params = {
				id:id
			}

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/company/info',
				type: 'post',
				data: params,
				cache: false,
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				},
				success: function (res) {
					$("#csNumber").val(res.data.company.csNumber);
					$("#csOperator").val(res.data.company.csOperator);
					$("#csOperatorSub").val(res.data.company.csOperatorSub);
					$("#csDivision").val(res.data.company.csDivision);
					$("#csRegional").val(res.data.company.csRegional);
					$("#csRepresentative").val(res.data.company.csRepresentative);
					$("#csBuisnessNumber").val(res.data.company.csBuisnessNumber);
					$("#csManager").val(res.data.company.csManager);
					$("#csTelephone").val(res.data.company.csTelephone);
					$("#csFax").val(res.data.company.csFax);
				}
			});
		}

		//삭제버튼 실행
		function del() {
			if ($("#csNumber").val() == '') {
				Swal.fire({text:"삭제하고자하는 업체를 선택하세요."});
				return false;
			}
			Swal.fire({
				title: '업체를 삭제하시겠습니까?',
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(function (result) {
				if (result.value) {
					var params = {
						csNumber: $("#csNumber").val()
					};

					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					$(document).ajaxSend(function (e, xhr) {
						xhr.setRequestHeader(header, token);
					});

					$.ajax({
						url: '/api/company/del',
						type: 'post',
						data: params,
						cache: false,
						error: function (request) {
							ajaxErrorMsg(request);
						},
						success: function (res) {
							if (!Ajax.checkResult(res)) {
								return;
							}
							Swal.fire({
								title: '업체가 삭제 되었습니다.',
								type: "success"
							}).then(function () {
								init();
								callList(1);
							})
						}
					})
				}
			});
		}

</script>
</head>

<div layout:fragment="content"  class="content">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">업체 조회</h2>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회 후 초기화 버튼을 클릭하세요.)</span></h4>
				</div>
				<div class="l-float-heading--right"><button class="c-button c-button--small" id="btnReset">조건 초기화</button></div>
			</div>
			<table class="c-table">
				<tr>
					<th>관리코드</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_csNumber" class="c-text__input" />
						</div>
					</td>
					<th>운영사명</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_csOperator" class="c-text__input" />
						</div>
					</td>
					<th>업체구분</th>
					<td>
						<div class="c-select">
							<select id="s_csDivision" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="DivisionType : ${DivisionTypes}"
										th:value="${DivisionType.getCode()}"
										th:text="${DivisionType.getDesc()}">
								</option>
							</select>
						</div>
					</td>
					<th>운영권역</th>
					<td>
						<div class="c-select">
							<select id="s_csRegional" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="RegionalType : ${RegionalTypes}"
										th:value="${RegionalType.getCode()}"
										th:text="${RegionalType.getDesc()}">
								</option>
							</select>
						</div>
					</td>
					<td style="width: 60px;">
						<button class="c-button c-button--point" id="btnSearch">조회</button>
					</td>
				</tr>
			</table>
		</article>
		<article class="article">
			<table class="c-table">
				<thead>
					<tr>
						<th>관리코드</th>
						<th>운영사명</th>
						<th>업체구분</th>
						<th>운영권역</th>
						<th>대표자</th>
						<th>사업자번호</th>
						<th>담당자</th>
						<th>전화번호</th>
						<th>팩스번호</th>
						<th style="width: 40px;"></th>
					</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>
			
			<div class="c-pager">
				<div class="c-paging" id="paging1">
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id="totalCnt">0</div>
				</div>
			</div>
		</article>
	</section>
	
	<section class="section">
		<article class="article">
			<h2 class="article__heading">업체 등록</h2>
			<form name="compreg">
			<table class="c-table">
				<tbody>
					<tr>
						<th>관리코드</th>
						<td>
							<div class="c-text">
								<input type="text" class="c-text__input" id="csNumber" name="csNumber" readonly="readonly" />
							</div>
						</td>
						<th>업체구분</th>
						<td>
							<div class="c-select">
								<select name="csDivision" id="csDivision" class="c-select__input">
									<option th:each ="DivisionType : ${DivisionTypes}"
											th:value="${DivisionType.getCode()}"
											th:text="${DivisionType.getDesc()}">
									</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th>운영사명</th>
						<td>
							<div class="c-text">
								<input type="text" id="csOperator" name="csOperator" class="c-text__input" />
							</div>
						</td>
						<th>운영사명(약칭)</th>
						<td>
							<div class="c-text">
								<input type="text" id="csOperatorSub" name="csOperatorSub" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>운영권역</th>
						<td>
							<div class="c-select">
								<select name="csRegional" id="csRegional" class="c-select__input">
									<option th:each ="RegionalType : ${RegionalTypes}"
											th:value="${RegionalType.getCode()}"
											th:text="${RegionalType.getDesc()}">
									</option>
								</select>
							</div>
						</td>
						<th>대표자</th>
						<td>
							<div class="c-text">
								<input type="text" id="csRepresentative" name="csRepresentative" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>사업자번호</th>
						<td>
							<div class="c-text">
								<input type="text" id="csBuisnessNumber" name="csBuisnessNumber" class="c-text__input" />
							</div>
						</td>
						<th>담당자</th>
						<td>
							<div class="c-text">
								<input type="text" id="csManager" name="csManager" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td>
							<div class="c-text">
								<input type="text" id="csTelephone" name="csTelephone"class="c-text__input" />
							</div>
						</td>
						<th>팩스번호</th>
						<td>
							<div class="c-text">
								<input type="text" id="csFax" name="csFax" class="c-text__input" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item">
						<button class="c-button c-button--point" id="btnNew">신규</button>
					</div>
					<div class="c-function__item">
						<button class="c-button c-button--point" id ="compSaveBtn">저장</button>
					</div>
					<div class="c-function__item">
						<button class="c-button" id="btnDel">삭제</button>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
</html>
