<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
<head>
    <script type="text/javascript">
		$(function() {

			//자동실행
			LocationSetting();
			ModelChange();

			$('.pop__list').on('click', function(e) {
				$('#pop__list').addClass('open');

				e.preventDefault();
			});
			$('.l-popup__close').on('click', function(e) {
				$('.l-popup').removeClass('open');

				e.preventDefault();
			});

			//업체 등록
			$("#equSaveBtn").on('click',function(){
				save();
			});
			$("#btnSearch").on('click',function(){
				callList(1);
			});
			$("#btnDel").on('click',function(){
				del();
			});
			$("#btnNew").on('click',function(){
				init();
			});
			$("#btnReset").on('click',function(){
				reset();
			});
			$("#agencyBtnSearch").on('click',function(){
				agencyCallList(1);
			});

		});

		// 조건초기화
		function reset() {
			$("#s_emNumber").val('');
			$("#s_emDesignation").val('');
			$("#s_emType").val('');
			$("#s_emCountry").val('');
		}

		// 신규작성
		function init(){
			$("#emNumber").val('');
			$("#emCerealNumber").val('');
			$("#emDesignation").val('');
			$("#emAwsNumber").val('');
			$("#emEmbeddedNumber").val('');
			$("#csNum").val('');
			$("#operator").val('');
			$("#emMaximumPayload").val('');
			$("#addmdId").val('');
			$("#addSell").val('');
			$("#emInstallDate").val('');
			$("#emSubName").val('');
			$("#emLatitude").val('');
			$("#emHardness").val('');

			$("#emCountryView").hide();
			$("#emLocationView").hide();

			$("#emCountry").show();
			$("#emLocation").show();

			ModelChange();
		}

		// 장비저장
		function save() {

			if ($("#mdId").val().trim() == '') {
				alertCaution("모델을 선택해주세요.");
				return false;
			}
			if ($("#emInstallDate").val().trim() == '') {
				alertCaution("설치일자를 선택해주세요.");
				return false;
			}
			if ($("#operator").val().trim() == '') {
				alertCaution("소속 운영사를 선택해주세요.");
				return false;
			}

			var $form = $('form[name="equreg"]');

			var params = $form.serialize();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/reg',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('저장되었습니다.')
					init();
					LocationSetting();
					callList(1);
				}
			});
		}

		// 운영사 리스트보기
		function agencyCallList(page) {
			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#agencySchList');
			var $totalCnt = $('#agencyTotalCnt');
			var params = {
				csNumber:$('#s_csnumber').val(),
				csOperator:$('#s_csoperator').val(),
			};

			$schList.empty().append('<tr ><td colspan="5" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/agencyList?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});
					if (totCnt == 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="5" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.csNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csOperator) +'</td>';

						html += '<td ><button class="c-button c-button--point c-button--small" onclick="javascript:callName(\''+ echoNull2Blank(value.id) +'\');">선택</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 장비 리스트보기
		function callList(page) {

			page = page - 1;
			if (page < 0) page = 0

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');

			var params = {
				emNumber:$('#s_emNumber').val(),
				emDesignation:$('#s_emDesignation').val(),
				emType:$('#s_emType').val(),
				emCountry:$('#s_emCountry').val(),
			};

			$schList.empty().append('<tr ><td colspan="9" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/list?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});
					if (totCnt == 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="9" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.emNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emCerealNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emDesignation) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emType) +'</td>';
						html += '<td >'+ echoNull2Blank(value.iModel) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emCountry)+'-'+echoNull2Blank(value.emLocation)+'</td>';
						html += '<td >'+ echoNull2Blank(value.emEmbeddedNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.company) +'</td>';

						html += '<td ><button class="c-button c-button--point c-button--small" onclick="javascript:callInfo(\''+ echoNull2Blank(value.id) +'\');">보기</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 장비정보보기
		function callInfo(id) {

			var params = {
				id:id
			}

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/info',
				type: 'post',
				data: params,
				cache: false,
				error: function (request, status, error) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					$("#emNumber").val(res.data.equipment.emNumber);
					$("#emCerealNumber").val(res.data.equipment.emCerealNumber);
					$("#emDesignation").val(res.data.equipment.emDesignation);
					$("#emAwsNumber").val(res.data.equipment.emAwsNumber);
					$("#emEmbeddedNumber").val(res.data.equipment.emEmbeddedNumber);
					$("#csNum").val(res.data.equipment.company.csNumber);
					$("#operator").val(res.data.equipment.company.csOperator);
					$("#emSubName").val(res.data.equipment.emSubName);
					$("#emLatitude").val(res.data.equipment.emLatitude);
					$("#emHardness").val(res.data.equipment.emHardness);

					// 날짜뷰 DATABASE(YYYYMMDD) -> VIEW(YYYY-MM-DD)
					var install = res.data.equipment.emInstallDate;
					var install2 = [install[0],install[1],install[2],install[3],"-",install[4],install[5],"-",install[6],install[7]];
					var installArray = install2.join('');
					$("#emInstallDate").val(installArray);

					$("#emCountry").hide();
					$("#emLocation").hide();

					$("#emCountryView").show();
					$("#emLocationView").show();

					// 보기버튼 클릭시 나라/지역 변경
					$("#emCountryView").val(res.data.equipment.emCountryName);
					$("#emLocationView").val(res.data.equipment.emLocationName);

					$("#emType").val(res.data.equipment.emTypeId)
					$("#mdId").val(res.data.equipment.mdId.id)
					$("#emCountry").val(res.data.equipment.emCountryId)
					$("#addSell").val(res.data.equipment.emLocationId)

					LocationSetting();
				}
			});
		}

		function selectBoxLocation(){
			if($("#addSell").val() != '') {
				var addLocationSelect = $("#addSell").val();
				$("#emLocation").val(addLocationSelect);
			}
		}

		// 운영사 넣기
		function callName(id) {
			var params = {
				id:id
			}
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/agencyInfo',
				type: 'post',
				data: params,
				cache: false,
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				},
				success: function (res) {
					$("#csNum").val(res.data.company.csNumber);
					$("#operator").val(res.data.company.csOperator);
					$('.l-popup__close').click();
				}
			});
		}

		//삭제버튼 실행
		function del() {
			if ($("#emNumber").val().trim() == '') {
				alertCaution("삭제하고자하는 장비를 선택하세요.");
				return false;
			}

			var params = {
				emNumber: $("#emNumber").val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) {
				xhr.setRequestHeader(header, token);
			});

			$.ajax({
				url: '/api/equipment/del',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('장비가 삭제 되었습니다.');
					init();
					callList(1);
				}
			})
		}

		function LocationSetting() {
			var params = {
				emCountry: $("#emCountry").val()
			};
			// console.log("emCountry : "+$("#emCountry").val());

			var $schList = $("#emLocation");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/location',
				type: 'post',
				data: params,
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';
					$.each(res.data.dataselect, function (key, value) {
						html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.name)+ '</option>';
					});
					$schList.html(html);
					selectBoxLocation();
				}
			});
		}

		function ModelChange() {
			var params = {
				emType: $("#emType").val()
			};

			var $schList = $("#mdId");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/modelchange',
				type: 'post',
				data: params,
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';

					if(res.data.dataselect==""){
						html += '<option value ="">' +"등록된 모델없음"+ '</option>';
					}else{
						$.each(res.data.dataselect, function (key, value) {
							html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.mdSubname)+ '</option>';
						});
					}
					$schList.html(html);
				}
			});
		}

    </script>

</head>

<div layout:fragment="content" class="contents-body">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">장비 조회</h2>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회 후 초기화 버튼을 클릭하세요.)</span></h4>
				</div>
				<div class="l-float-heading--right"><button class="c-button c-button--small" id="btnReset">조건 초기화</button></div>
			</div>
			<table class="c-table">
				<colgroup>
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 62px;" />
				</colgroup>
				<tr>
					<th>장비 번호</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_emNumber" class="c-text__input" />
						</div>
					</td>
					<th>장비 명칭</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_emDesignation" class="c-text__input" />
						</div>
					</td>
					<th>모델 타입</th>
					<td>
						<div class="c-select">
							<select id="s_emType" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="equipdType : ${equipdTypes}"
										th:value="${equipdType.code}"
										th:text="${equipdType.name}"
								></option>
							</select>
						</div>
					</td>
					<th>국가</th>
					<td>
						<div class="c-select">
							<select id="s_emCountry" class="c-select__input" >
								<option value="">전체</option>
								<option th:each ="equipdCountry : ${equipdCountrys}"
										th:value="${equipdCountry.code}"
										th:text="${equipdCountry.name}">
								</option>
							</select>
						</div>
					</td>
					<td>
						<button class="c-button c-button--point" id="btnSearch">조회</button>
					</td>
				</tr>
			</table>
		</article>
		<article class="article">
			<table class="c-table">
				<colgroup>
					<col />
					<col />
					<col />
					<col />
					<col />
					<col />
					<col />
					<col />
					<col style="width: 100px;" />
				</colgroup>
				<thead>
					<tr>
						<th>장비 번호</th>
						<th>장비 시리얼 번호</th>
						<th>장비 명칭</th>
						<th>모델 타입</th>
						<th>모델명/종류</th>
						<th>국가/지역</th>
						<th>임베디드 기판 번호</th>
						<th>소속운영사</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>

			<div class="c-pager">
				<div class="c-paging" id="paging1">
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id="totalCnt">0</div>
				</div>
			</div>
		</article>
	</section>
	
	<section class="section">
		<article class="article">
			<h2 class="article__heading">장비 등록</h2>
			<form name="equreg">
			<table class="c-table">
				<tbody>
					<tr>
						<th>장비 번호</th>
						<td>
							<div class="c-text">
								<input type="text" id="emNumber" name="emNumber" class="c-text__input" readonly="readonly" />
							</div>
						</td>
						<th>장비 시리얼 번호</th>
						<td>
							<div class="c-text">
								<input type="text" name="emCerealNumber" id="emCerealNumber" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>장비 명칭</th>
						<td>
							<div class="c-text">
								<input type="text" name="emDesignation" id="emDesignation" class="c-text__input" />
							</div>
						</td>
						<th>모델 선택</th>
						<td>
							<ul class="c-input-list">
								<li>
									<div class="c-select" style="width: 180px;">
										<select name="emType" id="emType" class="c-select__input" onchange="ModelChange()">
											<option th:each ="equipdType : ${equipdTypes}"
													th:value="${equipdType.id}"
													th:text="${equipdType.name}"
											></option>
										</select>
									</div>
								</li>
								<li>
									<div class="c-select" style="width: 180px;">
										<select name="mdId" id="mdId" class="c-select__input" >
										</select>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>설치일자</th>
						<td>
							<div class="c-calendar-layout">
								<div class="c-date" style="width: 100%;">
									<input type="date" class="c-date__input" name="emInstallDate" id="emInstallDate" />
								</div>
							</div>
						</td>
						<th>국가/지역</th>
						<td>
							<ul class="c-input-list">
								<li>
									<div class="c-select" style="width: 180px;">
										<input id="emCountryView" class="c-text__input" style="display:none;" readonly="readonly" />
										<select name="emCountry" id="emCountry" class="c-select__input" onchange="LocationSetting()">
											<option th:each ="equipdCountry : ${equipdCountrys}"
													th:value="${equipdCountry.id}"
													th:text="${equipdCountry.name}">
											</option>
										</select>
									</div>
								</li>
								<li>
									<div class="c-select" style="width: 180px;">
										<input id="emLocationView" class="c-text__input" style="display:none;" readonly="readonly" />
										<input id="addSell" class="c-text__input" style="display:none;" readonly="readonly" />
										<select name="emLocation" id="emLocation" class="c-select__input" >
										</select>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>임베디드 기판 번호</th>
						<td>
							<div class="c-text">
								<input type="text" name="emEmbeddedNumber" id="emEmbeddedNumber" class="c-text__input" />
							</div>
						</td>
						<th>소속운영사</th>
						<td>
							<div class="c-search-form">
								<input type="text" class="c-text__input" name="operator" id="operator" readonly="readonly" />
								<input type="text" id="csNum" class="c-text__input" readonly="readonly" />
								<button class="c-search-form__button pop__list">검색</button>
							</div>
						</td>
					</tr>
					<tr>
						<th>AWS상 Device ID</th>
						<td>
							<div class="c-text">
								<input type="text" name="emAwsNumber" id="emAwsNumber" class="c-text__input" />
							</div>
						</td>
						<th>장비약칭(사용자지정)</th>
						<td>
							<div class="c-text">
								<input type="text" name="emSubName" id="emSubName" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>위도</th>
						<td>
							<div class="c-text">
								<input type="text" name="emLatitude" id="emLatitude" class="c-text__input" onkeyup="return delHangle(event)" />
							</div>
						</td>
						<th>경도</th>
						<td>
							<div class="c-text">
								<input type="text" name="emHardness" id="emHardness" class="c-text__input" onkeyup="return delHangle(event)" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item">
						<button class="c-button c-button--point" id="btnNew">신규</button>
					</div>
					<div class="c-function__item">
						<button class="c-button c-button--point" id ="equSaveBtn">저장</button>
					</div>
					<div class="c-function__item">
						<button class="c-button" id="btnDel">삭제</button>
					</div>
				</div>
			</div>
		</article>
	</section>

	<div class="l-popup" id="pop__list">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">운영사 조회</h3>
			</div>
			<div class="l-popup__content">
				<div class="l-popup__section">
					<table class="c-table c-table--non-border">
						<colgroup>
							<col style="width: 100px;" />
							<col />
							<col style="width: 100px;" />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<tbody>
						<tr>
							<th>관리코드</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csnumber" name="s_csnumber"/>
								</div>
							</td>
							<th>운영사명</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csoperator" name="s_csoperator"/>
								</div>
							</td>
							<td>
								<button class="c-button c-button--point" id="agencyBtnSearch">조회</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="l-popup__section">
					<table class="c-table">
						<colgroup>
							<col />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<thead>
						<tr>
							<th>관리코드</th>
							<th>운영사명</th>
							<th></th>
						</tr>
						</thead>
						<tbody id ="agencySchList">

						</tbody>
					</table>

					<div class="c-pager">
						<div class="c-paging" id ="agencyPaging">
							<!-- 페이징 처리되는곳   -->
						</div>
						<div class="c-paging__total">
							<div class="c-paging__total-group">
								Total
							</div>
							<div class="c-paging__total-group" id ="agencyTotalCnt">0</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="l-popup__close">팝업닫기</a>
		</div>
	</div>
	<div id='alertpop'>
	</div>
</div>
</html>
