<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
	<script type="text/javascript">

		$(function(){
			if($("#headerMode").val()==="1"){
				$("#default_wrap").addClass('wrap');
				$("#header_platform").css('display','block');
			}else{
				$("#default_wrap").addClass('wrap nav--small');
				$("#header_platform").css('display','none');
			}

			$("#mdSaveBtn").on('click',function(){
				save();
			});

			$("#btnNew").on('click',function(){
				init();
			});

			$("#btnSearch").on('click',function(){
				modelList(1);
			});

			$("#btnReset").on('click',function(){
				reset();
			});

			$("#btnDel").on('click',function(){
				modelDelCheck();
			});

		});

		

		// 조건초기화
		function reset() {
			$("#s_mdName").val('');
			$("#s_mdType").val('');
			$('#s_emType').val('');
			$("#s_mdRemark").val('');
		}

		// 파일초기화
		function fileReset() {
			var agent = navigator.userAgent.toLowerCase();
			var $file = $("#file");
			if ( (navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) || (agent.indexOf("msie") !== -1) ){
				// IE 일때 input[type=file] init.
				$file.replaceWith($file.clone(true) );
			} else {
				//other browser 일때 input[type=file] init.
				$file.val("");
			}
		}
		// 모델신규작성
		function init(){
			fileReset();
			$("#mdNumber").val('');
			$("#mdName").val('');
			$("#mdSubname").val('');
			$("#mdRemark").val('');
			$("#mdMaximumPayload").val('');
			$("#defaultfile").show();
			var $modelfile = $("#modelfile");
			$modelfile.hide();
			$("#filename").val('');
			$modelfile.attr("src","");
		}

		// 모델 등록
		function save() {
			var $mdName = $("#mdName");
			if ($mdName.val().trim() === '') {
				alertCaution("모델명을 작성해주세요.");
				return false;
			}

			var formData = new FormData(document.getElementById('mdreg'));

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/model/reg',
				type : 'post',
				data : formData,
				processData : false,
				contentType : false,
				enctype: 'multipart/form-data',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('저장되었습니다.');
					init();
					modelList(1);
				}
			});
		}

		// 모델조회
		function modelList(page){

			page = page - 1;
			if (page < 0) page = 0;

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');

			var params = {
				mdName:$('#s_mdName').val(),
				emType:$('#s_emType').val(),
				mdType:$('#s_mdType').val(),
				mdRemark:$('#s_mdRemark').val(),
			};

			$schList.empty().append('<tr ><td colspan="9" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/model/list?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res) {
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'modelList'});
					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="9" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var baseurl = res.data.awss3url;
					var html = '';
					$.each(res.data.datalist, function(key, value){
						// console.log("value.filePath : "+value.filePath);
						// console.log("value.saveFileName : "+value.saveFileName);
						html += '<tr >';
							html += '<td >'+ nvl(value.mdNumber,"확 인 불 가") +'</td>';
							html += '<td >'+ nvl(value.mdName,"확 인 불 가") +'</td>';
							html += '<td >'+ nvl(value.emType,"확 인 불 가") +'</td>';
							html += '<td >'+ nvl(value.mdType,"확 인 불 가") +'</td>';
							html += '<td >'+ nvl(value.mdMaximumPayload,"확 인 불 가")+nvl(value.mdUnit,"확 인 불 가")+'</td>';
							html += '<td><img width="20" src="'+baseurl+nvl(value.filePath,"확 인 불 가")+nvl(value.saveFileName,"확 인 불 가")+'"</img></td>';
							html += '<td >'+ nvl(value.mdSubname,"확 인 불 가") +'</td>';
							html += '<td >'+ nvl(value.mdRemark,"확 인 불 가") +'</td>';
						html += '<td ><button class="c-button c-button--point c-button--small" onclick="modelInfo(\''+nvl(value.id,"확 인 불 가")+'\');">보기</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 모델정보보기
		function modelInfo(id) {
			fileReset();
			var params = {
				id:id
			};
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/model/info',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					var baseurl = res.data.awss3url;
					var $modelfile = $("#modelfile");

					$("#defaultfile").hide();
					$modelfile.show();
					$("#mdNumber").val(res.data.iModel.mdNumber);
					$("#mdName").val(res.data.iModel.mdName);
					$("#emType").val(res.data.iModel.emTypeId);
					$("#mdType").val(res.data.iModel.mdTypeId);
					$("#mdSubname").val(res.data.iModel.mdSubname);
					$("#mdMaximumPayload").val(res.data.iModel.mdMaximumPayload);
					$("#mdUnit").val(res.data.iModel.mdUnitId);
					$("#mdRemark").val(res.data.iModel.mdRemark);
					$("#filename").val(res.data.filerealname);
					$modelfile.attr("src",baseurl+res.data.filepath+res.data.filename);
				}
			});
		}

		function modelDelCheck(){
			if ($("#mdNumber").val().trim() === '') {
				alertCaution("삭제하고자하는 모델을 선택하세요.");
				return false;
			}
			alertCheck("모델을 삭제하겠습니까?",null);
		}
		// 삭제실행여부확인
		function startDel(id,booleanValue) {
			$('#popupId').remove();
			if(booleanValue===true){
				del()
			}else{
				return false;
			}
		}
		//삭제버튼 실행
		function del() {
			var $mdNumber = $("#mdNumber");
			var params = {
				mdNumber: $mdNumber.val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) {xhr.setRequestHeader(header, token);});

			$.ajax({
				url: '/api/model/del',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('모델이 삭제 되었습니다.');
					init();
					modelList(1);
				}
			})
		}

		//한글을 지우는 함수
		function delHangle(evt){
			var objTarget = evt.srcElement || evt.target;
			var _value = event.srcElement.value;
			if(/[ㄱ-ㅎㅏ-ㅡ가-핳]/g.test(_value)) {
				alertCaution("숫자만 입력가능합니다.");
				objTarget.value = null;
			}
		}

		// 소수점한개로 제한한 실수값입력할수있게하는 함수
		function isNumberKey(evt) {
			var charCode = (evt.which) ? evt.which : event.keyCode;

			var _value = event.srcElement.value;

			if (event.keyCode < 48 || event.keyCode > 57) {
				if (event.keyCode !== 46) {
					return false;
				}
			}
			// 소수점(.)이 두번 이상 나오지 못하게
			var _pattern0 = /^\d*[.]\d*$/;
			if (_pattern0.test(_value)) {
				if (charCode === 46) {
					return false;
				}
			}
			// 소수점 둘째자리까지만 입력가능
			var _pattern2 = /^\d*[.]\d{2}$/;
			if (_pattern2.test(_value)) {
				alertCaution("소수점 둘째자리까지만 입력가능합니다.");
				return false;
			}
		}

    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">모델 조회</h2>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회 후 초기화 버튼을 클릭하세요.)</span></h4>
				</div>
				<div class="l-float-heading--right"><button class="c-button c-button--small" id="btnReset">조건 초기화</button></div>
			</div>
			<table class="c-table">
				<colgroup>
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 62px;" />
				</colgroup>
				<tr>
					<th>모델명</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_mdName" class="c-text__input" />
						</div>
					</td>
					<th>모델 타입</th>
					<td>
						<div class="c-select">
							<select id="s_emType" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="equipdType : ${equipdTypes}"
										th:value="${equipdType.code}"
										th:text="${equipdType.name}"
								></option>
							</select>
						</div>
					</td>
					<th>모델 종류</th>
					<td>
						<div class="c-select">
							<select id="s_mdType" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="modelType : ${modelTypes}"
										th:value="${modelType.code}"
										th:text="${modelType.name}"
								></option>
							</select>
						</div>
					</td>
					<th>특이사항</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_mdRemark" class="c-text__input" />
						</div>
					</td>
					<td>
						<button class="c-button c-button--point" id="btnSearch">조회</button>
					</td>
				</tr>
			</table>
		</article>
		<article class="article">
			<table class="c-table">
				<colgroup>
					<col />
					<col />
					<col />
					<col />
					<col />
					<col style="width: 60px;" />
					<col />
					<col />
					<col style="width: 50px;"/>
				</colgroup>
				<thead>
				<tr>
					<th>모델 번호</th>
					<th>모델명</th>
					<th>모델 종류</th>
					<th>모델 타입</th>
					<th>최대적재량</th>
					<th>이미지</th>
					<th>모델명(약칭)</th>
					<th>특이사항</th>
					<th></th>
				</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>

			<div class="c-pager">
				<div class="c-paging" id="paging1">
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id="totalCnt">0</div>
				</div>
			</div>
		</article>
	</section>

	<section class="section">
		<article class="article">
			<h2 class="article__heading">모델 등록</h2>
			<form id ="mdreg" enctype="multipart/form-data">
				<table class="c-table">
					<colgroup>
						<col style="width: 150px;" />
						<col />
						<col style="width: 150px;" />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<th>모델 번호</th>
							<td>
								<div class="c-text">
									<input type="text" name="mdNumber" id="mdNumber" class="c-text__input" readonly="readonly" />
								</div>
							</td>
							<th>모델명</th>
							<td>
								<div class="c-text">
									<input type="text" name="mdName" id="mdName" class="c-text__input" />
								</div>
							</td>
						</tr>
						<tr>
							<th>모델 타입/종류</th>
							<td>
								<ul class="c-input-list c-input-list--flex">
									<li>
										<div class="c-select">
											<select id="emType" name="emType" class="c-select__input">
												<option th:each ="equipdType : ${equipdTypes}"
														th:value="${equipdType.id}"
														th:text="${equipdType.name}"
												></option>
											</select>
										</div>
									</li>
									<li>
										<div class="c-select">
											<select id="mdType" name="mdType" class="c-select__input">
												<option th:each ="modelType : ${modelTypes}"
														th:value="${modelType.id}"
														th:text="${modelType.name}"
												></option>
											</select>
										</div>
									</li>
								</ul>
							</td>
							<th>최대적재량/단위</th>
							<td>
								<ul class="c-input-list c-input-list--flex">
									<li>
										<div class="c-select">
											<input name="mdMaximumPayload" id="mdMaximumPayload" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
										</div>
									</li>
									<li class="flex-auto" style="width: 60px;">
										<div class="c-select">
											<select name="mdUnit" id="mdUnit" class="c-select__input" >
												<option th:each ="equipdUnit : ${equipdUnits}"
														th:value="${equipdUnit.id}"
														th:text="${equipdUnit.name}">
												</option>
											</select>
										</div>
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th>모델명(약칭)</th>
							<td>
								<div class="c-text">
									<input type="text" name="mdSubname" id="mdSubname" class="c-date__input" />
								</div>
							</td>
							<th>특이사항</th>
							<td>
								<div class="c-text">
									<input type="text" name="mdRemark" id="mdRemark" class="c-date__input" />
								</div>
							</td>
						</tr>
						<tr>
							<th>이미지업로드</th>
							<td>
								<div class="c-picfile">
									<img src="/assets/images/icon__picfile.png" alt="파일선택 " class="c-picfile__default" id="defaultfile" />
									<img src="" alt="파일 선택 후 이미지" class="c-picfile__picture" id="modelfile" />
									<input type="text" readonly="readonly" id="filename" class="c-picfile__filename" placeholder="파일을 선택해주세요." />
									<div class="c-picfile__upload"><label for="file">파일선택<input type="file" id="file" name="file" class="c-picfile__input" accept="image/*" /></label></div>
								</div>
							</td>
							<th></th>
							<td></td>
						</tr>
					</tbody>
				</table>
			</form>
			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item">
						<button class="c-button c-button--point" id="btnNew">신규</button>
					</div>
					<div class="c-function__item">
						<button class="c-button c-button--point" id ="mdSaveBtn">저장</button>
					</div>
					<div class="c-function__item">
						<button class="c-button" id="btnDel">삭제</button>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
</html>
