<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--    <head th:replace="fragments/config :: configFragment"></head>-->
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

        <!-- 공통으로 쓰이는 css파일을넣는다.-->
        <link rel="stylesheet" href="/assets/css/main.css"/>
        <link rel="stylesheet" href="/assets/css/new/component.css"/>
        <link rel="stylesheet" href="/assets/css/new/common.css"/>
        <link rel="stylesheet" href="/assets/js/alert/min_alert.css"/>
        <link rel="stylesheet" href="/assets/js/charts/Chart.min.css"/>
        <link rel="stylesheet" href="/assets/js/c3/c3.css"/>
		<link rel="stylesheet" href="/assets/js/cropper/croppie.css"/>

        <!-- 공통으로 쓰이는 js파일을넣는다.-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        <script src="/assets/js/monthpicker/MonthPicker.min.js"></script>
        <script src="/assets/js/broadwave.common.js"></script>
        <!--<script src="/assets/js/common-pc.js"></script>-->
        <script src="/assets/js/broadwave.ajax.js"></script>
        <script src="/assets/js/charts/Chart.min.js"></script>
        <script src="/assets/js/charts/ChartBundle.min.js"></script>
        <script src="/assets/js/charts/utils.js"></script>
        <script src="/assets/js/d3/d3.js"></script>
        <script src="/assets/js/c3/c3.js"></script>
        <script src="/assets/js/new/common.js"></script>
        <script src="/assets/js/alert/min_alert.js"></script>
		<script src="/assets/js/cropper/croppie.min.js"></script>
		<script src="/assets/js/cropper/exif.js"></script>
        <!--		구글지도-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPWQiEPh0gq9T4qk1LdJBLqnR43JfcUy0&callback" async defer></script>

		<script>
			$(function(){

				teamAndposition();

				$("#profilebtnSave").on('click',function(){
					profileSave();
				});

				$("#passwordbtnPassSave").on('click',function(){
					passSave();
				});

				$("#profile").change(function() {
					profileURL(this);
				});

			});

			//부서,직급 select
			function teamAndposition() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				var $teamList = $("#profileteamcode");
				var $positionList = $("#profilepositionid");

				$.ajax({
					url:'/api/account/teamAndposition',
					type : 'post',
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}

						var html = '';
						var html2 = '';

						if(res.data.profilepositions=="" || res.data.profilepositions==null){
							html += '<option value ="">' +"등록된 직급없음"+ '</option>';
						}else{
							$.each(res.data.profilepositions, function (key, value) {
								html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.name)+ '</option>';
							});
						}
						$positionList.html(html);

						if(res.data.profileteams=="" || res.data.profileteams==null){
							html2 += '<option value ="">' +"등록된 부서없음"+ '</option>';
						}else{
							$.each(res.data.profileteams, function (key, value) {
								html2 += '<option value ="' + echoNull2Blank(value.teamcode) + '">' + echoNull2Blank(value.teamname)+ '</option>';
							});
						}
						$teamList.html(html2);

						profileInfo();
					}
				});
			}

			//프로필 변경
			function profileSave() {
				if ($("#prousername").val().trim() == '') {
					alertCaution("이름을 입력하세요.");
					$("#prousername").trigger('focus');
					return false;
				}

				if ($("#procellphone").val().trim() == '') {
					alertCaution("전화번호를 입력하세요.");
					$("#procellphone").trigger('focus');
					return false;
				}

				if ($("#proemail").val().trim() == '') {
					alertCaution("이메일을 입력하세요.");
					$("#proemail").trigger('focus');
					return false;
				}

				var formData = new FormData(document.getElementById('proreg'));

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/account/profilereg',
					type : 'post',
					data : formData,
					processData : false,
					contentType : false,
					enctype: 'multipart/form-data',
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						alertSuccess('저장되었습니다.');
						profileInfo();
						profileReset();

						$(document).on("click","#successBtn",function(e){
							$('.profile-pop').removeClass('active');
							e.preventDefault();
						});
					}
				});
			}

			//프로필정보
			function profileInfo() {

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				var params = {
					prouserid:$("#prouserid").val()
				};

				$.ajax({
					url: '/api/account/profileinfo',
					type: 'post',
					data: params,
					cache: false,
					error: function (request, status, error) {
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						var AWSS3URL = res.data.AWSS3URL;

						$("#baseprofilename").html(res.data.accountProfile.username);
						$("#baseprofilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#headerprofilename").html(res.data.accountProfile.username);
						$("#headerprofilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#profilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#prousername").val(res.data.accountProfile.username);
						$("#proemail").val(res.data.accountProfile.email);
						$("#procellphone").val(res.data.accountProfile.cellphone);
						$("#profileteamcode").val(res.data.accountteamcode);
						$("#profilepositionid").val(res.data.accountposition);
					}
				});
			}

			//비밀번호 변경
			function passSave() {
				if ($("#oldpassword").val().trim() == '') {
					alertCaution("현재비밀번호를 입력하세요..");
					$("#oldpassword").trigger('focus');
					return false;
				}

				if ($("#newpassword").val().trim() == '') {
					alertCaution("신규비밀번호를 입력하세요.");
					$("#newpassword").trigger('focus');
					return false;
				}

				if ($("#passwordconfirm").val().trim() == '') {
					alertCaution("비밀번호 확인을 주세요.");
					$("#passwordconfirm").trigger('focus');
					return false;
				}

				var $form = $('form[name="profilepassword"]');
				var params = $form.serialize();

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/account/modifypassword',
					type : 'post',
					data : params,
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						alertSuccess('비밀번호가 변경되었습니다.');
						profileInfo();

						$(document).on("click","#successBtn",function(e){
							$('.password-pop').removeClass('active');
							e.preventDefault();
						});

						$("#oldpassword").val('');
						$("#newpassword").val('');
						$("#passwordconfirm").val('');
					}
				});
			}

			// 파일업로드시 미리보기 함
			function profileURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						$('#profilePhoto').attr('src', e.target.result);
					};
					reader.readAsDataURL(input.files[0]);
				}
			}

			// 파일초기화
			function profileReset() {
				var agent = navigator.userAgent.toLowerCase();
				if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ){
					$("#profile").replaceWith( $("#profile").clone(true) );
				} else {
					$("#profile").val("");
				}
			}

		</script>

    </head>

	<div class="wrap">
    		<header th:replace="fragments/header :: headerFragment"></header>
			
			<div class="contents">
				<div class="contents-header">
					<a href="#" class="nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</a>
					<div class="contents-profile">
		    			<a href="#" class="contents-profile__btn">
			    			<span class="contents-profile__pic">
			    				<img id="baseprofilePhoto" src="" />
			    			</span>
			    			<span id="baseprofilename" class="contents-profile__info"></span>
		    			</a>
		    			<div class="profile-context">
			    			<a href="#" class="profile-context--profile profile-pop__btn">Profile</a>
			    			<a href="#" class="profile-context--password profile-pop__btn--password">Password</a>
			    			<form th:action="@{/logout}" method="post">
			    				<span class="profile-context--logout">
			    					<input type="submit" value="Logout" title="Logout" />
			    				</span>
						    </form>
		    			</div>
	    			</div>
				</div>


				<div class="profile-pop">
					<form class="profile-pop__form" id ="proreg" enctype="multipart/form-data">
						<div class="profile-pop__picture">
							<div class="profile-pop__picture-img">
								<img id="profilePhoto" src="" />
							</div>
							<div class="profile-pop__picture-upload">
								<label for="profile"></label>
								<input type="file" id="profile" name="profile" />
							</div>
						</div>
						<div class="profile-pop__list">
							<div class="profile-pop__item">
								<div class="c-text">
									<label for="prousername" class="c-text__label">이름</label>
									<input id="prousername" name="username" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-text">
									<label for="procellphone" class="c-text__label">전화번호</label>
									<input id="procellphone" name="cellphone" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-text">
									<label for="proemail" class="c-text__label">이메일</label>
									<input id="proemail" name="email" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-select">
									<label for="profileteamcode" class="c-text__label">부서</label>
									<select name="team" id="profileteamcode" class="c-select__input">
									</select>
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-select">
									<label for="profilepositionid" class="c-text__label">직급</label>
									<select name="position" id="profilepositionid" class="c-select__input">
									</select>
								</div>
							</div>
						</div>
					</form>
					<div class="c-function">
						<div class="c-function__group c-function__group--right">
							<div class="c-function__item"><button id="profilebtnSave" class="c-button c-button--point">저장</button></div>
							<div class="c-function__item"><button class="c-button profile-pop__close">취소</button></div>
						</div>
					</div>
				</div>




				<div class="password-pop">
					<form name="profilepassword" class="password-pop__form">
						<div class="password-pop__list">
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="oldpassword" class="c-text__label">현재 비밀번호 확인</label>
									<input id="oldpassword" name="oldpassword" type="password" class="c-text__input" />
								</div>
							</div>
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="newpassword" class="c-text__label">새 비밀번호</label>
									<input id="newpassword" name="newpassword" type="password" class="c-text__input" />
								</div>
							</div>
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="passwordconfirm" class="c-text__label">새 비밀번호 확인</label>
									<input id="passwordconfirm" name="passwordconfirm" type="password" class="c-text__input" />
								</div>
							</div>
						</div>
					</form>
					<div class="c-function">
						<div class="c-function__group c-function__group--right">
							<div class="c-function__item"><button id="passwordbtnPassSave" class="c-button c-button--point">저장</button></div>
							<div class="c-function__item"><button class="c-button password-pop__close">취소</button></div>
						</div>
					</div>
				</div>
				
				<div layout:fragment="content"></div>
				
				<footer th:replace="fragments/footer:: footerFragment"></footer>
			</div>

    </div>

	<div id='alertpop'>
	</div>

</html>
