<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--    <head th:replace="fragments/config :: configFragment"></head>-->
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name=”format-detection” content=”telephone=no”/>

        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title>자연상점 폐기물 통합수거관리시스템</title>

        <!-- 공통으로 쓰이는 css파일을넣는다.-->
       <!--  <link rel="stylesheet" href="/assets/js/bxslider/jquery.bxslider.min.js" /> -->
       	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="/assets/css/main.css"/>
        <link rel="stylesheet" href="/assets/css/new/component.css"/>
        <link rel="stylesheet" href="/assets/css/new/common.css"/>
        <link rel="stylesheet" href="/assets/js/alert/min_alert.css"/>
        <link rel="stylesheet" href="/assets/js/charts/Chart.min.css"/>
        <link rel="stylesheet" href="/assets/js/c3/c3.css"/>

        <!-- 공통으로 쓰이는 js파일을넣는다.-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        <!-- <script src="/assets/js/bxslider/jquery.bxslider.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script src="/assets/js/monthpicker/MonthPicker.min.js"></script>
        <script src="/assets/js/broadwave.common.js"></script>
        <!--<script src="/assets/js/common-pc.js"></script>-->
        <script src="/assets/js/broadwave.ajax.js"></script>
        <script src="/assets/js/charts/Chart.min.js"></script>
        <script src="/assets/js/charts/ChartBundle.min.js"></script>
        <script src="/assets/js/charts/utils.js"></script>
        <script src="/assets/js/d3/d3.js"></script>
        <script src="/assets/js/c3/c3.js"></script>
        <script src="/assets/js/new/common.js"></script>
        <script src="/assets/js/alert/min_alert.js"></script>

		<!--테스트-->
		<link rel="stylesheet" href="/assets/js/cropper/cropper.css"/>
		<script src="/assets/js/cropper/cropper.min.js"></script>

        <!--구글지도-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8iOdkgwuxzjMqcI_STFPFzQrgjcpNKos" async defer></script>

		<style>

			.img-container {
				max-width: 320px;
			}
			.img-container img {
				width: 100%;
			}

			.cropper-crop-box, .cropper-view-box {
				border-radius: 50%;
			}

			.cropper-view-box {
				box-shadow: 0 0 0 1px #39f;
				outline: 0;
			}

			.cropper-face {
				background-color:inherit !important;
			}

			.cropper-dashed, .cropper-point.point-se, .cropper-point.point-sw, .cropper-point.point-nw,   .cropper-point.point-ne, .cropper-line {
				display:none !important;
			}

			.cropper-view-box {
				outline:inherit !important;
			}

		</style>

		<script>
			$(function(){
				// $('#profilePhotoChange').addClass('open');
				$('.l-popup__close').on('click', function(e) {
					profileReset();
					$('.l-popup').removeClass('open');
					if(window.cropper) {
						cropper.destroy();
						$('#profileTest').attr('src','');
					}
					e.preventDefault();
				});

				var $headerMode = $("#headerMode");
				if($headerMode.val()===""){
					// console.log("세션날라감 해더모드값 1로 셋팅");
					$headerMode.val(1);
				}

				teamAndposition();

				$("#profilebtnSave").on('click',function(){
					profileSave();
				});

				$("#passwordbtnPassSave").on('click',function(){
					passSave();
				});

				$("#headerModeChange").on('click',function(){
					headerModeChange($headerMode.val());
				});

				$("#profile").change(function() {
					profileURL(this);
				});

			});

			//소속사,부서,직급 select
			function teamAndposition() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

				var $teamList = $("#profileteamcode");
				var $positionList = $("#profilepositionid");

				$.ajax({
					url:'/api/account/teamAndposition',
					type : 'post',
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}

						var html = '';
						var html2 = '';

						if(res.data.profilepositions==="" || res.data.profilepositions==null){
							html += '<option value ="">' +"등록된 직급없음"+ '</option>';
						}else{
							$.each(res.data.profilepositions, function (key, value) {
								html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.name)+ '</option>';
							});
						}
						$positionList.html(html);

						if(res.data.profileteams==="" || res.data.profileteams==null){
							html2 += '<option value ="">' +"등록된 부서없음"+ '</option>';
						}else{
							$.each(res.data.profileteams, function (key, value) {
								html2 += '<option value ="' + echoNull2Blank(value.teamcode) + '">' + echoNull2Blank(value.teamname)+ '</option>';
							});
						}
						$teamList.html(html2);

						profileInfo();
					}
				});
			}

			//프로필 변경
			function profileSave() {
				var $prousername = $("#prousername");
				if ($prousername.val().trim() === '') {
					alertCaution("이름을 입력하세요.");
					$prousername.trigger('focus');
					return false;
				}

				var formData = new FormData(document.getElementById('proreg'));

				var profilePhoto;
				var array = [];
				if(roundedCanvas!==undefined) {
					var imgDataUrl = roundedCanvas.toDataURL();
					var blobBin = atob(imgDataUrl.split(',')[1]);	// base64 데이터 디코딩
					for (var i = 0; i < blobBin.length; i++) {
						array.push(blobBin.charCodeAt(i));
					}
					profilePhoto = new Blob([new Uint8Array(array)], {type: 'image/png'});	// Blob 생성
					formData.append("profilePhoto", profilePhoto);	// file data 추가
				}else{
					profilePhoto = new Blob([new Uint8Array(array)], {type: 'image/png'});	// Blob 생성
					formData.append("profilePhoto", profilePhoto);
				}

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/account/profilereg',
					type : 'post',
					data : formData,
					processData : false,
					contentType : false,
					enctype: 'multipart/form-data',
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						alertSuccess('저장되었습니다.');
						profileInfo();
						profileReset();

						$(document).on("click","#successBtn",function(e){
							$('.profile-pop').removeClass('active');
							e.preventDefault();
						});
					}
				});
			}

			function headerModeChange(headerMode) {
				var params = {
					headerMode : headerMode
				};

				$.ajax({
					url:'/api/account/headerMode',
					data: params,
					type:'post',
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if(res.data.headerMode===2){
							$("#headerMode").val(2);
							$("#header_platform").css('display','none');
							$("#header_collection").css('display','none');
							$("#header_dashboard").css('display','none');
							$("#header_device").css('display','none');
							$("#header_account").css('display','none');
						}else{
							$("#headerMode").val(1);
						}
					}
				});
			}

			//프로필정보
			function profileInfo() {

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

				var params = {
					prouserid:$("#prouserid").val()
				};

				$.ajax({
					url: '/api/account/profileinfo',
					type: 'post',
					data: params,
					cache: false,
					error: function (request) {
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						var AWSS3URL = res.data.AWSS3URL;
						// console.log("프로필사진넣음");
						// $("#profileImage").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);

						$("#baseprofilename").html(res.data.accountProfile.username);
						$("#baseprofilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#headerprofilename").html(res.data.accountProfile.username);
						$("#headerprofilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#profilePhoto").attr("src",AWSS3URL+res.data.profilefilepath+res.data.profilefilename);
						$("#prousername").val(res.data.accountProfile.username);
						$("#proemail").val(res.data.accountProfile.email);
						$("#procellphone").val(res.data.accountProfile.cellphone);
						$("#profileteamcode").val(res.data.accountteamcode);
						$("#profilepositionid").val(res.data.accountposition);
					}
				});
			}

			//비밀번호 변경
			function passSave() {
				if ($("#oldpassword").val().trim() === '') {
					alertCaution("현재비밀번호를 입력하세요..");
					$("#oldpassword").trigger('focus');
					return false;
				}

				if ($("#newpassword").val().trim() === '') {
					alertCaution("신규비밀번호를 입력하세요.");
					$("#newpassword").trigger('focus');
					return false;
				}

				if ($("#passwordconfirm").val().trim() === '') {
					alertCaution("비밀번호 확인을 주세요.");
					$("#passwordconfirm").trigger('focus');
					return false;
				}

				var $form = $('form[name="profilepassword"]');
				var params = $form.serialize();

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/account/modifypassword',
					type : 'post',
					data : params,
					cache:false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function(res){
						if (!Ajax.checkResult(res)) {
							return;
						}
						alertSuccess('비밀번호가 변경되었습니다.');
						profileInfo();

						$(document).on("click","#successBtn",function(e){
							$('.password-pop').removeClass('active');
							e.preventDefault();
						});

						$("#oldpassword").val('');
						$("#newpassword").val('');
						$("#passwordconfirm").val('');
					}
				});
			}

			// 파일업로드시 미리보기 함
			function profileURL(input) {

				var profile = input.files;

				if(!/\.(jpg|jpeg|png)$/i.test(profile[0].name)){
					alertCaution('jpeg, jpg, png 파일만 선택해 주세요.\n\n현재 파일 : ' + profile[0].name);
				}else{
					// console.log("사진팝업띄움");
					$('#profilePhotoChange').addClass('open');
					if (profile && profile[0]) {
						var reader = new FileReader();
						reader.onload = function(e) {
							// console.log("e.target.result : "+e.target.result);
							$("#profileImage").attr('src', e.target.result);
						};
						reader.readAsDataURL(profile[0]);
					}

					setTimeout(function() {
						photoUpdate();
					},50)
				}
			}

			var cropper;
			var croppable;
			//프로필사진 - 수정버튼
			function photoUpdate() {
				// console.log("자르기시작");
				var profileImage = document.getElementById('profileImage');
				cropper = new Cropper(profileImage, {
					moveable: false,
					zoomable: false,
					rotatable: false,
					scalable: false,
					aspectRatio: 1,
					viewMode: 1,
					ready: function () {
						croppable = true;
					}
				});
			}

			var croppedCanvas;
			var roundedCanvas;
			var roundedImage;
			var resultImg;
			//프로필사진 - 크롭버튼
			function cropBtn() {
				// console.log("크롭버튼 실행");
				resultImg = document.getElementById('resultImg');

				if(!croppable) {
					return;
				}

				croppedCanvas = cropper.getCroppedCanvas();

				roundedCanvas = getRoundedCanvas(croppedCanvas);

				roundedImage = document.createElement('img');
				roundedImage.id = "profileTest";
				roundedImage.style.cssText = 'display:none;';
				roundedImage.src = roundedCanvas.toDataURL();
				resultImg.innerHTML = '';
				resultImg.appendChild(roundedImage);

				successPhoto();
			}

			// 사진자르기실행
			function getRoundedCanvas(sourceCanvas) {
				var canvas = document.createElement('canvas');
				var context = canvas.getContext('2d');
				var width = sourceCanvas.width;
				var height = sourceCanvas.height;

				canvas.width = width;
				canvas.height = height;

				context.imageSmoothingEnabled = true;
				context.drawImage(sourceCanvas, 0, 0, width, height);
				context.globalCompositeOperation = 'destination-in';
				context.beginPath();
				context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
				context.fill();
				return canvas;
			}

			// 자르기완료버튼
			function successPhoto() {
				if(window.cropper) {
					profileReset();
					var $profileTest = $('#profileTest');
					$('#profilePhoto').attr('src',$profileTest.attr("src"));
					$profileTest.attr('src','');
					cropper.destroy();
				}
				$('.l-popup').removeClass('open');
			}

			// 파일초기화
			function profileReset() {
				var agent = navigator.userAgent.toLowerCase();
				var $profile = $("#profile");
				if ( (navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) || (agent.indexOf("msie") !== -1) ){
					$profile.replaceWith($profile.clone(true));
				} else {
					$profile.val("");
				}
			}

		</script>

    </head>

	<div id="default_wrap">
    		<header th:replace="fragments/header :: headerFragment"></header>
			
			<div class="contents">

				<div class="contents-header">
					<input id="headerMode" th:value="${session.headerMode}" style="display: none" readonly="readonly" />
					<a id="headerModeChange" href="#" class="nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</a>
					<div class="contents-profile">
		    			<a href="#" class="contents-profile__btn">
			    			<span class="contents-profile__pic">
			    				<img id="baseprofilePhoto" src="" />
			    			</span>
			    			<span id="baseprofilename" class="contents-profile__info"></span>
		    			</a>
		    			<div class="profile-context">
			    			<a href="#" class="profile-context--profile profile-pop__btn">Profile</a>
			    			<a href="#" class="profile-context--password profile-pop__btn--password">Password</a>
			    			<form th:action="@{/logout}" method="post">
			    				<span class="profile-context--logout">
			    					<input type="submit" value="Logout" title="Logout" />
			    				</span>
						    </form>
		    			</div>
	    			</div>
				</div>


				<div class="profile-pop">
					<form class="profile-pop__form" id ="proreg" enctype="multipart/form-data">
						<div class="profile-pop__picture">
							<div class="profile-pop__picture-img">
								<img id="profilePhoto" src="" />
							</div>
							<div class="profile-pop__picture-upload">
								<label for="profile"></label>
								<input type="file" id="profile" name="profile" accept="image/*" />
							</div>
						</div>
						<div class="profile-pop__list">
							<div class="profile-pop__item">
									<div class="c-text">
									<label for="prousername" class="c-text__label">이름</label>
									<input id="prousername" name="username" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-text">
									<label for="procellphone" class="c-text__label">전화번호</label>
									<input id="procellphone" name="cellphone" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-text">
									<label for="proemail" class="c-text__label">이메일</label>
									<input id="proemail" name="email" type="text" class="c-text__input" />
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-select">
									<label for="profileteamcode" class="c-text__label">부서</label>
									<select name="team" id="profileteamcode" class="c-select__input">
									</select>
								</div>
							</div>
							<div class="profile-pop__item">
								<div class="c-select">
									<label for="profilepositionid" class="c-text__label">직급</label>
									<select name="position" id="profilepositionid" class="c-select__input">
									</select>
								</div>
							</div>
						</div>
					</form>
					<div class="c-function">
						<div class="c-function__group c-function__group--right">
							<div class="c-function__item"><button id="profilebtnSave" class="c-button c-button--point">저장</button></div>
							<div class="c-function__item"><button class="c-button profile-pop__close">취소</button></div>
						</div>
					</div>
				</div>




				<div class="password-pop">
					<form name="profilepassword" class="password-pop__form">
						<div class="password-pop__list">
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="oldpassword" class="c-text__label">현재 비밀번호 확인</label>
									<input id="oldpassword" name="oldpassword" type="password" class="c-text__input" />
								</div>
							</div>
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="newpassword" class="c-text__label">새 비밀번호</label>
									<input id="newpassword" name="newpassword" type="password" class="c-text__input" />
								</div>
							</div>
							<div class="passowrd-pop__item">
								<div class="c-text">
									<label for="passwordconfirm" class="c-text__label">새 비밀번호 확인</label>
									<input id="passwordconfirm" name="passwordconfirm" type="password" class="c-text__input" />
								</div>
							</div>
						</div>
					</form>
					<div class="c-function">
						<div class="c-function__group c-function__group--right">
							<div class="c-function__item"><button id="passwordbtnPassSave" class="c-button c-button--point">저장</button></div>
							<div class="c-function__item"><button class="c-button password-pop__close">취소</button></div>
						</div>
					</div>
				</div>

				<div layout:fragment="content"></div>

				<footer th:replace="fragments/footer:: footerFragment"></footer>
			</div>

    </div>

	<div class="l-popup" id="profilePhotoChange">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">프로필 사진변경</h3>
			</div>
			<div class="l-popup__content" style="padding-bottom: 50px;">

				<div class="l-popup__section">
					<div class="img-container">
						<img src="" alt="Picture" id="profileImage">
					</div>
				</div>

				<div class="l-popup__section">
					<div id="resultImg">

					</div>
				</div>
				<button class="c-button c-button--point" style="position: absolute; bottom: 20px; right: 20px;" onclick="cropBtn()">완료</button>
			</div>

			<a href="#" class="l-popup__close" id="profilepopClose">팝업닫기</a>
		</div>
	</div>

	<div id='alertpop'>
	</div>

</html>
