sources:
  /usr/share: https://github.com/scouter-project/scouter/releases/download/v1.8.6/scouter-all-2.8.1.tar.gz
commands:
  scouter_auth:
    command: sudo chown -R tomcat:tomcat /usr/share/scouter
    ignoreErrors: true
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  timezone_setting:
    command: sudo rm /etc/localtime && sudo ln -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
files:
  /usr/share/scouter/agent.host/conf/scouter.conf:
    owner: tomcat
    group: tomcat
    content: "net_collector_ip=dev.broadwave.co.kr"
  /usr/share/scouter/agent.java/conf/scouter.conf:
    owner: tomcat
    group: tomcat
    content: "net_collector_ip=dev.broadwave.co.kr"
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_scouter_host.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      #PROCESS_NUM='ps -ef | grep "$1" | grep -v "grep" | wc -l'
      chown -R tomcat:tomcat /usr/share/scouter
      cd /usr/share/scouter/agent.host
      sudo -u tomcat nohup java -classpath ./scouter.host.jar scouter.boot.Boot ./lib >/dev/null 2>&1 &

container_commands:
  time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
  scouter_host_start:
    command: sudo -u tomcat ./host.sh
    cwd: /usr/share/scouter/agent.host
    leader_only: true
    ignoreErrors: true
