<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title>NatureStore</title>

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery-ui.min.js"></script>

		<link rel="stylesheet" href="/assets/css/mobile.css"/>
		<script src="/assets/js/mobile/mobile.js"></script>

	</head>
	<body>
		<div class="m-wrap">
			<div class="m-header">
				<h1 class="m-logo">
					<a href="/mobile/mobileindex">자연상점</a>
				</h1>
				<form th:action="@{/logout}" method="post" id="logout">
					<ul class="m-head-console">
						<li><a href="#" onclick="document.getElementById('logout').submit();">Logout</a></li>
					</ul>
				</form>
			</div>
			<div class="m-contents">
				<ul class="m-main-menu" sec:authorize = "hasRole('ROLE_ADMIN') or hasRole('ROLE_COLLECTOR')or hasRole('ROLE_SUBADMIN')">
					<li><a href="/devicestats/devicecontrol" sec:authorize = "hasRole('ROLE_ADMIN') or hasRole('ROLE_SUBADMIN')" class="m-banner">장치제어</a></li>
					<li><a href="/mobile/collectionlist" class="m-banner">수거업무리스트</a></li>
				</ul>
			</div>
			<div class="m-footer">© 2019 Broadwave Corporation. All rights Reserved.</div>
		</div>
	</body>
</html>