<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<header th:fragment="headerFragment" class="header">
	
	
	<!-- logo -->
	<h1 class="logo">
		<a href="/dashboard/dashboardall">자연상점</a>
	</h1>
	<!-- profile -->
	<div class="profile">
		<div class="profile__picture"><img id="headerprofilePhoto" src="" /></div>
		<div class="profile__info">
			<span>Welcome,</span>
			<h2 id="headerprofilename"></h2>
		</div>
	</div>
	<!-- nav -->
	<div class="nav">
		<ul>
			<li>
				<a href="#" class="nav__link nav__link--dash toggle">대시보드</a>
				<ul class="nav-child">
					<li><a href="/dashboard/dashboardall">대시보드종합</a></li>
					<li><a href="/dashboard/devicecontrol">장치제어</a></li>
					<li><a href="/dashboard/locationbase">위치기반</a></li>
				</ul>
			</li>
			<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
				<a href="#" class="nav__link nav__link--user toggle">사용자관리</a>
				<ul class="nav-child">
					<li><a href="/admin/accountapproval">사용자승인</a></li>
					<li><a href="/admin/accountreg">사용자관리</a></li>
					<li><a href="/signup">사용자등록 </a></li>
				</ul>
			</li>
			<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
				<a href="#" class="nav__link nav__link--platform toggle">플랫폼관리</a>
				<ul class="nav-child">
					<li><a href="/admin/mastercodereg">마스터코드등록</a></li>
					<li><a href="/admin/teamreg">부서등록</a></li>
					<li><a href="/admin/compreg">업체등록</a></li>
					<li><a href="/admin/equipreg">장비등록</a></li>
					<li><a href="/admin/modelreg">모델등록</a></li>
					<li><a href="/admin/vehiclereg">차량등록</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav__link nav__link--platform toggle">장비관리</a>
				<ul class="nav-child">
					<li><a href="/devicestats/daysdevice">일자별장비현황</a></li>
				</ul>
			</li>



			<!--모바일전용-->
			<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN') or hasRole('ROLE_COLLECTOR')">
				<a href="#" class="nav__link nav__link--platform toggle">수거관리</a>
				<ul class="nav-child">
					<li><a href="/collection/collectiontask">수거업무등록</a></li>
					<li><a href="/collection/mobileindex">모바일인덱스</a></li>
					<li><a href="/collection/collectionlist">수거업무리스트</a></li>
					<li><a href="/collection/collectionprocess">수거처리</a></li>
				</ul>
			</li>




			<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
				<a href="#" class="nav__link nav__link--dash toggle">테스트페이지</a>
				<ul class="nav-child">
					<li><a href="/testpage/mobileindex">모바일인덱스테스트</a></li>
					<li><a href="/testpage/collectionlisttest">수거업무리스트테스트</a></li>
					<li><a href="/testpage/collectionprocesstest">수거처리테스트</a></li>
					<li><a href="/testpage/dashboardfront">대시보드테스트(프론트)</a></li>
					<li><a href="/testpage/layout">프로필사진테스트</a></li>
					<li><a href="/testpage/monitering">모니터링테스트</a></li>
					<li><a href="/testpage/fileupload">파일업로드테스트</a></li>
					<li><a href="/testpage/listtest">리스트테스트</a></li>
					<li><a href="/testpage/listtest2">리스트테스트2</a></li>
					<li><a href="/testpage/listtest3">리스트테스트3</a></li>
					<li><a href="/testpage/daysdevicetest">일자별장비현황테스트</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- setting -->
	<div class="header-setting">
		<!-- 설정: 사진등록 -->
		<form th:action="@{/logout}" method="post" id="logout">
			<ul>
				<li>
					<a href="#" class="header-setting__btn-setting" title="Setting">Setting</a>
					<ul class="header-setting__sub">
						<li><a href="#" class="header-setting__sub-btn header-setting__sub-btn--profile profile-pop__btn" title="profile">profile</a></li>
						<li><a href="#" class="header-setting__sub-btn header-setting__sub-btn--password profile-pop__btn--password" title="password">password</a></li>
					</ul>
				</li>
				<li><a href="#" onclick="document.getElementById('logout').submit();" value="Logout" class="header-setting__btn-logout" title="logout">Logout</a></li>
			</ul>
		</form>

	</div>
</header>

</html>
