<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<header th:fragment="headerFragment" class="header">
	<!--<div class="header__inner">
		<div class="nav-icon" sec:authorize="isAuthenticated()">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a href="/" class="logo"><img src="/assets/images/logo--w.png" alt="iEchoProc" /></a>

		<nav class="nav" sec:authorize="isAuthenticated()">
			<h2 class="nav__heading"><a href="/"><img src="/assets/images/logo--w.png" alt="KICT 건설 119" /></a></h2>
			<ul class="nav__list">


				<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
					<a href="" class="nav__link toggle">대시보드</a>
					<ul class="nav__list-depth">
						<li><a href="/dashboard/graph" class="nav__link">그래프</a></li>
						<li><a href="/dashboard/layout" class="nav__link">레이아웃</a></li>
						<li><a href="/dashboard/dashboardTestPage" class="nav__link">테스트페이지</a></li>
						<li><a href="/dashboard/dashboardTestPage1" class="nav__link">테스트페이지1</a></li>
						<li><a href="/dashboard/monitering" class="nav__link">모니터링테스트</a></li>
						<li><a href="/dashboard/devicecontroltest" class="nav__link">장치제어테스트</a></li>
					</ul>
				</li>

				<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
					<a href="#" class="nav__link toggle">플랫폼 관리</a>
					<ul class="nav__list-depth">

						<li><a href="/admin/mastercodereg" class="nav__link">마스터코드등록</a></li>
						<li><a href="/admin/teamreg" class="nav__link">부서등록</a></li>
						<li><a href="/admin/compreg" class="nav__link">업체등록</a></li>
						<li><a href="/admin/equipreg" class="nav__link">장비등록</a></li>

					</ul>
				</li>

				<li class="nav__item" sec:authorize = "hasRole('ROLE_ADMIN')">
					<a href="" class="nav__link toggle">사용자관리</a>
					<ul class="nav__list-depth">
						<li><a href="/admin/accountapproval" class="nav__link">사용자승인</a></li>
						<li><a href="/admin/accountreg" class="nav__link">사용자관리</a></li>
						<li><a href="/signup" class="nav__link">사용자가입</a></li>
					</ul>
				</li>

			</ul>
		</nav>

		<div class="info" sec:authorize="isAuthenticated()">
			<ul>
				<li>
					<a href="/mypage" class="info__btn"><div sec:authentication="name"></div></a>

				</li>
				<li>
					<form th:action="@{/logout}" method="post">
				        <input type="submit" class="info__btn info__btn--logout" value="로그아웃" title="로그아웃" />
				    </form>
				</li>
			</ul>
		</div>
		<div class="info" sec:authorize="!isAuthenticated()">
			<ul>
				<li>
					<a href="/login" class="info__btn info__btn--login" title="로그인">로그인</a>
				</li>

			</ul>
		</div>
	</div>-->
	
	<!-- logo -->
	<h1 class="logo">
		<a href="/dashboard/dashboardTestPage">자연상점</a>
	</h1>
	<!-- profile -->
	<div class="profile">
		<div class="profile__picture"><img src="/assets/images/dummy/profile2.png" alt="" /></div>
		<div class="profile__info">
			<span>Welcome,</span>
			<h2>배꼼씨</h2>
		</div>
	</div>
	<!-- nav -->
	<div class="nav">
		<ul>
			<li>
				<a href="#" class="nav__link nav__link--dash toggle">대시보드</a>
				<ul class="nav-child">
					<li><a href="/dashboard/graph">그래프</a></li>
					<li><a href="/dashboard/layout">그래프dev</a></li>
					<li><a href="/dashboard/dashboardTestPage">test</a></li>
					<li><a href="/dashboard/dashboardTestPage1">test2</a></li>
					<li><a href="/dashboard/monitering">Monitoring test</a></li>
					<li><a href="/dashboard/devicecontroltest">장치제어테스트</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav__link nav__link--user toggle">사용자관리</a>
				<ul class="nav-child">
					<li><a href="/admin/accountapproval">사용자승인</a></li>
					<li><a href="/admin/accountreg">사용자관리</a></li>
					<li><a href="/signup">사용자등록 </a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav__link nav__link--platform toggle">플랫폼관리</a>
				<ul class="nav-child">
					<li><a href="/admin/mastercodereg">마스터코드등록</a></li>
					<li><a href="/admin/teamreg">부서등록</a></li>
					<li><a href="/admin/compreg">업체등록</a></li>
					<li><a href="/admin/equipreg">장비등록</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- setting -->
	<div class="header-setting">
		<!-- 설정: 사진등록 -->
		<ul>
			<li><a href="#" class="header-setting__btn-setting" title="설정">Setting</a></li>
			<li><a href="#" class="header-setting__btn-logout" title="logout">Logout</a></li>
		</ul>
	</div>
</header>

</html>
