<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">

<head>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPWQiEPh0gq9T4qk1LdJBLqnR43JfcUy0&callback" async defer></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

	<script type="text/javascript">

		$(function() {

			deviceListView(1);
			// LocationSetting();
			//awsDataListView();

			$("#btnSearch").on('click',function(){
				deviceListView(1);
			});

			$("#circleChart").on('click',function(){
				console.log("원차트 새로고침")
				refleshCircleChart(1);
			});
			$("#barChart").on('click',function(){
				console.log("막대차트 새로고침")
			});
			$("#mapChart").on('click',function(){
				console.log("맵차트 새로고침")
			});
			$("#allChart").on('click',function(){
				console.log("전체차트 새로고침")
			});

		});

		// 대시보드 시작하면 AWS 데이터값 뿌리기 (차트,리스트 View)
		function awsDataListView() {

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/dashboard/awsDataListView',
				type: 'post',
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var pushValue = new Array();
					$.each(res.data.equipment, function(key, value){
						pushValue.push(nvl(value.emNumber,"확 인 불 가"));
					});
					pushValue.sort();
					pushDeviceId(pushValue);
				}
			});
		}

		// 원차트 새로고침
		function refleshCircleChart(page) {

			var params = {
				emNumber:$('#s_emNumber').val(),
				emAgency:$('#s_Agency').val(),
				emType:$('#s_emType').val(),
				emCountry:$('#s_emCountry').val(),
				emLocation:$('#s_emLocation').val(),
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/dashboard/deviceInfoList',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					var pushValue = new Array();
					$.each(res.data.datalist, function(key, value){
						pushValue.push(nvl(value.emNumber,"확 인 불 가"));
					});
					console.log("pushValue : "+pushValue);
					pushDeviceId(pushValue);
				}
			});
		}

		// 막대차트 새로고침


		// 맵차트 새로고침


		// 장치리스트
		function deviceListView(page) {
			if ($("#intervaltime").val().trim() == '') {
				Swal.fire({text:"조회할 날짜를 선택해주세요"});
				return false;
			}

			var $deviceList = $('#deviceList');

			var params = {
				emNumber:$('#s_emNumber').val(),
				emAgency:$('#s_Agency').val(),
				emType:$('#s_emType').val(),
				emCountry:$('#s_emCountry').val(),
				// emCountry:$('#s_emLocation').val(),
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/dashboard/deviceInfoList',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					//화면 출력
					console.log("출력시작")

					var html = '';
					var pushValue = new Array();
					var installDate = new Array();
					var subname = new Array();
					var idx = 0;
					$.each(res.data.datalist, function(key, value){
						html += '<li class="c-list__item">'
							html += '<div id='+'listTest'+idx+' class="equipment">';

								html += '<div class="equipment__section">';
								html += '<h4 class="equipment__section-title">장치 상세 정보</h4>';
									html += '<ul class="equipment__info">'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'장비 ID : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emNumber,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'장비타입 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emType,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'최대적재량 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emMaximumPayload,"확 인 불 가")+' '+nvl(value.emUnit,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'운영사 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.company,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'지역 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emLocation,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'국가 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emCountry,"확 인 불 가")+'</span>';
										html += '</li>'
										html += '<li class="equipment__info-item">'
											html += '<span class="equipment__info-title">'+'설치일자 : '+'</span>'
											html += '<span class="equipment__info-value">'+nvl(value.emInstallDate,"확 인 불 가")+'</span>';
										html += '</li>'
									html += '</ul>'
								html += '</div>'
							html += '</div>'
						html += '</li>'

						idx++
						pushValue.push(nvl(value.emNumber,"확 인 불 가"));
						installDate.push(nvl(value.emInstallDate,"확 인 불 가"));
						subname.push(nvl(value.emSubName,"확 인 불 가"));
					});
					//console.log("보내는 장비번호 : "+pushValue+" 보내는 설치날짜 : "+installDate);
					$deviceList.html(html);
					deviceAWSListView(pushValue,installDate);

					pushDeviceId(pushValue,subname);
				}
			});
		}

		// ASW 장치 데이터리스트
		function deviceAWSListView(pushValue,installDate) {
			// console.log("장비리스트 뿌리기 시작")
			// console.log("받은 장비번호 : "+pushValue);
			// console.log("받은 설치날짜 : "+installDate);

			var deviceIds = new Array();
			for(i=0; i<pushValue.length; i++){
				deviceIds.push(pushValue[i]);
				// console.log("emNumber["+i+"]" +":"+pushValue[i]);
			}
			// deviceIds.push("ISOL-KR-SEL-0004");

			var installDatas = new Array();
			var installDayDatas = new Array();
			var today = new Date();

			//운영일구하기
			for(i=0; i<installDate.length; i++){
				installDatas.push(installDate[i].substring(0,4)+installDate[i].substring(6,8)+installDate[i].substring(10,12));
			}
			for(i=0; i<installDatas.length; i++){
				var dateString = installDatas[i];
				var dateObj = new Date(dateString.substring(0,4),Number(dateString.substring(4,6))-1,dateString.substring(6,8));
				//console.log("dateObj :"+dateObj);
				date1 = parseInt(today.getTime()/1000);
				date2 = parseInt(dateObj.getTime()/1000);
				var timeDifference = date1 - date2;
				var timeDifferenceInHours = timeDifference / 60 / 60;
				var betweenDay = timeDifferenceInHours  / 24;
				//console.log("betweenDay :"+betweenDay);
				installDayDatas.push(parseInt(betweenDay));
			}
			// console.log("installDatas :"+installDatas);
			//console.log("installDayDatas :"+installDayDatas);

			var itemJson = new Object();
			itemJson.deviceids = deviceIds;
			var devicestr = JSON.stringify(itemJson);

			var params = {
				deviceids:devicestr,
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/dashboard/deviceAWSListView',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res){
					//화면 출력
					var htmls = new Array();
					var htmls2 = new Array();
					var htmls3 = new Array();
					var idx = 0;
					$.each(res.data.devices, function (key, value) {
						var html = '';
						var html2 = '';
						var html3 = '';

						// console.log("res.data.devices : "+res.data.devices[idx]);
						// console.log("res.data.status : "+res.data.status[idx]);
						// console.log("res.data.temp_brd : "+res.data.temp_brd[idx]);
						// console.log("res.data.level : "+res.data.level[idx]);
						// console.log("res.data.batt_level : "+res.data.batt_level[idx]);
						// console.log("res.data.solar_current : "+res.data.solar_current[idx]);
						// console.log("res.data.solar_voltage : "+res.data.solar_voltage[idx]);

						if(res.data.status[idx]=="normal"){
							html2 += '<div class="equipment__section">';
							html2 += '<span class="equipment__stat normal">'+'정상'+'</span>'
							html2 += '<span class="equipment__connect on">'+'온라인'+'</span>';
							html2 += '<div class="equipment__img">';
							html2 += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html2 += '</div>';
							html2 += '</div>'
						}else if(res.data.status[idx]=="caution"){
							html2 += '<div class="equipment__section">';
							html2 += '<span class="equipment__stat caution">'+'주의'+'</span>'
							html2 += '<span class="equipment__connect off">'+'오프라인'+'</span>';
							html2 += '<div class="equipment__img">';
							html2 += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html2 += '</div>';
							html2 += '</div>'
						}else if(res.data.status[idx]=="severe"){
							html2 += '<div class="equipment__section">';
							html2 += '<span class="equipment__stat severe">'+'심각'+'</span>'
							html2 += '<span class="equipment__connect on">'+'온라인'+'</span>';
							html2 += '<div class="equipment__img">';
							html2 += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html2 += '</div>';
							html2 += '</div>'
						}else{
							html2 += '<div class="equipment__section">';
							html2 += '<span class="equipment__stat severe">'+'알수없음'+'</span>'
							html2 += '<span class="equipment__connect off">'+'오프라인'+'</span>';
							html2 += '<div class="equipment__img">';
							html2 += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html2 += '</div>';
							html2 += '</div>'
						}

						html += '<div class="equipment__section">'
						html += '<h4 class="equipment__section-title">상태 상세 정보</h4>'
						html += '<ul class="equipment__info">'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'운영일 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(installDayDatas[idx],"확 인 불 가 ")+'일'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'온도 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(res.data.temp_brd[idx],"확 인 불 가")+'℃'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'배출량 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(res.data.level[idx],"확 인 불 가")+'%'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'배터리잔량 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(res.data.batt_level[idx],"확 인 불 가")+'%'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'태양광판넬 전류 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(res.data.solar_current[idx],"확 인 불 가")+'A'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'태양광판넬 전압 : '+'</span>'
						html += '<span class="equipment__info-value">'+nvl(res.data.solar_voltage[idx],"확 인 불 가")+'V'+'</span>'
						html += '</li>'
						html += '</ul>'
						html += '</div>'

						html3 += '<div class="equipment__section">'
						html3 += '<canvas id='+'timeStampChart'+idx+' style="width: 100%;height: 220px;"></canvas>'
						html3 += '</div>'

						htmls.push(html)
						htmls2.push(html2)
						htmls3.push(html3)

						$('#listTest'+idx).append(htmls[idx]);
						$('#listTest'+idx).prepend(htmls2[idx]);
						$('#listTest'+idx).append(htmls3[idx]);

						timeStamp(nvl(res.data.devices[idx],"확 인 불 가"),idx);

						idx++
					});
					console.log("출력완료");
					// console.log("타임스탬프 데이터전송");
				}
			});
		}

		// 타임스탬프 그래프함수
		function timeStamp(pushValue,idx){
			// console.log("받아온 아이디 : "+pushValue);
			// console.log("받아온 시간 : "+$('#intervaltime').val());

			var params = {
				deviceid:pushValue,
				intervaltime:$('#intervaltime').val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/dashboard/devicehitory',
				type : 'post',
				data : params,
				cache:false,
				error:function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				},
				success: function(res) {
					statuscode= res.data.statusCode;
					// console.log("statuscode : "+statuscode)

					if (statuscode ===200) {
						// console.log("타임스탬프 그래프그리기 시작")

						var timeStamp = new Array(); //타임스탬프
						var temp_brd = new Array(); //온도
						var level = new Array(); //배출량
						var batt_level = new Array(); //배터리잔량
						var testTimeStamp = new Array();
						$.each(res.data.datarow1, function (key, value) {
							console.log("해당아이디 : "+value.deviceid);
							console.log("타임스탬프 : "+value.timestamp);
							console.log("온도 : "+value.temp_brd);
							// console.log("배출량 : "+value.level);
							// console.log("배터리잔량 : "+value.batt_level);

							var timestamp = parseInt(value.timestamp); // value.timestamp(밀리세컨드)는 문자열로 받아오기때문에 정수형으로 변환해준다.
							var date = new Date(timestamp);
							var month = date.getMonth()+1; // 1월을 0월로 보기때문에 월에 +1을 해준다.
							var day = date.getDate();
							var minutes = date.getMinutes();
							var seconds = date.getSeconds();
							if(day < 10){
								day = "0"+day;
							}
							if(minutes < 10){
								minutes = "0"+minutes;
							}
							if(seconds < 10){
								seconds = "0"+seconds;
							}
							var time =month+"월"+day+"일 "+date.getHours()+":"+minutes+":"+seconds

							console.log("날짜 : "+time)
							console.log("")
							testTimeStamp.push(parseInt(value.timestamp));
							timeStamp.push(time)
							temp_brd.push(value.temp_brd)
							level.push(value.level)
							batt_level.push(value.batt_level);
						});
						var days = $("#intervaltime").val(); // 기간선택 시간
						temp_brd_Max = Math.max.apply(0, temp_brd); // 온도최대값
						temp_brd_Min = Math.min.apply(0, temp_brd); // 온도최소값

						var ctx = document.getElementById('timeStampChart'+idx).getContext('2d');


						var nowDate = new Date();
						// 라벨 최대값 구하기 (현재날짜)
						var max_milliseconds = nowDate.getTime();
						// 라벨 최소값 구하기
						var min_milliseconds = nowDate.setHours(nowDate.getHours()-$("#intervaltime").val());
						console.log("현재날짜 : "+max_milliseconds);
						console.log("이전날짜 : "+min_milliseconds);

						var barChartData = {
							labels: testTimeStamp,
							datasets: [{
								type: 'line',
								label: '온도',
								yAxisID: 'y',
								backgroundColor: "#e35f5f",
								borderColor: "#e35f5f",
								data: temp_brd,
								fill: false
							}, {
								type: 'line',
								label: '배출량',
								yAxisID: 'x',
								backgroundColor: "#48ae63",
								borderColor: "#48ae63",
								data: level,
								fill: false
							},{
								type: 'line',
								label: '배터리잔량',
								yAxisID: 'x',
								backgroundColor: "#ffc600",
								borderColor: "#ffc600",
								data: batt_level,
								fill: false
							}]
						};

						new Chart(ctx, {
							data: barChartData,
							options: {
								elements: {
									point:{
										radius: 0
									}
								},
								maintainAspectRatio: false,
								stacked : true,
								tooltips: { //팁(모드설정)
									mode: 'index',
									intersect: false
								},
								hover: {
									mode: 'index',
									intersect: false
								},
								scales: {
									xAxes: [{
										// scaleLabel: {labelString:'Time', display: true},
										gridLines: {
											drawOnChartArea: false
										},
										display: true,
										type: 'time',
										time: {
											min: min_milliseconds,
											max: max_milliseconds,
											// unit:'minute',
											// displayFormats: {
											// 	'minute': 'hh:mm a'
											// }
										}
										// 	time: {
										// 		parser: 'YYYY-MM-DD HH:mm:ss',
										// 		tooltipFormat: 'll HH:mm:ss',
										// 		unit: 'day',
										// 		unitStepSize: 1,
										// 		displayFormats: {
										// 			'day': 'YYYY-MM-DD'
										// 		}
										// 	},
										}],
									yAxes: [{
											ticks: {
												callback: function(value, index, values) {
													return value+'%';
												},
												max: 100,
												min: 0,
												stepSize: 20
											},
											id: 'x',
											type: 'linear',
											display: true,
											position: 'left'
										},{
											ticks: {
												callback: function(value, index, values) {
													return value+'℃';
												},
												max: (temp_brd_Max+5).toFixed(0),
												min: (temp_brd_Min-5).toFixed(0)
											},
											id: 'y',
											type: 'linear',
											display: true,
											position: 'right',
											gridLines: {
												drawOnChartArea: false
											}
										}]
								}
							}
						});
					}
					// console.log("타임스탬프 그래프그리기 완료")
				}
			});
		}





		// aws deviceID값 push하는 함수 next -> 차트만들기
		function pushDeviceId(pushValue,subname) {
			// console.log("pushDeviceId - subname : "+subname)
			// console.log("차트그래프 그리기 시작")

			//상태값 차트 , 쓰레기양 차트
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			var deviceIds = new Array();
			for (var i=0; i<pushValue.length; i++){
				deviceIds.push(pushValue[i]);
			}
			// deviceIds.push("ISOL-KR-SEL-0004");

			var itemJson = new Object();
			itemJson.deviceids = deviceIds;
			var devicestr = JSON.stringify(itemJson);

			var params = {
				deviceids:devicestr
			};

			$.ajax({
				url: '/api/dashboard/dataGraph',
				type: 'post',
				data : params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					//상태값 차트
					circleChart(res.data.circle_data_columns,res.data.circle_data_count);
					//쓰레기양 차트
					barChart(res.data.bar_data_columns,res.data.device_list_columns,subname);
					// 맵에 장치보기
					mapDeviceId(res.data.map_data_columns,res.data.bar_data_columns,res.data.statusDatas);

					// console.log("차트그래프 그리기 완료, 맵 장비 출력완료")
				}
			});
		}

		// map
		function mapDeviceId(map_data_columns,bar_data_columns,statusDatas) {

			var locations = map_data_columns

			var map;
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 37.14450, lng: 127.03312},
				zoom: 8,
				mapTypeControl: false,
				streetViewControl: false
			});

			var marker, i;

			var infowindow = new google.maps.InfoWindow();

			for (i = 0; i < map_data_columns.length; i++) {
				marker = new google.maps.Marker({
					position: new google.maps.LatLng(map_data_columns[i][1], map_data_columns[i][2]),
					map: map
				});

				google.maps.event.addListener(marker, 'click', (function(marker, i) {
					var content = '<div class="iw-container" id="iw-container">' +
							'<h2>' + (map_data_columns[i][0]) + '</h2>' +
							'<dl>' +
							'<dt>' +'상태 : '+statusDatas[i]+'</dt>' +
							'<dd>' +'배출량 : '+bar_data_columns[i]+'%'+'</dd>' +
							'</dl>' +
							'</div>'
					return function() {
						infowindow.setContent(content);
						infowindow.open(map, marker);
					}
				})(marker, i));
			}
		}

		//상태값 차트
				function circleChart(circle_data_columns,circle_data_count){
				$("#statusAll").text(circle_data_count[0]);
				$("#statusNomal").text(circle_data_count[1]);
				$("#statusCaution").text(circle_data_count[2]);
				$("#statusSerious").text(circle_data_count[3]);

				var piechart = c3.generate({
				bindto: "#pie_chart",
				data: {
					columns: circle_data_columns,
					type: 'pie'
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '개';
						}
					}
				},
				color: {
					pattern: ['#48ae63', '#ffc600', '#e35f5f']
				}
			});
		}

		//쓰레기양 차트
		function barChart(barData,deviceList,subname) {
			// console.log("barData : "+barData);
			// console.log("deviceList : "+deviceList);
			// console.log("subname : "+subname);

			var barchart = c3.generate({
				bindto: "#bar_chart",
				data: {
					columns: [barData],
					type: "bar"
				},
				tooltip: {
					format: {
						value: function (value) {
							return value + '%'
						}
					}
				},
				axis: {
					x: {
						label: {
							text: '장비명',
							position: 'outer-center'
						},
						type: 'category',
						categories: subname,
						tick: {
							centered: true
						}
					},
					y: {
						label: {
							text: '쓰레기양',
							position: 'outer-middle'
						},
						max: 100,
						min: 10
					}
				},
				legend: {
					hide: true
				},
				color: {
					pattern: ['#48ae63']
				}
			});
		}

		// 기간선택에 따라 보내는시간 변경하는 함수
		function intervaltimeChange(text) {
			if (text == "1Hours") {
				$("#intervaltime").val("1");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			}else if (text == "3Hours") {
				$("#intervaltime").val("3");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			}else if (text == "24Hours") {
				$("#intervaltime").val("24");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			} else if (text == "7Days") {
				$("#intervaltime").val("168");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			} else if (text == "1Month") {
				$("#intervaltime").val("720");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			} else if (text == "1Year") {
				$("#intervaltime").val("8760");
				$("#fromTo").hide();
				$("#dateFrom").val("");
				$("#dateTo").val("");
			} else if (text == "FromTo") {
				$("#intervaltime").val("");
				$("#fromTo").show();
			}
		}

		// 사용자정의 시간구하기 (날짜선택에따른 시간)
		function intervaltimeDate(date) {
			// console.log("date : " + date); 받아온날짜
			var today = new Date();
			var year = today.getFullYear();
			var month = today.getMonth()+1
			var day = today.getDate();
			if(month < 10){
				month = "0"+month;
			}
			if(day < 10){
				day = "0"+day;
			}
			var todayData = year+"-"+month+"-"+day;
			$("#dateTo").val(todayData);

			var dateObj = new Date(date);

			if (today<dateObj) {
				Swal.fire({text:"현재 날짜보다 앞선 날짜는 선택할 수 없습니다."});
				$("#intervaltime").val("");
				$("#dateFrom").val("");
				$("#dateTo").val("");
				return false;
			}

			// console.log("today : " + today); // 오늘날짜
			// console.log("dateObj : " + dateObj); // 사용자정의 날짜
			var hours = parseInt(Math.abs(today - dateObj) / 36e5); // 36e5는 60 * 60 * 1000의 과학 표기법으로, 밀리 초 차이를 시간으로 환산하여 나눔.
			// console.log("hours : " + hours); // 정해진시간
			$("#intervaltime").val(hours);
		}

		// 국가,지역검색
		function LocationSetting() {
			console.log("s_emCountry : "+$("#s_emCountry").val());

			var params = {
				s_emCountry: $("#s_emCountry").val()
			};

			var $schList = $("#s_emLocation");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/dashboard/location',
				type: 'post',
				data: params,
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';
					// html += '<option value ="">'+전체+'</option>';
					$.each(res.data.dataselect, function (key, value) {
						html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.name)+ '</option>';
					});
					$schList.html(html);
				}
			});
		}

	</script>
</head>
<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>대시보드</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__count">
				<div class="dashboard__count-item">
					<h4 class="dashbaord__count-title">전체</h4>
					<p class="dashboard__count-num" id='statusAll'></p>
				</div>
				<div class="dashboard__count-item">
					<h4 class="dashbaord__count-title">정상</h4>
					<p class="dashboard__count-num" id='statusNomal'></p>
				</div>
				<div class="dashboard__count-item">
					<h4 class="dashbaord__count-title">관심</h4>
					<p class="dashboard__count-num dashboard__count-num--warning" id='statusCaution'></p>
				</div>
				<div class="dashboard__count-item">
					<h4 class="dashbaord__count-title">심각</h4>
					<p class="dashboard__count-num dashboard__count-num--danger" id='statusSerious'></p>
				</div>
			</div>

			<div class="dashboard__row">
				<div class="panel panel--three">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">설치위치</h4>
							<div class="panel__console">
								<button class="panel__button refresh" id="mapChart">새로고침</button>
								<button class="panel__button fold">접기</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="map" id="map"></div>
						</div>
					</div>
				</div>
				<div class="panel panel--three">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">상태</h4>
							<div class="panel__console">
								<button class="panel__button refresh" id="circleChart">새로고침</button>
								<button class="panel__button fold">접기</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__stat" id="pie_chart"></div>
						</div>
					</div>
				</div>
				<div class="panel panel--three">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">배출량</h4>
							<div class="panel__console">
								<button class="panel__button refresh" id="barChart">새로고침</button>
								<button class="panel__button fold">접기</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__stat" id="bar_chart"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="dashboard__row">
				<!-- 검색영역 -->
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="panel__console">
								<div class="panel__console panel__console--left">
									<div class="c-btn-group">
										<h5 class="c-btn-group__title">기간 선택</h5>
										<div class="c-btn-group__list">
											<button onclick="intervaltimeChange(this.value)" value="1Hours" class="c-btn-group__button active">1Hours</button>
											<button onclick="intervaltimeChange(this.value)" value="3Hours" class="c-btn-group__button">3Hours</button>
											<button onclick="intervaltimeChange(this.value)" value="24Hours" class="c-btn-group__button">24Hours</button>
											<button onclick="intervaltimeChange(this.value)" value="7Days" class="c-btn-group__button">7Days</button>
											<button onclick="intervaltimeChange(this.value)" value="1Month" class="c-btn-group__button">1Month</button>
											<button onclick="intervaltimeChange(this.value)" value="1Year" class="c-btn-group__button">1Year</button>
											<button onclick="intervaltimeChange(this.value)" value="FromTo" class="c-btn-group__button">FromTo</button>
										</div>
										<input type="hidden" id="intervaltime" value = "24" readonly="readonly" />
									</div>
								</div>
								<div class="panel__console panel__console--right">
									<div class="c-float">
										<div class="c-float__item" id="fromTo" style="display: none">
											<div class="c-date-group" >
												<div class="c-date">
													<label for="dateFrom" class="c-date__label">from</label>
													<input type="date"  onchange="intervaltimeDate(this.value)" class="c-date__input" id="dateFrom" />
												</div>
												<div class="c-date">
													<label for="dateTo" class="c-date__label">today</label>
													<input type="date" class="c-date__input" id="dateTo" readonly />
												</div>
											</div>
										</div>
										<div class="c-float__item" style="padding-top: 15px;">
											<button class="panel__button refresh" id="allChart">새로고침</button>
											<button id="btnSearch" class="c-button c-button--point">조회</button>
										</div>
									</div>
								</div>
							</div>

							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="s_emNumber" class="c-text__label">장비번호</label>
										<input id="s_emNumber" type="text" class="c-text__input" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emType" class="c-select__label">장비 타입</label>
										<select name="" id="s_emType" class="c-select__input">
											<option value="">전체</option>
											<option th:each ="equipdType : ${equipdTypes}"
													th:value="${equipdType.code}"
													th:text="${equipdType.name}"
											></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-text">
										<label for="s_Agency" class="c-text__label">소속운영사</label>
										<input id="s_Agency" type="text" class="c-text__input" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emCountry" class="c-select__label">국가</label>
										<select id="s_emCountry" class="c-select__input">
											<option value="">전체</option>
											<option th:each ="equipdCountry : ${equipdCountrys}"
													th:value="${equipdCountry.code}"
													th:text="${equipdCountry.name}">
											</option>
										</select>
									</div>
								</div>
<!--								<div class="c-float__item">-->
<!--									<div class="c-select">-->
<!--										<label for="s_emLocation" class="c-select__label">지역</label>-->
<!--										<select id="s_emLocation" class="c-select__input">-->
<!--                                            <option value="">전체</option>-->
<!--										</select>-->
<!--									</div>-->
<!--								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">기기</h4>
<!--    									<div class="panel__console">-->
<!--    										<div class="c-search">-->
<!--	    										<input type="text" class="c-search__input" />-->
<!--	    										<button class="c-search__btn">검색</button>-->
<!--    										</div>-->
<!--    									</div>-->
						</div>
						<div class="panel__body panel__body--height-auto panel__body--non-padding">
							<ul id="deviceList" class="c-list equipment">

							</ul>
						</div>
<!--								<div class="c-pager">-->
<!--									<div class="c-paging" id="paging">-->
<!--									</div>-->
<!--									<div class="c-paging__total">-->
<!--										<div class="c-paging__total-group">-->
<!--											Total-->
<!--										</div>-->
<!--										<div class="c-paging__total-group" id="totalCnt">0</div>-->
<!--									</div>-->
<!--								</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>