<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
	<head>
		<style>
			#map {
				height: 370px;
				width: 400px;
			}
		</style>
		
		<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPWQiEPh0gq9T4qk1LdJBLqnR43JfcUy0&callback=initMap" async defer></script>
		<script>
			var locations = [
				['명동', 37.563576, 126.983431],
				['가로수길', 37.520300, 127.023008],
	            ['광화문', 37.575268, 126.976896],
	            ['남산', 37.550925, 126.990945],
	            ['이태원', 37.540223, 126.994005]
			]
		
			var map;
			
			function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 37.14450, lng: 127.03312},
					zoom: 8,
					mapTypeControl: false,
					streetViewControl: false
				});
				
				var marker, i;
				
				var infowindow = new google.maps.InfoWindow();
				
				for (i = 0; i < locations.length; i++) {
					marker = new google.maps.Marker({
						position: new google.maps.LatLng(locations[i][1], locations[i][2]),
						map: map
					});
					
					google.maps.event.addListener(marker, 'click', (function(marker, i) {
						var content = '<div class="iw-container" id="iw-container">' +
							'<h2>' + (locations[i][0]) + '</h2>' +
							'<dl>' +
								'<dt>위치정보</dt>' +
								'<dd>00시00구00동</dd>' +
							'</dl>' +
						'</div>'
				        return function() {
				          infowindow.setContent(content);
				          infowindow.open(map, marker);
				        }
				      })(marker, i));
				}
			}
		</script>

		<script type="text/javascript">
			$(function() {
				$("#btnSearch").on('click',function(){
					deviceListView(1);
				});
			});

			function deviceListView(page) {

				page = page - 1;
				if (page < 0) page = 0

				var perPage = 10;
				var perArea = 5;
				var totCnt = 0;

				var $deviceList = $('#deviceList');
				var $totalCnt = $('#totalCnt');

				$deviceList.empty().append('<tr ><td colspan="9" align = "center">조회 중</td></tr>');
				$totalCnt.text('0');

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/deviceInfoList?size='+ perPage + '&page=' + page,
					type : 'post',
					cache:false,
					error:function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					},
					success: function(res){
						//화면 출력
						totCnt = res.data.total_rows;
						$("#paging1").jqueryPager({pageSize: perPage,
							pageBlock: perArea,
							currentPage: page + 1,
							pageTotal: totCnt,
							clickEvent: 'callList'});
						if (totCnt == 0) {
							$deviceList.empty().append('<tr class="t-c"><td colspan="9" align="center">조회된 데이터가 없습니다.</td></tr>');
							return;
						}
						$totalCnt.text(totCnt);
						var html = '';
						$.each(res.data.datalist, function(key, value){
							html += '<tr >';
							html += '<td >'+ echoNull2Blank(value.emNumber) +'</td>';
							html += '<td >'+ echoNull2Blank(value.emType) +'</td>';
							html += '<td >'+ echoNull2Blank(value.emMaximumPayload)+' '+echoNull2Blank(value.emUnit)+'</td>';
							html += '<td >'+ echoNull2Blank(value.company) +'</td>';
							html += '<td >'+ echoNull2Blank(value.emLocation) +'</td>';
							html += '<td >'+ echoNull2Blank(value.emCountry) +'</td>';
							html += '<td >'+ echoNull2Blank(value.emInstallDate) +'</td>';
							html += '</tr>';
						});
						$deviceList.html(html);
					}
				});
			}
		</script>

	</head>

	<div layout:fragment="content" class="content">
		<section class="section">

			<!--구글지도-->
			<div class="map" id="map"></div>

			<br/>
			<article class="article">
				<h2 class="article__heading">장비 조회</h2>
				<table class="c-table">
					<tr>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td style="width: 60px;">
							<button class="c-button c-button--point" id="btnSearch">조회</button>
						</td>
					</tr>
				</table>
			</article>

			<article class="article">
				<table class="c-table">
					<tbody id="deviceList">

					</tbody>
				</table>

				<div class="c-pager">
					<div class="c-paging" id="paging1">
					</div>
					<div class="c-paging__total">
						<div class="c-paging__total-group">
							Total
						</div>
						<div class="c-paging__total-group" id="totalCnt">0</div>
					</div>
				</div>
			</article>
		</section>

	</div>
</html>