<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
	  
	<head>
		<script>

			$(function() {
				$("#removehour").removeClass(" active");
				$("#starthour").addClass(" active");
				$("#intervaltime").val("3");

				LocationSetting("");
				deviceMap();

				$("#btnSearch").on('click', function () {
					$("#mapLoaging").show();
					deviceMap();
					$("#deviceDetail").hide();
				})

			});

			// 맵에 장비코드 보내기
			function deviceMap() {
				if ($("#intervaltime").val().trim() == '') {
					alertCaution("조회할 날짜를 선택해주세요");
					return false;
				}

				var params = {
					emNumber:$('#s_emNumber').val(),
					emType:$('#s_emType').val(),
					emCountry:$('#s_emCountry').val(),
					emLocation:$('#s_emLocation').val(),
				};

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/deviceInfoList',
					type : 'post',
					data : params,
					cache:false,
					error:function(request,status,error){
						ajaxErrorMsg(request);
					},
					success: function(res){
						var pushValue = new Array();
						$.each(res.data.datalist, function(key, value){
							pushValue.push(nvl(value.emNumber,"확 인 불 가"));
						});
						MapChartDeviceId(pushValue);
					}
				});
			}

			// 장비정보 보내기
			function MapChartDeviceId(pushValue) {

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
				var deviceIds = new Array();
				for (var i=0; i<pushValue.length; i++){
					deviceIds.push(pushValue[i]);
				}
				var itemJson = new Object();
				itemJson.deviceids = deviceIds;
				var devicestr = JSON.stringify(itemJson);
				var params = {
					deviceids:devicestr
				};
				$.ajax({
					url: '/api/dashboard/detailMapDataGraph',
					type: 'post',
					data : params,
					cache: false,
					error: function (request) {
						ajaxErrorMsg(request);
					},
					success: function (res) {
						if (!Ajax.checkResult(res)) {
							return;
						}
						// 맵에 장치보기
						mapDeviceId(res.data.deviceIdNames,res.data.map_data_columns,res.data.bar_data_columns,res.data.statusDatas,res.data.temp_brd,res.data.batt_level,res.data.solar_current,res.data.solar_voltage);
						$("#mapLoaging").hide();
					}
				});
			}

			// 장비상세정보 리스트 보내기
			function mapDeviceId(deviceId,mapGps,level,status,temp_brd,batt_level,solar_current,solar_voltage) {

				var locations = mapGps

				var map;
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 37.14450, lng: 127.03312},
					zoom: 8,
					mapTypeControl: false,
					streetViewControl: false
				});

				var marker, i;

				var iconSrc = [];

				iconSrc['정상'] = "/assets/images/marker.png";
				iconSrc['주의'] = "/assets/images/marker--caution.png";
				iconSrc['심각'] = "/assets/images/marker--severe.png"

				var infowindow = new google.maps.InfoWindow();

				var bounds = new google.maps.LatLngBounds()

				for (i = 0; i < mapGps.length; i++) {
					if(map_data_columns[i][1]==0 || map_data_columns[i][2]==0){
						continue;
					}
					marker = new google.maps.Marker({
						position: new google.maps.LatLng(mapGps[i][1], mapGps[i][2]),
						map: map,
						icon: iconSrc[locations[i][3]]
					});

					bounds.extend(marker.position);

					google.maps.event.addListener(marker, 'click', (function(marker, i) {
						var content = '<div class="iw-container" id="iw-container">' +
								'<h2>' + (mapGps[i][0]) + '</h2>' +
								'<dl>' +
								'<dt>' +'상태 : '+status[i]+'</dt>' +
								'<dd>' +'배출량 : '+level[i+1]+'%'+'</dd>' +
								'</dl>' +
								'</div>'
						return function() {
							infowindow.setContent(content);
							infowindow.open(map, marker);
							$("#deviceDetail").show();
							deviceDetail(deviceId[i],level[i+1],status[i],temp_brd[i],batt_level[i],solar_current[i],solar_voltage[i]);
						}
					})(marker, i));
				}
				map.fitBounds(bounds);
			}

			// 장치리스트 출력
			function deviceDetail(pushValue,level,state,temp_brd,batt_level,solar_current,solar_voltage) {

				var $deviceDetail = $('#deviceDetail');

				var params = {
					pushValue:pushValue,
				};

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/deviceDetail',
					type : 'post',
					data : params,
					cache:false,
					error:function(request,status,error){
						ajaxErrorMsg(request);
					},
					success: function(res){

						var html = '';


						var emInstallDate = res.data.deviceDetailList.emInstallDate

						var installdate = emInstallDate.substring(0,4)+"년 "+emInstallDate.substring(4,6)+"월 "+emInstallDate.substring(6,8)+"일" // 설치일자 가공

						var today = new Date();
						var dateObj = new Date(emInstallDate.substring(0,4),Number(emInstallDate.substring(4,6))-1,emInstallDate.substring(6,8));
						date1 = parseInt(today.getTime()/1000);
						date2 = parseInt(dateObj.getTime()/1000);
						var timeDifference = date1 - date2;
						var timeDifferenceInHours = timeDifference / 60 / 60;
						var operationDay = timeDifferenceInHours  / 24; // 운영일 가공

						html += '<div class="equipment__section">';
						html += '<div id="stateLoading" class="c-loader">'
						html += '<div class="c-loader__active c-loader__active--ring"></div>'
						html += '</div>'
						if(state=="정상"){
							html += '<span class="equipment__stat normal">'+'정상'+'</span>';
							html += '<span class="equipment__connect on">'+'온라인'+'</span>';
							html += '<div class="equipment__img">';
							html += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html += '</div>';
						}else if(state=="주의"){
							html += '<span class="equipment__stat caution">'+'주의'+'</span>';
							html += '<span class="equipment__connect off">'+'오프라인'+'</span>';
							html += '<div class="equipment__img">';
							html += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html += '</div>';
						}else if(state=="심각"){
							html += '<span class="equipment__stat severe">'+'심각'+'</span>';
							html += '<span class="equipment__connect on">'+'온라인'+'</span>';
							html += '<div class="equipment__img">';
							html += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html += '</div>';
						}else{
							html += '<span class="equipment__stat severe">'+'알수없음'+'</span>';
							html += '<span class="equipment__connect off">'+'오프라인'+'</span>';
							html += '<div class="equipment__img">';
							html += '<img src="/assets/images/dummy/iSolarbin.png" alt="" />';
							html += '</div>';
						}
						html += '</div>';

						html += '<div class="equipment__section">'
						html += '<div id="deviceLoading" class="c-loader">'
						html += '<div class="c-loader__active c-loader__active--ring"></div>'
						html += '</div>'
						html += '<h4 class="equipment__section-title">장치 상세 정보</h4>'
						html += '<ul class="equipment__info">'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'장비 ID : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.emNumber+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'장비타입 : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.emTypeName+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'최대적재량 : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.emMaximumPayload+res.data.deviceDetailList.emUnitName+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'운영사 : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.company.csOperator+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'지역 : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.emLocationName+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'국가 : '+'</span>'
						html += '<span class="equipment__info-value">'+res.data.deviceDetailList.emCountryName+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'설치일자 : '+'</span>'
						html += '<span class="equipment__info-value">'+installdate+'</span>'
						html += '</li>'
						html += '</ul>'
						html += '</div>'

						html += '<div class="equipment__section">'
						html += '<div id="detailLoading" class="c-loader">'
						html += '<div class="c-loader__active c-loader__active--ring"></div>'
						html += '</div>'
						html += '<h4 class="equipment__section-title">상태 상세 정보</h4>'
						html += '<ul class="equipment__info">'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'운영일 : '+'</span>'
						html += '<span class="equipment__info-value">'+parseInt(operationDay)+'일'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'온도 : '+'</span>'
						html += '<span class="equipment__info-value">'+temp_brd+'℃'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'배출량 : '+'</span>'
						html += '<span class="equipment__info-value">'+level+'%'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'배터리잔량 : '+'</span>'
						html += '<span class="equipment__info-value">'+batt_level+'%'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'태양광판넬 전류 : '+'</span>'
						html += '<span class="equipment__info-value">'+solar_current+'A'+'</span>'
						html += '</li>'
						html += '<li class="equipment__info-item">'
						html += '<span class="equipment__info-title">'+'태양광판넬 전압 : '+'</span>'
						html += '<span class="equipment__info-value">'+solar_voltage+'V'+'</span>'
						html += '</li>'
						html += '</ul>'
						html += '</div>'

						html += '<div class="equipment__section">'
						html += '<div id="timechartLoading" class="c-loader">'
						html += '<div class="c-loader__active c-loader__active--ring"></div>'
						html += '</div>'
						html += '<input type="hidden" id="intervaltime" value ="24" readonly="readonly" />'
						html += '<canvas id="timeStampChart" style="width: 100%;height: 220px;"></canvas>'
						html += '</div>'

						$deviceDetail.html(html);
						timeStamp(pushValue);
					}
				});
			}

			// 타임스탬프 그래프함수
			function timeStamp(pushValue){

				var params = {
					deviceid:pushValue,
					intervaltime:$('#intervaltime').val()
				};

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/devicehitory',
					type : 'post',
					data : params,
					cache:false,
					error:function(request,status,error){
						ajaxErrorMsg(request);
					},
					success: function(res) {
						statuscode= res.data.statusCode;
						if (statuscode ===200) {
							var timeStamp = new Array(); //타임스탬프
							var temp_brd = new Array(); //온도
							var level = new Array(); //배출량
							var batt_level = new Array(); //배터리잔량
							var testTimeStamp = new Array();
							$.each(res.data.datarow1, function (key, value) {
								var timestamp = parseInt(value.timestamp); // value.timestamp(밀리세컨드)는 문자열로 받아오기때문에 정수형으로 변환해준다.
								var date = new Date(timestamp);
								var month = date.getMonth()+1; // 1월을 0월로 보기때문에 월에 +1을 해준다.
								var day = date.getDate();
								var minutes = date.getMinutes();
								var seconds = date.getSeconds();
								if(day < 10){
									day = "0"+day;
								}
								if(minutes < 10){
									minutes = "0"+minutes;
								}
								if(seconds < 10){
									seconds = "0"+seconds;
								}
								var time =month+"월"+day+"일 "+date.getHours()+":"+minutes+":"+seconds

								// console.log("날짜 : "+time)
								// console.log("")
								testTimeStamp.push(parseInt(value.timestamp));
								timeStamp.push(time)
								temp_brd.push(value.temp_brd)
								level.push(value.level)
								batt_level.push(value.batt_level);
							});
							var days = $("#intervaltime").val(); // 기간선택 시간

							// 온도최대값,최소값 계산(y축그래프)
							temp_brd_Max = Math.max.apply(0, temp_brd); // 온도최대값
							temp_brd_Min = Math.min.apply(0, temp_brd); // 온도최소값
							tempMap = (temp_brd_Max+15).toFixed(0);
							tempMin = (temp_brd_Min-15).toFixed(0);
							if(tempMap/5!=0){
								var tempMaxsub = tempMap.substring(1,2);
								var tempBrdMax = parseInt(tempMap)-parseInt(tempMaxsub);
							}else{
								var tempBrdMax = tempMap;
							}
							if(tempMin/5!=0){
								var tempMinsub = tempMin.substring(1,2);
								var tempBrdMin = parseInt(tempMin)-parseInt(tempMinsub);
							}else{
								var tempBrdMin = tempMin;
							}

							//var ctx = document.getElementById('timeStampChart'+idx).getContext('2d');
							var ctx = document.getElementById('timeStampChart');

							var nowDate = new Date();
							// 라벨 최대값 구하기 (현재날짜)
							var max_milliseconds = nowDate.getTime();
							// 라벨 최소값 구하기
							var min_milliseconds = nowDate.setHours(nowDate.getHours()-$("#intervaltime").val());
							// console.log("현재날짜 : "+max_milliseconds);
							// console.log("이전날짜 : "+min_milliseconds);

							var barChartData = {
								labels: testTimeStamp,
								datasets: [{
									type: 'line',
									label: '온도',
									yAxisID: 'y',
									backgroundColor: "#e35f5f",
									borderWidth: 2,
									borderColor: "#e35f5f",
									data: temp_brd,
									fill: false
								}, {
									type: 'line',
									label: '배출량',
									yAxisID: 'x',
									backgroundColor: "#48ae63",
									borderWidth: 2,
									borderColor: "#48ae63",
									data: level,
									fill: false
								},{
									type: 'line',
									label: '배터리잔량',
									yAxisID: 'x',
									backgroundColor: "#ffc600",
									borderWidth: 2,
									borderColor: "#ffc600",
									data: batt_level,
									fill: false
								}]
							};

							new Chart(ctx, {
								data: barChartData,
								options: {
									elements: {
										point:{
											radius: 0
										}
									},
									maintainAspectRatio: false,
									stacked : true,
									tooltips: { //팁(모드설정)
										mode: 'index',
										intersect: false
									},
									hover: { //점 나오기
										mode: 'index',
										intersect: false
									},
									scales: {
										xAxes: [{
											gridLines: {
												drawOnChartArea: false
											},
											display: false,
											type: 'time',
											time: {
												min: min_milliseconds,
												max: max_milliseconds,
												tooltipFormat: 'YYYY'+'년'+'MM'+'월'+'DD'+'일 '+'HH:mm:ss:a',
											}
										}],
										yAxes: [{
											ticks: {
												callback: function(value, index, values) {
													return value+'%';
												},
												max: 100,
												min: 0,
												stepSize: 20
											},
											id: 'x',
											type: 'linear',
											display: true,
											position: 'left'
										},{
											ticks: {
												callback: function(value, index, values) {
													return value+'℃';
												},
												max: tempBrdMax,
												min: tempBrdMin
											},
											id: 'y',
											type: 'linear',
											display: true,
											position: 'right',
											gridLines: {
												drawOnChartArea: false
											}
										}]
									}
								}
							});
						}
						setTimeout(function(){
							$("#deviceLoading").hide();
							$("#stateLoading").hide();
							$("#detailLoading").hide();
							$("#timechartLoading").hide();
						},1000);
					}
				});
			}

			// 기간선택에 따라 보내는시간 변경하는 함수
			function intervaltimeChange(text) {
				if (text == "1Hours") {
					$("#intervaltime").val("1");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				}else if (text == "3Hours") {
					$("#intervaltime").val("3");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				}else if (text == "24Hours") {
					$("#intervaltime").val("24");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				} else if (text == "7Days") {
					$("#intervaltime").val("168");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				} else if (text == "1Month") {
					$("#intervaltime").val("720");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				} else if (text == "1Year") {
					$("#intervaltime").val("8760");
					$("#fromTo").hide();
					$("#dateFrom").val("");
					$("#dateTo").val("");
				} else if (text == "FromTo") {
					$("#intervaltime").val("");
					$("#fromTo").show();
				}
			}

			// 사용자정의 시간구하기 (날짜선택에따른 시간)
			function intervaltimeDate(date) {
				// console.log("date : " + date); 받아온날짜
				var today = new Date();
				var year = today.getFullYear();
				var month = today.getMonth()+1
				var day = today.getDate();
				if(month < 10){
					month = "0"+month;
				}
				if(day < 10){
					day = "0"+day;
				}
				var todayData = year+"-"+month+"-"+day;
				$("#dateTo").val(todayData);

				var dateObj = new Date(date);

				if (today<dateObj) {
					alertCaution("현재 날짜보다 앞선 날짜는 <BR> 선택할 수 없습니다.");
					$("#intervaltime").val("");
					$("#dateFrom").val("");
					$("#dateTo").val("");
					return false;
				}

				// console.log("today : " + today); // 오늘날짜
				// console.log("dateObj : " + dateObj); // 사용자정의 날짜
				var hours = parseInt(Math.abs(today - dateObj) / 36e5); // 36e5는 60 * 60 * 1000의 과학 표기법으로, 밀리 초 차이를 시간으로 환산하여 나눔.
				// console.log("hours : " + hours); // 정해진시간
				$("#intervaltime").val(hours);
			}

			// 국가,지역검색
			function LocationSetting(value) {
				// console.log("value : "+value);

				var params = {
					s_emCountry:value
				};

				var $s_emLocation = $("#s_emLocation");

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url: '/api/dashboard/location',
					type: 'post',
					data: params,
					cache: false,
					error:function(request){
						ajaxErrorMsg(request);
					},
					success: function (res) {
						if (!Ajax.checkResult(res)) {
							return;
						}

						var html = '';
						html += '<option value ="">'+'전체'+'</option>';
						$.each(res.data.locationData, function (key, value) {
							if(res.data.locationData!=null) {
								html += '<option value ="' + echoNull2Blank(value.code) + '">' + echoNull2Blank(value.name) + '</option>';
							}
						});
						$s_emLocation.html(html);
					}
				});
			}

		</script>
	</head>
	  
<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>위치기반</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="panel__console">
								<div class="panel__console panel__console--left">
									<div class="c-btn-group">
										<h5 class="c-btn-group__title">기간 선택</h5>
										<div class="c-btn-group__list">
											<button onclick="intervaltimeChange(this.value)" id="removehour" value="1Hours" class="c-btn-group__button">1Hours</button>
											<button onclick="intervaltimeChange(this.value)" id="starthour" value="3Hours" class="c-btn-group__button">3Hours</button>
											<button onclick="intervaltimeChange(this.value)" value="24Hours" class="c-btn-group__button">24Hours</button>
											<button onclick="intervaltimeChange(this.value)" value="7Days" class="c-btn-group__button">7Days</button>
											<button onclick="intervaltimeChange(this.value)" value="1Month" class="c-btn-group__button">1Month</button>
											<button onclick="intervaltimeChange(this.value)" value="1Year" class="c-btn-group__button">1Year</button>
											<button onclick="intervaltimeChange(this.value)" value="FromTo" class="c-btn-group__button">FromTo</button>
										</div>
										<input type="hidden" id="intervaltime" value ="" readonly="readonly" />
									</div>
								</div>
								<div class="panel__console panel__console--right">
									<div class="c-float">
										<div class="c-float__item" id="fromTo" style="display: none">
											<div class="c-date-group" >
												<div class="c-date">
													<label for="dateFrom" class="c-date__label">from</label>
													<input type="date"  onchange="intervaltimeDate(this.value)" class="c-date__input" id="dateFrom" />
												</div>
												<div class="c-date">
													<label for="dateTo" class="c-date__label">today</label>
													<input type="date" class="c-date__input" id="dateTo" readonly />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="s_emNumber" class="c-text__label">장비번호</label>
										<input id="s_emNumber" type="text" class="c-text__input" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emType" class="c-select__label">장비 타입</label>
										<select id="s_emType" class="c-select__input">
											<option value="">전체</option>
											<option th:each ="equipdType : ${equipdTypes}"
													th:value="${equipdType.code}"
													th:text="${equipdType.name}"
											></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emCountry" class="c-select__label">국가</label>
										<select id="s_emCountry" class="c-select__input" onchange="LocationSetting(this.value)">
											<option value="">전체</option>
											<option th:each ="equipdCountry : ${equipdCountrys}"
													th:value="${equipdCountry.code}"
													th:text="${equipdCountry.name}">
											</option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emLocation" class="c-select__label">지역</label>
										<select id="s_emLocation" class="c-select__input">
										</select>
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto" style="padding-top: 15px;">
									<button id="btnSearch" class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">Location</h4>
						</div>
						<div class="panel__body panel__body--height-auto">
							<div id="mapLoaging" class="c-loader">
								<div class="c-loader__active c-loader__active--ring"></div>
							</div>
							<div class="map map--big" id="map"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">기기</h4>
						</div>
						<div class="panel__body panel__body--height-auto panel__body--non-padding">
							<ul id="deviceDetail" class="c-list equipment">
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id='alertpop'>
	</div>
</div>
</html>