@charset "utf-8";

/* nanum-gothic-regular - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap {
	position: relative;
	width: 100%;
	min-width: 100%;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	padding-bottom: 60px;
	min-height: 100%;
	background-color: #b9dcd2;
	border-right: 1px solid #89aaa1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo {
	width: 100%;
}
.logo a {
	display: block;
	width: 100%;
	height: 55px;
	text-indent: -9999px;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: 20px center;
}
.profile {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile__picture {
	float: left;
	width: 66px;
	height: 66px;
	padding: 3px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	background-color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile__picture img {
	width: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.profile__info {
	float: left;
	width: 133px;
	margin-left: 10px;
	margin-top: 16px;
}
.profile__info > span {
	display: block;
	/*color: #5b7b73;*/
	color: #48ae63;
	font-size: 12px;
}
.profile__info h2 {
	margin-top: 5px;
	color: #00500c;
	font-weight: 700;
}
.nav {
	width: 100%;
}
.nav>ul {
	width: 100%;
}
.nav>ul>li {
	position: relative;
	width: 100%;
	min-height: 40px;
}
.nav__link {
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav__link.active {
	background-color: #89aaa1;
	/*background-color: #48ae63;*/
	border-top: 1px solid #5b7b73;
	color: #fff;
}
.nav__link:before {
	content: " ";
	display: block;
	position: absolute;
	top: 2px;
	left: 10px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
}
.nav__link.nav__link--dash:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: 0 0;
}
.nav__link.nav__link--user:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: -36px 0;
}
.nav__link.nav__link--platform:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: -72px 0;
}
.nav__link.nav__link--dash.active:before {
	background-position: 0 -36px;
}
.nav__link.nav__link--user.active:before {
	background-position: -36px -36px;
}
.nav__link.nav__link--platform.active:before {
	background-position: -72px -36px;
}
.nav-child {
	width: 100%;
	background-color: #ecffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-child a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 50px;
	color: #007e37;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-child li + li {
	border-top: 1px solid #bacccc;
}
.nav-child.active {
	display: block;
	height: auto;
	border-bottom: 1px solid #5b7b73;
}

.nav-icon {
	float: left;
	position: relative;
	width: 30px;
	height: 24px;
	margin-top: 16px;
}
.nav-icon span {
	opacity: 1;
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
	top: 10px;
}
.nav-icon span:nth-child(4) {
	top: 20px;
}

.header-setting {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 230px;
	height: 40px;
	padding: 0 10px;
	background-color: #5b7b73;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header-setting ul {
	overflow: hidden;
	float: right;
}
.header-setting ul li {
	float: left;
}
.header-setting ul li a {
	display: block;
	width: 52px;
	height: 40px;
	text-indent: -9999px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.header-setting ul li a:hover {
	background-color: #8aaaab;
}
.header-setting__btn-setting {
	background: url(/assets/images/icon__setting.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 24px;
	background-size: 24px;;
}
.header-setting__btn-logout {
	background: url(/assets/images/icon__logout-circle.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 24px;
	background-size: 24px;;
}

/* nav 접힘 */
.wrap.nav--small .header {
	width: 60px;
	z-index: 10;
}
.wrap.nav--small .contents {
	width: calc(100% - 60px);
	margin-left: 60px;
}
.wrap.nav--small .profile {
	display: none;
}
.wrap.nav--small .logo a {
	background: url(/assets/images/ACI_logo.png) no-repeat;
	-webkit-background-size: 40px;
	background-size: 40px;
	background-position: center center;
}
.wrap.nav--small .nav__link {
	text-indent: -9999px;
}
.wrap.nav--small .nav__link:before {
	left: 12px;
}

.wrap.nav--small .nav-child {
	position: absolute;
	top: 0;
	left: 60px;
	width: 200px;
	border: 2px solid #007e37;
}
.wrap.nav--small .nav-child:before {
	content: " ";
	position: absolute;
	top: 7px;
	left: -20px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #007e37;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.wrap.nav--small .nav-child a {
	padding-left: 20px;
}
.wrap.nav--small .header-setting {
	display: none;
}



.contents {
	position: relative;
	width: calc(100% - 230px);
	margin-left: 230px;
}
.contents.contents--main {
	width: 100%;
	margin: 0;
}
.contents-header {
	width: 100%;
	height: 55px;
	padding: 0 20px;
	background-color: #c4c4c4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contents-header:before {
	content: " ";
	display: table;
}
.contents-header:after {
	content: " ";
	display: table;
	clear: both;
}
.contents-header__logo {
	float: left;
	display: block;
	width: 230px;
	height: 55px;
}
.contents-header__logo a {
	display: block;
	width: 230px;
	height: 55px;
	text-indent: -9999px;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: 20px center;
}
.contents-header__links {
	float: right;
	overflow: hidden;
	display: block;
	padding: 0 5px;
}
.contents-header__links li {
	float: left;
}
.contents-header__links li + li {
	margin-left: 10px;
}
.contents-header__links li a {
	display: block;
	color: #007e37;
	font-size: 16px;
	font-weight: 700;
	line-height: 55px;
}

.contents-profile {
	float: right;
	display: block;
	position: relative;
	margin-top: 8px;
	z-index: 10;
}
.contents-profile__btn {
	display: block;
	padding: 5px 5px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.contents-profile__btn:hover,
.contents-profile__btn.active {
	background-color: #fff;
}

.contents-profile__btn:before {
	content: " ";
	display: table;
}
.contents-profile__btn:after {
	content: " ";
	display: table;
	clear: both;
}
.contents-profile__pic {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
}
.contents-profile__pic img {
	width: 30px;
	background-color: #007e37;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.contents-profile__info {
	float: left;
	display: block;
	margin-left: 10px;
	color: #00500c;
	font-size: 14px;
	line-height: 30px;
}
.contents-profile__info:after {
	content: " ";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-top: 5px solid #00500c;
	border-right: 5px solid transparent;
	border-bottom: 0;
	border-left: 5px solid transparent;
	vertical-align: 1px;
}
.profile-context {
	overflow: hidden;
	position: absolute;
	top: 41px;
	right: 0;
	width: 140px;
	height: 0;
	padding: 0;
	background-color: #dfdfdf;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile-context .profile-context--logout {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 1px;
}
.profile-context> a,
.profile-context .profile-context--logout input[type=submit] {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 40px 10px 10px;
	background-color: #fff;
	border: 0;
	color: #787a7d;
	font-size: 14px;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.profile-context> a:hover,
.profile-context .profile-context--logout input[type=submit]:hover {
	background-color: #efefef;
}
.profile-context> a + a {
	margin-top: 1px;
}
.profile-context> a:after,
.profile-context .profile-context--logout:after {
	content: " ";
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
}
.profile-context> a.profile-context--profile:after {
	background-image: url(/assets/images/icon__user-circle--gray.png);
}
.profile-context .profile-context--logout:after {
	background-image: url(/assets/images/icon__logout-circle--gray.png);
}
.profile-context.active {
	height: auto;
	padding: 1px;
}

.contents-body {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 95px);
	background-color: #f7f7f7;
}
.page {
	position: relative;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-title {
	width: 100%;
	margin-bottom: 20px;
}
.page-title:before {
	content: " ";
	display: table;
}
.page-title:after {
	content: " ";
	display: table;
	clear: both;
}
.page-title__left,
.page-title__right {
	float: left;
	width: 50%;
}
.page-title__left h2 {
	color: #73879c;
	font-size: 24px;
	font-weight: 700;
}

/* main */
.main {
	position: relative;
}
.main__section {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 55px);
}
.main__image {
	position: relative;
	width: 100%;
	height: calc(100vh - 55px);
	background: url(/assets/images/dummy/nature.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left center;
	background-attachment: fixed;
}
.main__image:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
}
.main__center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 0 40px 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main__txt-heading {
	color: #fff;
	font-size: 74px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
}
.main__sub-heading {
	color: rgba(255, 255, 255, .8);
	margin-top: 20px;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
}
.main__center-btn {
	display: block;
	position: absolute;
	bottom: 8px;
	left: 50%;
	padding: 10px 20px;
	background-color: #007e37;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

/* login page */
.login-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.login {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	padding: 50px 40px;
	background-color: #b9dcd2;
	border: 1px solid #007e37;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
	-moz-box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
	box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
}
.login__logo {
	text-align: center;
}
.login__logo a{
	display: block;
}
.login__form-box {
	margin-top: 40px;
}
.login__form-box > form > div + div {
	margin-top: 20px;
}
.login__input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	color: #181a1f;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login__btn {
	display: block;
	width: 100%;
	height: 40px;
	border: 0;
	background-color: #007e37;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .2s;
}
.login__btn:hover {
	background-color: #5b7b73;
}
.login__message {
	position: absolute;
	bottom: 25px;
	left: 40px;
	color: #fff;
	font-size: 14px;
}

/* join */
.join {
	position: relative;
	width: 100%;
}
.join__form form {
	display: block;
	margin: -5px;
}
.join__form form:before {
	content: " ";
	display: table;
}
.join__form form:after {
	content: " ";
	display: table;
	clear: both;
}
.join__form-item {
	float: left;
	width: 25%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* dashboard */
.dashboard {
	position: relative;
	width: 100%;
}
.dashboard__count {
	overflow: hidden;
	width: 100%;
	margin: 0 -20px;
} 
.dashboard__count-item {
	float: left;
	position: relative;
	padding: 5px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dashboard__count-item + .dashboard__count-item {
	border-left: 1px solid #999;
}
.dashbaord__count-title {
	margin-bottom: 10px;
	color: #73879c;
	font-size: 14px;
	font-weight: 700;
}
.dashboard__count-num {
	color: #48ae63;
	font-size: 40px;
	font-weight: 700;
}
.dashboard__count-num.dashboard__count-num--warning {
	color: #ffcc00;
}
.dashboard__count-num.dashboard__count-num--danger {
	color: #ff7f7f;
}
.dashboard__row {
	margin-top: 10px;
}
.dashboard__row:before {
	content: " ";
	display: table;
}
.dashboard__row:after {
	content: " ";
	display: table;
	clear: both;
}

/* panel */
.panel {
	float: left;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.panel.panel--three {
	width: 33.3333%;
}
.panel:first-child {
	padding-left: 0;
}
.panel:last-child {
	padding-right: 0;
}
.panel:only-child {
	padding: 5px 0;
}
.panel__inner {
	background-color: #fff;
	border: 1px solid #dfdfdf;
}
.panel__inner:before {
	content: " ";
	display: table;
}
.panel__inner:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__header {
	padding: 5px 10px;
}
.panel__header:before {
	content: " ";
	display: table;
}
.panel__header:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__title {
	float: left;
	/*color: #a7a9ac;*/
	color: #787a7d;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.panel__header .panel__console {
	float: right;
}
.panel__console {
	position: relative;
}
.panel__console:before {
	content: " ";
	display: table;
}
.panel__console:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__button {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	padding: 0;
	border: 0;
	background-image: url(/assets/images/is.png);
	background-color: transparent;
	background-repeat: no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
.panel__button + .panel__button {
	margin-left: 5px;
}
.panel__button.refresh {
	background-position: 0 -24px;
}
.panel__button.refresh:hover {
	background-position: 0 0;
}
.panel__button.fold {
	background-position: -24px -24px;
}
.panel__button.fold:hover {
	background-position: -24px 0;
}
.panel__body {
	position: relative;
	height: 314px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-ms-transition: height .2s;
	-o-transition: height .2s;
	transition: height .2s;
}
.panel__body:before {
	content: " ";
	display: table;
}
.panel__body:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__header + .panel__body {
	border-top: 1px solid #dfdfdf;
}
.panel__body.panel__body--height-auto {
	height: auto;
}
.panel__body.panel__body--non-padding {
	padding: 0;
}
.panel__body.fold {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	height: 0;
	padding: 0;
}
.panel__body .map,
.panel__stat {
	width: 100%;
	height: 293px;
}
.panel__body .map.map--big {
	height: 528px;
}

.panel__console.panel__console--left {
	float: left;
}
.panel__console.panel__console--right {
	float: right;
}

.equipment {
	width: 100%;
}
.equipment:before {
	content: " ";
	display: table;
}
.equipment:after {
	content: " ";
	display: table;
	clear: both;
}
.equipment__section {
	float: left;
	position: relative;
	/*width: 25%;*/
	width: 240px;
	height: 240px;
	padding: 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.equipment__section:last-child {
	width: calc(100% - 720px);
}
.equipment__section + .equipment__section:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: -1px;
	width: 1px;
	height: calc(100% - 20px);
	background-color: #dfdfdf;
}
.equipment__section-title {
	margin-bottom: 10px;
	color: #787a7d;
	font-size: 18px;
	font-weight: 700;
}
.equipment__stat,
.equipment__connect {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 24px;
	padding: 5px 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	color: #fff;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.equipment__stat.normal,
.equipment__connect.on {
	border: 1px solid #007e37;
	background-color: #48ae63;
}
.equipment__stat.caution {
	border: 1px solid #c79c00;
	background-color: #ffcc00;
}
.equipment__stat.severe {
	border: 1px solid #c84f53;
	background-color: #ff7f7f;
}
.equipment__connect.off {
	border: 1px solid #007e37;
	background-color: #fff;
	color: #007e37;
}
.equipment__connect {
	right: 10px;
	left: auto;
}
.equipment__img {
	width: 100%;
	text-align: center;
}
.equipment__img img {

	height: 200px;
}
.equipment__info {
	
}
.equipment__info-item {
	overflow: hidden;
}
.equipment__info-item + .equipment__info-item {
	margin-top: 10px;
}
.equipment__info-title {
	color: #787a7d;
	font-size: 14px;
}
.equipment__info-value {
	font-size: 14px;
}
/*.equipment__chart {
	position: relative;
	width: 100%;
	height: 220px;
}*/


/* section */
.section {
	position: relative;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section + .section {
	margin-top: 20px;
}
.section__heading {
	margin-bottom: 20px;
	color: #73879c;
	font-size: 24px;
	font-weight: 700;
}

.article {
	position: relative;
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.article + .article {
	margin-top: 5px;
}
.article__heading {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
}
h4.article__heading {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}
.article__head-caption {
	color: #666;
	font-size: 14px;
}

/* l-float-heading */
.l-float-heading {
	position: relative;
	margin-bottom: 10px;
}
.l-float-heading:before,
.l-float-heading:after {
	content: " ";
	display: table;
}
.l-float-heading:after {
	clear: both;
}
.l-float-heading--left {
	float: left;
}
.l-float-heading--right {
	float: right;
}

/* code */
.code {
	position: relative;
	width: 100%;
	padding: 20px;
	border: 1px solid #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__category {
	position: absolute;
	top: -1px;
	left: -1px; 
	width: 33.33334%;
	padding: 10px;
	background-color: #efefef;
	border: 1px solid #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__detail {
	overflow: hidden;
	margin: -10px;
}
.code__detail-item {
	float: left;
	width: 33.3333%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__detail-item:first-child {
	margin-left: 33.3334%;
}
.code__detail-item:last-child {
	width: 100%;
}
.code__detail + .code__detail-list {
	margin-top: 10px;
	display: flex;
}
.code__detail-list li {
	flex: 1;
}
.code__detail-list li + li {
	margin-left: 10px
}


.contents-footer {
	width: 100%;
	height: 40px;
	padding: 0 20px;
	background-color: #fff;
	color: #ddd;
	font-size: 12px;
	text-align: right;
	line-height: 40px;
	-webkit-box-sizing: border-box;;
	-moz-box-sizing: border-box;;
	box-sizing: border-box;;
}







/* control */
.control {
	position: relative;
	width: 100%;
}
.control__head {
	width: 100%;
}
.control__head:before {
	content: " ";
	display: table;
}
.control__head:after {
	content: " ";
	display: table;
	clear: both;
}
.control__head-item {
	float: left;
}
.control__head-item + .control__head-item {
	margin-left: 10px;
}
.control__head-item .c-select {
	width: 180px;
}
.control__body {
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.control__section {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.control__box {
	float: left;
	padding: 5px 20px;
	border-left: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.control__box:first-child {
	padding-left: 0;
	border-left: 0;
}
.control__box:last-child {
	padding-right: 0;
}
.control__results {
	
}
.control__result-item {
	position: relative;
}
.control__result-item:before {
	content: " ";
	display: table;
}
.control__result-item:after {
	content: " ";
	display: table;
	clear: both;
}
.control__result-item + .control__result-item {
	margin-top: 10px;
}
.control__result-title {
	float: left;
	position: relative;
	width: 140px;
	text-align: left;
	color: #787a7d;
	font-size: 14px;
	line-height: 26px;
}
.control__result-title:after {
	content: ":";
	position: absolute;
	top: 0;
	right: 0;
}
.control__result {
	float: left;
	position: relative;
	margin-left: 10px;
	padding: 5px 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	color: #787a7d;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.control__result.open {
	background-color: #007e37;
	border-color: #007e37;
	color: #fff;
}
.control__result.close {
	border-color: #007e37;
	color: #007e37;
}
.control__result.loading {
	width: 58px;
	height: 26px;
	padding: 0;
	border-color: #007e37;
}
.control__result.loading span {
	display: block;
	position: absolute;
	top: 11px;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #007e37;
}
.control__result.loading.active span {
	-webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	-moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	-o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.control__result.loading span:nth-child(1),
.control__result.loading span:nth-child(2) {
	left: 12px;
}
.control__result.loading span:nth-child(3) {
	left: 26px;
}
.control__result.loading span:nth-child(4) {
	left: 40px;
}
.control__result.loading.active span:nth-child(1) {
	animation: ellipsis1 0.6s infinite;
}
.control__result.loading.active span:nth-child(2) {
	animation: ellipsis2 0.6s infinite;
}
.control__result.loading.active span:nth-child(3) {
	animation: ellipsis2 0.6s infinite;
}
.control__result.loading.active span:nth-child(4) {
	animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes ellipsis2 {
	0% {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(14px, 0);
		-moz-transform: translate(14px, 0);
		-ms-transform: translate(14px, 0);
		-o-transform: translate(14px, 0);
		transform: translate(14px, 0);
	}
}
@keyframes ellipsis3 {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}


/* popup */
.l-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	z-index: 100;
}
.l-popup.open {
	display: block;
}
.l-popup__container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.l-popup__head {
	width: 100%;
	padding: 15px 10px;
	background-color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-popup__heading {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.l-popup__content {
	padding: 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-popup__section + .l-popup__section {
	margin-top: 10px;
}
.l-popup__close {
	display: block;
	position: absolute;
	top: 7px;
	right: -40px;
	width: 30px;
	height: 30px;
	background: url(/assets/images/icon__close--w.png) no-repeat;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	text-indent: -9999px;
}



/* popup.js */
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
	z-index: 100;
}
.popup.popup--dim {
	background-color: rgba(0, 0, 0, .4);
}
.popup.popup--open {
	display: block;
}
.popup__box {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	padding: 20px;
    margin: 0;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.popup__content {
    position: relative;
    width: 100%;
    padding-top: 80px;
}
.popup__stat {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
}
.popup__stat.popup__stat--success {
    background-color: #01b257;
    background-image: url(/assets/images/icon__check.png);
    -webkit-animation: heartbeat 1.5s ease-in-out 2 ;
	        animation: heartbeat 1.5s ease-in-out 2 ;
}
.popup__stat.popup__stat--check {
    background-color: #97c8d6;
    background-image: url(/assets/images/icon__double-check.png);
    -webkit-animation: bounce-top 1.5s;
	        animation: bounce-top 1.5s;
}
.popup__stat.popup__stat--caution {
    background-color: #fedd47;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    /* background-image: url(../images/icon__check.png); */
    -webkit-animation: jello-vertical 1.5s 2 ;
	        animation: jello-vertical 1.5s 2 ;
}
.popup__stat.popup__stat--cancel {
    background-color: #f08583;
    background-image: url(/assets/images/icon__X.png);
    -webkit-animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 ;
	        animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 ;
}
.popup__text {
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}
.popup__buttons {
    display: flex;
    margin-top: 20px;
}
.popup__btn {
    flex: 1;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.popup__btn:hover {
    background-color: #888;
}
.popup__btn + .popup__btn {
    margin-left: 20px;
}
.popup__btn.popup__btn--success {
    border: 1px solid #80cebe;
    background-color: #80cebe;
}
.popup__btn.popup__btn--success:hover {
    background-color: #9adbc5;
}
.popup__btn.popup__btn--cancel {
    border: 1px solid #f886a8;
    background-color: #f886a8;
}
.popup__btn.popup__btn--cancel:hover {
    background-color: #fe86c1;
}

/* success */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/* cancel */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
/* caution */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
/* check */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}











