@charset "utf-8";

/* nanum-gothic-regular - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/nanumgothic/nanum-gothic-v17-korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap {
	position: relative;
	width: 100%;
	min-width: 100%;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	padding-bottom: 60px;
	min-height: 100%;
	background-color: #b9dcd2;
	border-right: 1px solid #89aaa1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo {
	width: 100%;
}
.logo a {
	display: block;
	width: 100%;
	height: 55px;
	text-indent: -9999px;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: 20px center;
}
.profile {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile__picture {
	float: left;
	width: 66px;
	height: 66px;
	padding: 3px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	background-color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile__picture img {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.profile__info {
	float: left;
	width: 133px;
	margin-left: 10px;
	margin-top: 16px;
}
.profile__info > span {
	display: block;
	/*color: #5b7b73;*/
	color: #48ae63;
	font-size: 12px;
}
.profile__info h2 {
	margin-top: 5px;
	color: #00500c;
	font-weight: 700;
}
.nav {
	width: 100%;
}
.nav>ul {
	width: 100%;
}
.nav>ul>li {
	position: relative;
	width: 100%;
	min-height: 40px;
}
.nav__link {
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav__link.active {
	background-color: #89aaa1;
	/*background-color: #48ae63;*/
	border-top: 1px solid #5b7b73;
	color: #fff;
}
.nav__link:before {
	content: " ";
	display: block;
	position: absolute;
	top: 2px;
	left: 10px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
}
.nav__link.nav__link--dash:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: 0 0;
}
.nav__link.nav__link--user:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: -36px 0;
}
.nav__link.nav__link--platform:before {
	background-image: url(/assets/images/is__nav.png);
	background-position: -72px 0;
}
.nav__link.nav__link--dash.active:before {
	background-position: 0 -36px;
}
.nav__link.nav__link--user.active:before {
	background-position: -36px -36px;
}
.nav__link.nav__link--platform.active:before {
	background-position: -72px -36px;
}
.nav-child {
	width: 100%;
	background-color: #ecffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-child a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 50px;
	color: #007e37;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-child li + li {
	border-top: 1px solid #bacccc;
}
.nav-child.active {
	display: block;
	height: auto;
	border-bottom: 1px solid #5b7b73;
}

.nav-icon {
	float: left;
	position: relative;
	width: 30px;
	height: 24px;
	margin-top: 16px;
}
.nav-icon span {
	opacity: 1;
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
	top: 10px;
}
.nav-icon span:nth-child(4) {
	top: 20px;
}

.header-setting {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 230px;
	height: 40px;
	padding: 0 10px;
	background-color: #5b7b73;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header-setting form > ul {
	float: right;
}
.header-setting form > ul:before {
	content: " ";
	display: table;
}
.header-setting form > ul:after {
	content: " ";
	display: table;
	clear: both;
}
.header-setting form > ul > li {
	float: left;
	position: relative;
}
.header-setting form > ul > li > a {
	display: block;
	width: 52px;
	height: 40px;
	text-indent: -9999px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.header-setting form > ul > li > a:hover {
	background-color: #8aaaab;
}
.header-setting__btn-setting {
	background: url(/assets/images/icon__setting.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 24px;
	background-size: 24px;;
}
.header-setting__btn-logout {
	background: url(/assets/images/icon__logout-circle.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 24px;
	background-size: 24px;;
}
.header-setting__sub {
	display: none;
	position: absolute;
	bottom: 40px;
	left: -16px;
	width: 82px;
	height: 32px;
	border: 1px solid #89aaa1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header-setting__sub.active {
	display: block;
}
.header-setting__sub:before {
	content: " ";
	display: table;
}
.header-setting__sub:after {
	content: " ";
	display: table;
	clear: both;
}
.header-setting__sub li {
	float: left;
	display: block;
	width: 40px;
	height: 30px;
}
.header-setting__sub-btn {
	display: block;
	width: 40px;
	height: 30px;
	background-color: #89aaa1;
	line-height: 30px;
	text-indent: -9999px;
}
.header-setting__sub-btn:hover {
	background-color: #5b7b73;
}
.header-setting__sub-btn.header-setting__sub-btn--profile {
	background-image: url(/assets/images/icon__user-circle--w.png);
	background-repeat: no-repeat;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	background-position: center center;
}
.header-setting__sub-btn.header-setting__sub-btn--password {
	background-image: url(/assets/images/icon__lock.png);
	background-repeat: no-repeat;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	background-position: center center;
}


/* nav 접힘 */
.wrap.nav--small .header {
	width: 60px;
	z-index: 10;
}
.wrap.nav--small .contents {
	width: calc(100% - 60px);
	margin-left: 60px;
}
.wrap.nav--small .profile {
	display: none;
}
.wrap.nav--small .logo a {
	background: url(/assets/images/ACI_logo.png) no-repeat;
	-webkit-background-size: 40px;
	background-size: 40px;
	background-position: center center;
}
.wrap.nav--small .nav__link {
	text-indent: -9999px;
}
.wrap.nav--small .nav__link:before {
	left: 12px;
}

.wrap.nav--small .nav-child {
	position: absolute;
	top: 0;
	left: 60px;
	width: 200px;
	border: 2px solid #007e37;
}
.wrap.nav--small .nav-child:before {
	content: " ";
	position: absolute;
	top: 7px;
	left: -20px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #007e37;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.wrap.nav--small .nav-child a {
	padding-left: 20px;
}
.wrap.nav--small .header-setting {
	display: none;
}



.contents {
	position: relative;
	width: calc(100% - 230px);
	margin-left: 230px;
}
.contents.contents--main {
	width: 100%;
	margin: 0;
}
.contents-header {
	width: 100%;
	height: 55px;
	padding: 0 20px;
	background-color: #c4c4c4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contents-header:before {
	content: " ";
	display: table;
}
.contents-header:after {
	content: " ";
	display: table;
	clear: both;
}
.contents-header__logo {
	float: left;
	display: block;
	width: 230px;
	height: 55px;
}
.contents-header__logo a {
	display: block;
	width: 230px;
	height: 55px;
	text-indent: -9999px;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: 20px center;
}
.contents-header__links {
	float: right;
	overflow: hidden;
	display: block;
	padding: 0 5px;
}
.contents-header__links li {
	float: left;
}
.contents-header__links li + li {
	margin-left: 10px;
}
.contents-header__links li a {
	display: block;
	color: #007e37;
	font-size: 16px;
	font-weight: 700;
	line-height: 55px;
}

.contents-profile {
	float: right;
	display: block;
	position: relative;
	margin-top: 8px;
	z-index: 10;
}
.contents-profile__btn {
	display: block;
	padding: 5px 5px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.contents-profile__btn:hover,
.contents-profile__btn.active {
	background-color: #fff;
}

.contents-profile__btn:before {
	content: " ";
	display: table;
}
.contents-profile__btn:after {
	content: " ";
	display: table;
	clear: both;
}
.contents-profile__pic {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
}
.contents-profile__pic img {
	width: 30px;
	height: 30px;
	background-color: #007e37;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.contents-profile__info {
	float: left;
	display: block;
	margin-left: 10px;
	color: #00500c;
	font-size: 14px;
	line-height: 30px;
}
.contents-profile__info:after {
	content: " ";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-top: 5px solid #00500c;
	border-right: 5px solid transparent;
	border-bottom: 0;
	border-left: 5px solid transparent;
	vertical-align: 1px;
}
.profile-context {
	overflow: hidden;
	position: absolute;
	top: 41px;
	right: 0;
	width: 140px;
	height: 0;
	padding: 0;
	background-color: #dfdfdf;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile-context .profile-context--logout {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 1px;
}
.profile-context> a,
.profile-context .profile-context--logout input[type=submit] {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 40px 10px 10px;
	background-color: #fff;
	border: 0;
	color: #787a7d;
	font-size: 14px;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.profile-context> a:hover,
.profile-context .profile-context--logout input[type=submit]:hover {
	background-color: #efefef;
}
.profile-context> a + a {
	margin-top: 1px;
}
.profile-context> a:after,
.profile-context .profile-context--logout:after {
	content: " ";
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
}
.profile-context> a.profile-context--profile:after {
	background-image: url(/assets/images/icon__user-circle--gray.png);
}
.profile-context> a.profile-context--password:after {
	background-image: url(/assets/images/icon__lock--gray.png);
}
.profile-context .profile-context--logout:after {
	background-image: url(/assets/images/icon__logout-circle--gray.png);
}
.profile-context.active {
	height: auto;
	padding: 1px;
}

/* profile popup */
.profile-pop,
.password-pop {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 360px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #dfdfdf;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
	z-index: 1;
}
.profile-pop.active,
.password-pop.active {
	display: block;
}
.profile-pop__form,
.password-pop__form {
	display: block;
	margin: 0;
	padding: 0;
}
.profile-pop__picture {
	position: relative;
}
.profile-pop__picture:before {
	content: " ";
	display: table;
}
.profile-pop__picture:after {
	content: " ";
	display: table;
	clear: both;
}
.profile-pop__picture-img {
	width: 88px;
	height: 88px;
	padding: 4px;
	margin: 0 auto;
	background-color: #007e37;
	-webkit-border-radius: 44px;
	-moz-border-radius: 44px;
	border-radius: 44px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile-pop__picture-img img {
	width: 80px;
	height: 80px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.profile-pop__picture-upload {
	position: absolute;
	bottom: 2px;
	left: 176px;
	width: 36px;
	height: 36px;
	padding: 2px;
	background-color: #b9dcd2;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile-pop__picture-upload input[type=file] {
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	clear: rect(0, 0, 0, 0);
	border: 0;
}
.profile-pop__picture-upload label {
	display: block;
	width: 36px;
	height: 36px;
	background-color: #b9dcd2;
	background-image: url(/assets/images/icon__pencil.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	cursor: pointer;
}
.profile-pop__list,
.password-pop__list {
	width: 100%;
	margin-top: 20px;
	padding: 5px;
	background-color: #efefef;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.password-pop__list {
	margin-top: 0;
}
.profile-pop__item + .profile-pop__item,
.passowrd-pop__item + .passowrd-pop__item {
	margin-top: 10px;
}



.contents-body {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 95px);
	background-color: #f7f7f7;
}
.page {
	position: relative;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-title {
	width: 100%;
	margin-bottom: 20px;
}
.page-title:before {
	content: " ";
	display: table;
}
.page-title:after {
	content: " ";
	display: table;
	clear: both;
}
.page-title__left,
.page-title__right {
	float: left;
	width: 50%;
}
.page-title__left h2 {
	color: #73879c;
	font-size: 24px;
	font-weight: 700;
}

/* main */
.main {
	position: relative;
}
.main__section {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 55px);
}
.main__image {
	position: relative;
	width: 100%;
	height: calc(100vh - 55px);
	background: url(/assets/images/dummy/nature.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left center;
	background-attachment: fixed;
}
.main__image:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
}
.main__center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 0 40px 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main__txt-heading {
	color: #fff;
	font-size: 74px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
}
.main__sub-heading {
	color: rgba(255, 255, 255, .8);
	margin-top: 20px;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
}
.main__center-btn {
	display: block;
	position: absolute;
	bottom: 8px;
	left: 50%;
	padding: 10px 20px;
	background-color: #007e37;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

/* login page */
.login-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.login {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	padding: 50px 40px;
	background-color: #b9dcd2;
	border: 1px solid #007e37;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
	-moz-box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
	box-shadow: 0 10px 30px rgba(185, 220, 210, 1);
}

.login.mobile {
	width: calc(100% - 40px);
}
.login__logo {
	text-align: center;
}
.login__logo a{
	display: block;
}
.login.mobile .login__logo a img {
	width: 100%;
	max-width: 198px; 
}
.login__form-box {
	margin-top: 40px;
}
.login__form-box > form > div + div {
	margin-top: 20px;
}
.login__input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	color: #181a1f;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login__btn {
	display: block;
	width: 100%;
	height: 40px;
	border: 0;
	background-color: #007e37;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .2s;
}
.login__btn:hover {
	background-color: #5b7b73;
}
.login__message {
	position: absolute;
	bottom: 25px;
	left: 40px;
	color: #fff;
	font-size: 14px;
}

/* join */
.join {
	/*position: absolute;
	top: 50px;
	left: 50%;*/
	width: 800%;
	max-width: 580px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);*/
}
.join__logo {
	margin-bottom: 20px;
}
.join__logo a {
	display: block;
	width: 229px;
	height: 55px;
	margin: 0 auto;
	background: url(/assets/images/logo.png) no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: 20px center;
	text-indent: -9999px;
}
.join__form {
	position: relative;
	width: 100%;
	
}
.join__form form {
	display: block;
}
.join__form form:before {
	content: " ";
	display: table;
}
.join__form form:after {
	content: " ";
	display: table;
	clear: both;
}
.join__form__article {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #dfdfdf;
	background-color: #efefef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.join__form__article + .join__form__article {
	margin-top: 10px;
}
.join__form-item {
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.join__form .c-function {
	margin-top: 10px;
}
.join__btn {
	display: block;
	width: 100%;
	height: 36px;
	margin-top: 20px;
	text-align: center;
	background-color: #007e37;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px 5px rgba(185, 220, 210, .2);
	-moz-box-shadow: 0 1px 3px 5px rgba(185, 220, 210, .2);
	box-shadow: 0 1px 3px 5px rgba(185, 220, 210, .2);
}

/* member */
.member {
	position: relative;
}
.member__form-item + .member__form-item {
	margin-top: 10px;
}

/* dashboard */
.dashboard {
	position: relative;
	width: 100%;
}
.dashboard__count {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 74px;
} 
.dashboard__count-item {
	float: left;
	position: relative;
	padding: 5px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dashboard__count-item + .dashboard__count-item {
	border-left: 1px solid #999;
}
.dashbaord__count-title {
	margin-bottom: 10px;
	color: #73879c;
	font-size: 14px;
	font-weight: 700;
}
.dashboard__count-num {
	color: #465a6e;
	font-size: 40px;
	font-weight: 700;
}
.dashboard__count-num.dashboard__count-num--normal {
	color: #48ae63;
}
.dashboard__count-num.dashboard__count-num--warning {
	color: #ffcc00;
}
.dashboard__count-num.dashboard__count-num--danger {
	color: #ff7f7f;
}
.dashboard__row {
	margin-top: 10px;
}
.dashboard__row:before {
	content: " ";
	display: table;
}
.dashboard__row:after {
	content: " ";
	display: table;
	clear: both;
}

/* layout-select */
.layout-select {
	position: absolute;
	top: 0;
	right: 0;
}
.layout-select ul:before {
	content: " ";
	display: table;
}
.layout-select ul:after {
	content: " ";
	display: table;
	clear: both;
}
.layout-select li {
	float: left;
}
.layout-select a {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #dfdfdf;
	text-indent: -9999px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-select li .loyout-select__01 {
	background: #fff url(/assets/images/dashboard__layout01.png) no-repeat;
	-webkit-background-size: 36px 36px;
	background-size: 36px 36px;
	background-position: center center;
}
.layout-select li .loyout-select__02 {
	background: #fff url(/assets/images/dashboard__layout02.png) no-repeat;
	-webkit-background-size: 36px 36px;
	background-size: 36px 36px;
	background-position: center center;
}
.layout-select li .loyout-select__03 {
	background: #fff url(/assets/images/dashboard__layout03.png) no-repeat;
	-webkit-background-size: 36px 36px;
	background-size: 36px 36px;
	background-position: center center;
}
.layout-select li .loyout-select__01:hover,
.layout-select li .loyout-select__02:hover,
.layout-select li .loyout-select__03:hover {
	background-color: #b9dcd2;
}
.layout-select li.select .loyout-select__01,
.layout-select li.select .loyout-select__02,
.layout-select li.select .loyout-select__03 {
	background-color: #007e37;
}

/* panel */
.panel {
	float: left;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.panel.panel--three {
	width: 33.3333%;
}
.panel.panel--duo {
	width: 50%;
}
.panel.panel--w500 {
	width: 500px;
}
.panel.panel--w-500,
.panel.panel--w500 + .panel {
	width: calc(100% - 500px);
}
.panel.panel--w600 {
	width: 600px;
}
.panel.panel--w-600,
.panel.panel--w600 + .panel {
	width: calc(100% - 600px);
}
.panel.panel--w700 {
	width: 700px;
}
.panel.panel--w-700,
.panel.panel--w700 + .panel {
	width: calc(100% - 700px);
}
.panel:first-child {
	padding-left: 0;
}
.panel:last-child {
	padding-right: 0;
}
.panel:only-child {
	padding: 5px 0;
}
/*.panel:only-child .c-scroll-table__body {
	height: 500px;
}*/
.panel__inner {
	background-color: #fff;
	border: 1px solid #dfdfdf;
}
.panel__inner:before {
	content: " ";
	display: table;
}
.panel__inner:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__header {
	padding: 5px 10px;
}
.panel__header:before {
	content: " ";
	display: table;
}
.panel__header:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__title {
	float: left;
	/*color: #a7a9ac;*/
	color: #787a7d;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.panel__header .panel__console {
	float: right;
}
.panel__console {
	position: relative;
}
.panel__console:before {
	content: " ";
	display: table;
}
.panel__console:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__button {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	padding: 0;
	border: 0;
	background-image: url(/assets/images/is.png);
	background-color: transparent;
	background-repeat: no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
.panel__button + .panel__button {
	margin-left: 5px;
}
.panel__button.refresh {
	background-position: 0 -24px;
}
.panel__button.refresh:hover {
	background-position: 0 0;
}
.panel__button.fold {
	background-position: -24px -24px;
}
.panel__button.fold:hover {
	background-position: -24px 0;
}
.panel__body {
	position: relative;
	height: 314px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-ms-transition: height .2s;
	-o-transition: height .2s;
	transition: height .2s;
}
.panel__body:before {
	content: " ";
	display: table;
}
.panel__body:after {
	content: " ";
	display: table;
	clear: both;
}
.panel__header + .panel__body {
	border-top: 1px solid #dfdfdf;
}
.panel__body.panel__body--height-auto {
	height: auto;
}
.panel__body.panel__body--non-padding {
	padding: 0;
}
.panel__body.fold {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	height: 0;
	padding: 0;
}
.panel__body .map,
.panel__stat {
	width: 100%;
	height: 293px;
}
.panel__body .map.map--big {
	height: 528px;
}

.panel__console.panel__console--left {
	float: left;
}
.panel__console.panel__console--right {
	float: right;
}

.panel.panel--layout.panel--layout-2:first-child {
	width: 66.6666%;
}
.panel.panel--layout.panel--layout-2:nth-child(2),
.panel.panel--layout.panel--layout-2:nth-child(3) {
	width: 33.3334%
}
.panel.panel--layout.panel--layout-2:first-child .panel__body {
	height: 674px;
}
.panel.panel--layout.panel--layout-2:first-child .panel__body .map {
	height: 654px;
}
.panel.panel--layout.panel--layout-3:first-child {
	width: 100%;
	padding-right: 0;
}
.panel.panel--layout.panel--layout-3:first-child .panel__body {
	height: 474px;
}
.panel.panel--layout.panel--layout-3:first-child .panel__body .map {
	height: 454px;
}
.panel.panel--layout.panel--layout-3:nth-child(2) {
	width: 50%;
	padding-left: 0;
}
.panel.panel--layout.panel--layout-3:nth-child(3) {
	width: 50%
}

.equipment {
	width: 100%;
}
.equipment:before {
	content: " ";
	display: table;
}
.equipment:after {
	content: " ";
	display: table;
	clear: both;
}
.equipment__section {
	float: left;
	position: relative;
	/*width: 25%;*/
	width: 240px;
	height: 240px;
	padding: 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.equipment__section:last-child {
	width: calc(100% - 720px);
}
.equipment__section + .equipment__section:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: -1px;
	width: 1px;
	height: calc(100% - 20px);
	background-color: #dfdfdf;
}
.equipment__section-title {
	margin-bottom: 10px;
	color: #787a7d;
	font-size: 18px;
	font-weight: 700;
}
.equipment__stat,
.equipment__connect {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 24px;
	padding: 5px 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	color: #fff;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.equipment__stat.normal,
.equipment__connect.on {
	border: 1px solid #007e37;
	background-color: #48ae63;
}
.equipment__stat.caution {
	border: 1px solid #c79c00;
	background-color: #ffcc00;
}
.equipment__stat.severe {
	border: 1px solid #c84f53;
	background-color: #ff7f7f;
}
.equipment__connect.off {
	border: 1px solid #007e37;
	background-color: #fff;
	color: #007e37;
}
.equipment__connect {
	right: 10px;
	left: auto;
}
.equipment__img {
	width: 100%;
	text-align: center;
}
.equipment__img img {
	height: 180px;
}
.equipment__img span {
	display: block;
	font-size: 12px;
}
.equipment__info {
	
}
.equipment__info-item {
	overflow: hidden;
}
.equipment__info-item + .equipment__info-item {
	margin-top: 10px;
}
.equipment__info-title {
	color: #787a7d;
	font-size: 14px;
}
.equipment__info-value {
	font-size: 14px;
}
/*.equipment__chart {
	position: relative;
	width: 100%;
	height: 220px;
}*/
.equip-setting {
	height: 525px;
}
.equip-setting ul li + li {
	margin-top: 10px;
}

/* section */
.section {
	position: relative;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section + .section {
	margin-top: 20px;
}
.section__heading {
	margin-bottom: 20px;
	color: #73879c;
	font-size: 24px;
	font-weight: 700;
}

.article {
	position: relative;
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.article + .article {
	margin-top: 5px;
}
.article__heading {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
}
h4.article__heading {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}
.article__head-caption {
	color: #666;
	font-size: 14px;
}

/* l-float-heading */
.l-float-heading {
	position: relative;
	margin-bottom: 10px;
}
.l-float-heading:before,
.l-float-heading:after {
	content: " ";
	display: table;
}
.l-float-heading:after {
	clear: both;
}
.l-float-heading--left {
	float: left;
}
.l-float-heading--right {
	float: right;
}

/* code */
.code {
	position: relative;
	width: 100%;
	padding: 20px;
	border: 1px solid #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__category {
	position: absolute;
	top: -1px;
	left: -1px; 
	width: 33.33334%;
	padding: 10px;
	background-color: #efefef;
	border: 1px solid #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__detail {
	overflow: hidden;
	margin: -10px;
}
.code__detail-item {
	float: left;
	width: 33.3333%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.code__detail-item:first-child {
	margin-left: 33.3334%;
}
.code__detail-item:last-child {
	width: 100%;
}
.code__detail + .code__detail-list {
	margin-top: 10px;
	display: flex;
}
.code__detail-list li {
	flex: 1;
}
.code__detail-list li + li {
	margin-left: 10px
}


.contents-footer {
	width: 100%;
	height: 40px;
	padding: 0 20px;
	background-color: #fff;
	color: #ddd;
	font-size: 12px;
	text-align: right;
	line-height: 40px;
	-webkit-box-sizing: border-box;;
	-moz-box-sizing: border-box;;
	box-sizing: border-box;;
}


/* refresh pop */
.refresh-pop {
	float: right;
	position: relative;
	width: 64px;
}
.refresh-pop:before {
	content: " ";
	display: table;
}
.refresh-pop:after {
	content: " ";
	display: table;
	clear: both;
}
.refresh-pop__btn {
	float: left;
	display: block;
	width: 40px;
	height: 24px;
	border: 1px solid #dfdfdf;
	background: #fff url(/assets/images/icon__revision--gray.png) no-repeat;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	background-position: center center;
	text-indent: -9999px;
	cursor: pointer;
}
.refresh-pop__btn:hover {
	background: #dfdfdf url(/assets/images/icon__revision--gray-bold.png) no-repeat;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	background-position: center center;
}
.refresh-pop__btn-pop {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	background: #efefef url(/assets/images/icon__fold--gray.png) no-repeat;
	border: 1px solid #dfdfdf;
	background-position: center center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.refresh-pop__btn-pop:hover {
	background: #dfdfdf url(/assets/images/icon__fold--gray-bold.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}
.refresh-pop__progress {
	float: left;
	width: 100%;
	height: 4px;
	background-color: #b9dcd2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.refresh-pop__progress div {
	width: 100%;
	height: 3px;
	background-color: #007e37;
}
.refresh-pop__context {
	display: none;
	position: absolute;
	top: 27px;
	right: 0;
	width: 130px;
	background-color: #fff;
	border: 1px solid #888;
	z-index: 1;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
}
.refresh-pop__context.show {
	display: block;
}
.refresh-pop__context li {
	padding: 5px 10px;
	font-size: 14px;
}
.refresh-pop__context li:hover {
	background-color: #efefef;
}
.refresh-pop__context li + li {
	border-top: 1px solid #888;
}
.refresh-pop__box {
	border-bottom: 1px solid #888;
}
.refresh-pop__context li label {
	font-size: 14px;
	line-height: 14px;
}
.refresh-pop__context li input {
	margin: 0;
	margin-right: 5px;
	vertical-align: middle;
}



/* control */
.control {
	position: relative;
	width: 100%;
}
.control__head {
	width: 100%;
}
.control__head:before {
	content: " ";
	display: table;
}
.control__head:after {
	content: " ";
	display: table;
	clear: both;
}
.control__head-item {
	float: left;
}
.control__head-item + .control__head-item {
	margin-left: 10px;
}
.control__head-item .c-select {
	width: 180px;
}
.control__body {
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.control__section {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.control__box {
	float: left;
	padding: 5px 20px;
	border-left: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.control__box:first-child {
	padding-left: 0;
	border-left: 0;
}
.control__box:last-child {
	padding-right: 0;
}
.control__results {
	
}
.control__result-item {
	position: relative;
}
.control__result-item:before {
	content: " ";
	display: table;
}
.control__result-item:after {
	content: " ";
	display: table;
	clear: both;
}
.control__result-item + .control__result-item {
	margin-top: 10px;
}
.control__result-title {
	float: left;
	position: relative;
	width: 140px;
	text-align: left;
	color: #787a7d;
	font-size: 14px;
	line-height: 26px;
}
.control__result-title:after {
	content: ":";
	position: absolute;
	top: 0;
	right: 0;
}
.control__result {
	float: left;
	position: relative;
	margin-left: 10px;
	padding: 5px 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	color: #787a7d;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.control__result.open {
	background-color: #007e37;
	border-color: #007e37;
	color: #fff;
}
.control__result.close {
	border-color: #007e37;
	color: #007e37;
}
.control__result.loading {
	width: 58px;
	height: 26px;
	padding: 0;
	border-color: #007e37;
}
.control__result.loading span {
	display: block;
	position: absolute;
	top: 11px;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #007e37;
}
.control__result.loading.active span {
	-webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	-moz-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	-o-animation-timing-function: cubic-bezier(0, 1, 1, 0);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.control__result.loading span:nth-child(1),
.control__result.loading span:nth-child(2) {
	left: 12px;
}
.control__result.loading span:nth-child(3) {
	left: 26px;
}
.control__result.loading span:nth-child(4) {
	left: 40px;
}
.control__result.loading.active span:nth-child(1) {
	animation: ellipsis1 0.6s infinite;
}
.control__result.loading.active span:nth-child(2) {
	animation: ellipsis2 0.6s infinite;
}
.control__result.loading.active span:nth-child(3) {
	animation: ellipsis2 0.6s infinite;
}
.control__result.loading.active span:nth-child(4) {
	animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes ellipsis2 {
	0% {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(14px, 0);
		-moz-transform: translate(14px, 0);
		-ms-transform: translate(14px, 0);
		-o-transform: translate(14px, 0);
		transform: translate(14px, 0);
	}
}
@keyframes ellipsis3 {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}


/* popup */
.l-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	z-index: 100;
}
.l-popup.open {
	display: block;
}
.l-popup__container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.l-popup__head {
	width: 100%;
	padding: 15px 10px;
	background-color: #007e37;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-popup__heading {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.l-popup__content {
	padding: 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-popup__section + .l-popup__section {
	margin-top: 10px;
}
.l-popup__close {
	display: block;
	position: absolute;
	top: 7px;
	right: -40px;
	width: 30px;
	height: 30px;
	background: url(/assets/images/icon__close--w.png) no-repeat;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	text-indent: -9999px;
}


/* error */
.error-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #f1f1f1;
	z-index: 10;
}
.error {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 60px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.error__heading {
	color: #fff;
	font-size: 75px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px 0 #ccc, 
   	0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}
.error__heading span {
	display: block;
	font-size: 192px;
}
.error__message {
	margin-top: 40px;
	color: #666;
	font-size: 16px;
	line-height: 1.2;
}
.error__message span {
	display: block;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}
.error__home-btn {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 80px;
	height: 40px;
	margin-left: -40px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #007e37;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
}









