@charset "utf-8";

.c-btn-group {
	position: relative;
}
.c-btn-group__list:before {
	content: " ";
	display: table;
}
.c-btn-group__list:after {
	content: " ";
	display: table;
	clear: both;
}
.c-btn-group__title {
	display: block;
	margin-bottom: 3px;
	color: #787a7d;
	font-size: 12px;
}
.c-btn-group__button {
	float: left;
	display: block;
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	color: #007e37;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}
.c-btn-group__button:hover {
	background-color: #b9dcd2;
}
.c-btn-group__button.active {
	background-color: #007e37;
	border-color: #007e37;
	color: #fff;
}
.c-btn-group__title + .c-btn-group__button,
.c-btn-group__button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.c-btn-group__button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* input date */
.c-date {
	position: relative;
}
.c-date__label {
	display: block;
	margin-bottom: 3px;
	color: #787a7d;
	font-size: 12px;
}
.c-date__input {
	width: 100%;
	height: 28px;
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-date__input[readonly] {
	background-color: #efefef;
}
input[type="date"] {
  background:#fff url(/assets/images/icon__calendar--gray.png)  97% 50% no-repeat ;
  -webkit-background-size: 16px;
  background-size: 16px;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.c-date-group:before {
	content: " ";
	display: table;
}
.c-date-group:after {
	content: " ";
	display: table;
	clear: both;
}
.c-date-group .c-date {
	float: left;
	width: 130px;
}
.c-date-group .c-date + .c-date {
	margin-left: 20px;
}
.c-date-group .c-date + .c-date:before {
	content: "-";
	position: absolute;
	bottom: 0;
	left: -13px;
	font-size: 16px;
	line-height: 27px;
}
.c-date-group.c-date-group--flex {
	display: flex;
}
.c-date-group.c-date-group--flex .c-date {
	flex: 1;
	float: none;
	width: auto;
}

/* button */
.c-button {
    display: block;
    padding: 4px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #fff;
    color: #787a7d;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
}
a.c-button {
	min-height: 28px;
	line-height: 28px;
	padding: 0 10px;
}
.c-button:hover {
	background-color: #b9dcd2;
	border-color: #007e37;
	color: #007e37;
}
.c-button[disabled] {
    border-color: #ddd;
    background-color: #ddd;
    color: #888;
    cursor: no-drop;
}
.c-button.c-button--point {
    border-color: #007e37;
    background-color: #b9dcd2;
    color: #007e37;
    font-weight: 700;
}
.c-button.c-button--point:hover {
	background-color: #007e37;
	color: #fff;
}
.c-button.c-button--small {
    padding: 2px 5px;
    border-radius: 1px;
    font-size: 12px;
}

/* float layout */
.c-float:before {
	content: " ";
	display: table;
}
.c-float:after {
	content: " ";
	display: table;
	clear: both;
}
.c-float__item {
	float: left;
}
.c-float__item + .c-float__item {
	margin-left: 20px;
}
.c-float.c-float--flex {
	display: flex;
}
.c-float.c-float--flex .c-float__item {
	flex: 1;
}
.c-float.c-float--flex .c-float__item.c-float__item--flex--auto {
	flex: 0 1 auto;
}
.panel__console + .c-float {
	margin-top: 10px;
}

/* select */
.c-select {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-select__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 30px 0 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQgMzQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM0IDM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjIyMjIyIiBwb2ludHM9IjIxLjksMTQuOSAyMS4yLDE0LjIgMTcsMTguNCAxMi44LDE0LjIgMTIuMSwxNC45IDE3LDE5LjggMTcsMTkuOCAxNywxOS44ICIvPjwvc3ZnPg==);
    background-position: 100% 50%;
    -webkit-background-size: 28px 28px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-select__input::-ms-expand {
    display: none;
}
.c-select__input:focus {
    border-color: #50b6d4;
}
.c-select.c-select--small .c-select__input {
    height: 22px;
    padding: 0 22px 0 10px;
    -webkit-background-size: 22px 22px;
    background-size: 22px 22px;
}

/* c-text */
.c-text {
    position: relative;
}
.c-text__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
}
.c-text__input:focus,
.c-text__input:active {
    border-color: #181A1F;
}
.c-text__input::placeholder {
    color: #aaa;
}
.c-text__input[disabled],
.c-text__input[readonly] {
    background-color: #ddd;
    color: #888
}

.c-select__label,
.c-text__label,
.c-textarea__label {
	display: block;
	margin-bottom: 3px;
	color: #787a7d;
	font-size: 12px;
}
.c-textarea {
	width: 100%;
	height: 60px;
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 5px;;
	-moz-border-radius: 5px;;
	border-radius: 5px;;
	resize: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* search */
.c-search {
	position: relative;
}
.c-search:before {
	content: " ";
	display: table;
}
.c-search:after {
	content: " ";
	display: table;
	clear: both;
}
.c-search__input {
	float: left;
	width: 120px;
	height: 24px;
	padding: 0 10px;
	border: 1px solid #dfdfdf;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-search__btn {
	float: left;
	width: 24px;
	height: 24px;
	padding: 0;
	background: #b9dcd2 url(/assets/images/icon__search--b.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	border: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.c-search__btn:hover {
	background: #007e37 url(/assets/images/icon__search--w.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}

/* list */
.c-list {
	position: relative;
	width: 100%;
}
.c-list__item + .c-list__item {
	margin-top: 10px;
}
.c-list.equipment .c-list__item {
	width: 100%;
	border: 10px solid #efefef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-list.equipment .c-list__item + .c-list__item {
	margin-top: 0;
}

/* functions */
.c-function {
    margin-top: 10px;
}
.c-function:before {
    content: " ";
    display: table;
}
.c-function:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group {
    float: left;
}
.c-function__group:before {
    content: " ";
    display: table;
}
.c-function__group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group.c-function__group--right {
    float: right;
}
.c-function__item {
    float: left;
    display: inline-block;
}
.c-function__item + .c-function__item {
    margin-left: 10px;
}


/* table */
.c-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 14px;
    border-top: 2px solid #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
}
.c-table.align--center {
    text-align: center;
}
.c-table th {
    padding: 10px 5px;
    border: 1px solid #efefef;
    vertical-align: middle;
    font-size: 14px;
    /* font-weight: 700; */
    word-break: break-all;
    word-wrap: break-word;
}
.c-table th:first-child {
	border-left: 0;
}
.c-table th:last-child {
	border-right: 0;
}
.c-table td {
    height: 35px;
    padding: 5px;
    border: 1px solid #efefef;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-table td:first-child {
	border-left: 0;
}
.c-table td:last-child {
	border-right: 0;
}
.c-table th.align--right,
.c-table td.align--right {
    text-align: right;
}
.c-table th.align--center,
.c-table td.align--center {
    text-align: center;
}
.c-table tr:last-child > th,
.c-table tr:last-child > td {
    border-bottom: none;
}
.c-table tr.align--center th,
.c-table tr.align--center td {
    text-align: center;
}
.c-table tr.align--right th,
.c-table tr.align--right td {
    text-align: right;
}
.c-table td a {
	display: inline;
	color: #222;
	font-size: 14px;
	line-height: 1.4;
}
.c-table td a:hover {
	text-decoration: underline;
}
.c-table td a + img {
	display: inline;
	height: 14px;
	margin: 0;
	padding: 0;
}

.c-table.c-table--non-border th,
.c-table.c-table--non-border td {
    border: 0;
    padding: 5px;
}
.c-table.c-table--non-border th {
    font-size: 14px;
}
.c-table thead + tbody {
    border-top: 2px solid #7e7e7e;
}
.c-table__link {
    color: #555;
}
.c-table__link:hover {
    text-decoration: underline;
}
.c-table.c-table--hover tbody tr:hover,
.c-table tbody tr.bg-color {
    background-color: #efefef;
}
.c-table tr.border-top td{
    border-top: 1px solid #efefef;
}
.c-table.c-table--font-small th {
    font-size: 14px;
}
.c-table td.non-padding {
    padding: 5px 0;
}

/* scroll table */
.c-scroll-table {
	position: relative;
	width: 100%;
}
.c-scroll-table__header {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.c-scroll-table__body {
	overflow: auto;
	width: 100%;
	height: 500px;
}
.c-scroll-table__body.c-scroll-table__body--height-auto {
	height: auto;
	max-height: 500px;
}
.c-scroll-table__body-padding {
	display: none;
}
.c-scroll-table__footer {
	overflow: hidden;
	position: absolute;
	/*width: 100%;*/
	width: calc(100% - 19px);
	bottom: 17px;
	left: 0;
	/*padding-top: 4px;*/
	background-color: #fff;
	-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 -2px 2px rgba(0, 0, 0, .3);
}
.c-scroll-table__body.c-scroll-table__body--scrollbar .c-scroll-table__body-padding {
	display: block;
	width: 100%;
	height: 33px;
}
.c-scroll-table__body.c-scroll-table__body--scrollbar + .c-scroll-table__footer {
	width: calc(100% - 17px);
}

.c-scroll-table table {
	table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 14px;
    border: 1px solid #7e7e7e;
}
/* 세로 스크롤 */
.c-scroll-table .c-scroll-table__header table {
	border: 0 none;
}
.c-scroll-table .c-scroll-table__header table tr th {
	border: 1px solid #7e7e7e;
}
.c-scroll-table .c-scroll-table__header table tr:last-child th {
	border-bottom: 0;
}
.c-scroll-table .c-scroll-table__header table tr th:last-child {
	border-top: 0 none;
	border-right: 0 none;
	border-bottom: 0;
	background-color: #fff;
}
.c-scroll-table .c-scroll-table__body table,
.c-scroll-table .c-scroll-table__footer table {
	/*border-top: 0;*/
}
.c-scroll-table table th,
.c-scroll-table table td {
	padding: 5px;
	border: 1px solid #7e7e7e;
	font-size: 14px;
	text-align: center;
}
.c-scroll-table table th {
	background-color: #c4c4c4;
}
.c-scroll-table table td.align-left {
	text-align: left;
}
/*.c-scroll-table table th:last-child{
	display: none;
}*/
.c-scroll-table table th:first-child,
.c-scroll-table table td:first-child {
	border-left: 0;
}
.c-scroll-table table th:last-child,
.c-scroll-table table td:last-child {
	border-right: 0;
	border-left: 0;
}
.c-scroll-table table th:nth-last-child(2) {
	/*border-right: 0;*/
}
.c-scroll-table .c-scroll-table__body table tr:nth-child(2n) td {
	background-color: #efefef;
}
/*.c-scroll-table .c-scroll-table__footer td {
	background-color: #fff;
}*/
.c-scroll-table table th input[type=checkbox],
.c-scroll-table table td input[type=checkbox] {
	margin: 0;
	vertical-align: bottom;
}

.c-scroll-table.c-scroll-table--hover .c-scroll-table__body table tr:hover td {
	background-color: #bdbdbd;
	cursor: pointer;
}



/* 가로 스크롤 */
.c-scroll-table__header.c-scroll-table__header--scrollbar table {
	width: 100%;
}
.c-scroll-table__header.c-scroll-table__header--scrollbar table th:last-child {
	display: table-cell;
}


/* 헤더 & 컬럼 고정 스크롤  */
.c-fixed-table {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.c-fixed-table__scroller {
	position: relative;
	width: 100%;
	height: 100%;
}
.c-fixed-table table {
	position: relative;
	table-layout: fixed;
    /*width: 100%;*/
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 14px;
    border: 1px solid #7e7e7e;
} 
.c-fixed-table thead {
	overflow: visible;
	position: relative;
	display: block;
}
.c-fixed-table thead th {
	padding: 5px;
	border: 1px solid #7e7e7e;
	font-size: 14px;
	text-align: center;
}
.c-fixed-table thead th.fixed {
	position: relative;
	display: block;
}


/* paging */
.c-pager {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
}
.c-paging {
    position: relative;
    display: table-cell;
    width: calc(100% - 100px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging:before {
    content: " ";
    display: table;
}
.c-paging:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__wrapper {
    /* display: table-cell; */
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.c-paging__item {
    /* display: inline-block; */
    display: table-cell;
    min-width: 25px;
    padding: 4px 8px;
    height: 25px;
    color: #888;
    font-size: 14px;
    /* line-height: 25px; */
    text-decoration: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    /* line-height: 1; */
}
.c-paging__item + .c-paging__item {
    margin-left: 4px;
}
.c-paging__item:hover {
    background-color: #eee;
    color: #555;
    font-weight: 700;
    letter-spacing: -0.4px;
}
.c-paging__item.check {
    background-color: #555;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.3px;
}
.c-paging__item.c-paging__control {
	padding: 0;
}
.c-paging__total {
    display: table-cell;
    width: 100px;
    /* float: left; */
    /* margin-left: 19px; */
}
.c-paging__total:before {
    content: " ";
    display: table;
}
.c-paging__total:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__total-group {
    float: left;
    width: 50%;
    height: 30px;
    color: #555;
    font-size: 14px;
    text-align: right;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging__total-group:before {
    content: " ";
    display: table;
}

.c-paging__total-group:after {
    content: " ";
    display: table;
    clear: both;
}

.c-paging__total-group:first-child {
    font-weight: 700;
}
.c-paging__total-group .c-text {
    float: left;
    width: calc(100% - 35px);
    border: 0;
}
.c-paging__total-group .c-text__input {
    border: 0;
}
.c-paging__total-group .c-text__input:focus,
.c-paging__total-group .c-text__input:active {
    border: 0;
}

.c-paging__total-group .c-button {
    min-width: 35px;
    height: 30px;
    padding: 9px 10px;
    border: 0;
    background: #eee;
    border-radius: 0;
}
.c-paging__total-group .c-button:hover {
    box-shadow: none;
    background-color: #d6d6d6;
}
.c-paging__total-group + .c-paging__total-group {
    position: relative;
    padding-left: 20px;
}

/* .c-paging__total-group + .c-paging__total-group:before {
    content:"/";
    display: table;
    position: absolute;
    left: 10px;
    top: 6px;
} */
.c-paging__total-alarm {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
    color: #888;
}
.c-paging__total-arrow,
.c-paging__arrow {
    float: left;
}
.c-paging__group {
    float: left;
    margin: 0 5px;
}
.c-table + .c-paging {
    margin: 10px auto 0;
}


.c-input-list {
	
}
.c-input-list:before {
	content: " ";
	display: table;
}
.c-input-list:after {
	content: " ";
	display: table;
	clear: both;
}
.c-input-list li {
	float: left;
}
.c-input-list li + li {
	margin-left: 10px;
}
.c-input-list li .c-select {
	width: 100%;
}
.c-input-list.c-input-list--flex {
	display: flex;
}
.c-input-list.c-input-list--flex li {
	flex: 1;
}
.c-input-list.c-input-list--flex li.flex-auto {
	flex: 0 1 auto;
}
.c-input-list.c-input-list--flex li + li {
	margin-left: 10px;
}

.c-search-form {
	position: relative;
}
.c-search-form:before {
	content: " ";
	display: table;
}
.c-search-form:after {
	content: " ";
	display: table;
	clear: both;
}
.c-search-form input[type=text],
.c-search-form .c-button {
	float: left;
}
.c-search-form input[type=text]:first-child {
	width: 45%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.c-search-form input[type=text]:nth-child(2) {
	width: calc(55% - 1px);
	margin-left: 1px;
	padding-right: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.c-search-form__button {
	position: absolute;
	bottom:0;
	right: 0;
	width: 30px;
	height: 30px;
	background: #8d8d8d url(/assets/images/icon__search--b.png) no-repeat;
	background-position: center center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	border: 1px solid #eee;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-indent: -9999px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.c-search-form__button:hover {
	background: #666 url(/assets/images/icon__search--w.png) no-repeat;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	background-position: center center;
}

.c-picfile {
	position: relative;
	width: 100%;
	padding: 20px;
	border: 1px solid #dfdfdf;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-picfile__default {
	display: block;
	width: 84px;
	margin: 0 auto;
}
.c-picfile__picture {
	display: none;
	width: 84px;
}
.c-picfile.active .c-picfile__default {
	display: none;
}
.c-picfile.active .c-picfile__picture {
	display: block;
}
.c-picfile__filename {
	margin-top: 10px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 0;
}
.c-picfile__upload {
	margin-top: 10px;
}
.c-picfile__upload label {
	display: inline-block;
	padding: 10px 15px;
	background-color: #007e37;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}
.c-picfile__upload input[type=file] {
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	clear: rect(0, 0, 0, 0);
	border: 0;
}

/* tabs */
.c-tab-heading {
	overflow: hidden;
	width: 100%;
}
.c-tab-heading__item {
	float: left;
	width: 50%;
}
.c-tab-heading__title {
	display: block;
	width: 100%;
	background-color: #b9dcd2;
	border: 1px solid #89aaa1;
	color: #000;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-tab-heading__title.c-tab-heading__title--search,
.c-tab-heading__title.c-tab-heading__title--truck {
	padding-top: 60px;
	-webkit-background-size: 90px 40px;
	background-size: 90px 40px;
	background-position: center 15px;
	background-repeat: no-repeat;
}
.c-tab-heading__title.c-tab-heading__title--search {
	background-image: url(/assets/images/icon__searchcheck.png);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
.c-tab-heading__title.c-tab-heading__title--truck {
	background-image: url(/assets/images/icon__truck.png);
}
.c-tab-heading__item.active .c-tab-heading__title {
	background-color: #007e37;
	color: #fff;
}
.c-tab-heading__item.active .c-tab-heading__title.c-tab-heading__title--search {
	background-image: url(/assets/images/icon__searchcheck--w.png);
}
.c-tab-heading__item.active .c-tab-heading__title.c-tab-heading__title--truck {
	background-image: url(/assets/images/icon__truck--w.png);
}
.c-tab {
	position: relative;
	width: 100%;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-tab__item {
	display: none;
	position: relative;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-tab__item.active {
	display: block;
}

/* loader */
.c-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.c-loader__active {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
}

/* wastebasket */
.c-basket {
	position: relative;
	width: 14px;
	height: 20px;
	border: 2px solid #484848;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-basket:before {
	content: " ";
	position: absolute;
	top: -2px;
	left: -4px;
	width: 18px;
	height: 2px;
	background-color: #484848;
}
.c-basket:after {
	content: " ";
	position: absolute;
	top: -4px;
	left: 3px;
	width: 4px;
	height: 2px;
	background-color: #484848;
}
.c-basket__inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.c-basket__fill {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 0;
	background-color: #ff7f7f;
}

/* ring */
.c-loader__active.c-loader__active--ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 6px solid #007e37;
	border-color: #007e37 transparent #007e37 transparent;
	animation: dual-ring 1.2s linear infinite;
}



@keyframes dual-ring {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}










/* datepicker */
.ui-datepicker,
.month-picker {
    overflow: hidden;
    width: 280px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.month-picker table{
    border-collapse: separate;
    border-spacing:2px 2px;
}
.month-picker td{
    padding:0;
    vertical-align: middle;
}
.ui-datepicker-header,
.month-picker-header {
    height: 50px;
    line-height: 50px;
    color: #73879c;
    background-color: #e4e4e4;
    margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.month-picker-previous a,
.month-picker-next a {
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    border: 2px solid #73879c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-indent: -9999px;
    cursor: pointer;
}
.month-picker-previous a,
.month-picker-next a {
        display: block;
        position: relative;
        margin-top: 0;
}
.ui-datepicker-prev,
.month-picker-previous a {
    float: left;
    margin-left: 12px;
}
.ui-datepicker-next,
.month-picker-next a {
    float: right;
    margin-right: 12px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after,
.month-picker-previous a:after,
.month-picker-next a:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #73879c;
    border-bottom: 2px solid #73879c;
}
.ui-datepicker-prev:after,
.month-picker-previous a:after {
    margin: -43px 0 0 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ui-datepicker-next:after,
.month-picker-next a:after {
    margin: -43px 0 0 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.month-picker-previous a:after,
.month-picker-next a:after {
        margin-top: 7px;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.month-picker-previous a:hover,
.month-picker-next a:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after,
.month-picker-previous a:hover:after,
.month-picker-next a:hover:after {
    border-color: #007e37;
}
.ui-datepicker-title,
.month-picker-title {
    text-align: center;
}
.month-picker-title {
        width: 204px;
}
.month-picker-title .ui-button {
	line-height: 50px;
}
.ui-datepicker-calendar,
.month-picker-month-table {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    margin-bottom: 5px;
    color: #007e37;
    font-size: 12px;
}
.ui-state-default {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 40px;
}
.ui-button {
        display: block;
        color: #666;
        font-size: 12px;
        line-height: 40px;
        cursor: pointer;
}
.ui-state-default:hover,
.ui-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.ui-state-highlight {
    color: #007e37;
    font-weight: 700;
}
.ui-state-active {
    color: #007e37;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.1);
}
.ui-datepicker-unselectable .ui-state-default {
    border: 2px solid transparent;
    color: #eee;
}


















