<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
<head>
	<script>

		$(function(){
			if($("#headerMode").val()==="1"){
				$("#default_wrap").addClass('wrap');
				$("#header_account").css('display','block');
			}else{
				$("#default_wrap").addClass('wrap nav--small');
				$("#header_account").css('display','none');
			}

			$("#btnSave").on('click',function(){
				save();
			});

			// 팝업열고,닫기
			$('.pop__list').on('click', function(e) {
				$('#pop__list').addClass('open');
				e.preventDefault();
			});
			$('.l-popup__close').on('click', function(e) {
				$('.l-popup').removeClass('open');
				e.preventDefault();
			});

			// 운영사조회버튼
			$("#agencyBtnSearch").on('click',function(){
				agencyCallList(1);
			});

		});

		function init() {
			$("#userid").val('');
			$("#password").val('');
			$("#password2").val('');
			$("#username").val('');
			$("#cellphone").val('');
			$("#email").val('');
			$("#companyid").val('');
			$("#companyname").val('');
		}

		function save(){
			if ($("#userid").val().trim() === '') {
				alertCaution("아이디를 입력하세요.<BR> 아이디는 중복되지 않도록 <BR> 확인 후 입력하세요");
				$("#userid").trigger('focus');
				return false;
			}

			if ($("#password").val().trim() === '') {
				alertCaution("비밀번호를 입력하세요.");
				$("#password").trigger('focus');
				return false;
			}

			if ($("#password").val().trim() !== $("#password2").val().trim()) {
				alertCaution("입력한 비밀번호가 다릅니다.");
				$("#password").trigger('focus');
				return false;
			}

			if ($("#username").val().trim() === '') {
				alertCaution("이름을 입력하세요.");
				$("#username").trigger('focus');
				return false;
			}

			if ($("#companyname").val().trim() === '') {
				alertCaution("소속을 선택해주세요.");
				$("#companyname").trigger('focus');
				return false;
			}

			// 이메일 체크 정규식
			var $email = $("#email");
			if($email.val()!=="") {
				if (!isEmail($email.val())) {
					alertCaution("이메일 형식에 맞지 않습니다.");
					$email.trigger('focus');
					return false;
				}
			}

			var $form = $('form[name="frmreg"]');
			var params = $form.serialize();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/account/signup',
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('사용자등록이 완료 되었습니다.');
					init();
				}
			});
		}

		function isEmail(asValue) {
			var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
			return regExp.test(asValue); // 형식에 맞는 경우 true 리턴
		}

		// 운영사 리스트보기
		function agencyCallList(page) {
			page = page - 1;
			if (page < 0) page = 0;

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#agencySchList');
			var $totalCnt = $('#agencyTotalCnt');
			var params = {
				csNumber:$('#s_csnumber').val(),
				csOperator:$('#s_csoperator').val(),
			};

			$schList.empty().append('<tr ><td colspan="3" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/agencyList?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#agencyPaging").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'agencyCallList'});
					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="3" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.csNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csOperator) +'</td>';

						html += '<td ><button class="c-button c-button--point c-button--small" onclick="callName(\''+ echoNull2Blank(value.id) +'\');">선택</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 운영사 넣기
		function callName(id) {
			var params = {
				id:id
			};
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/agencyInfo',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					$("#companyid").val(res.data.company.id);
					$("#companyname").val(res.data.company.csOperator);
					$('.l-popup__close').click();
				}
			});
		}

	</script>

</head>



<div layout:fragment="content" class="contents-body" style="padding-top: 50px; padding-bottom: 50px;">

	<div class="join">
		<h2 class="join__logo"><a href="/dashboard/dashboardall">자연상점</a></h2>
				<div class="join__form">
					<form name="frmreg">
						<div class="join__form__article">
							<div class="join__form-item">
								<div class="c-text">
									<label for="userid" class="c-text__label">아이디</label>
									<input type="text" class="c-text__input" id="userid" name="userid" />
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-text">
									<label for="password" class="c-text__label" >비밀번호</label>
									<input type="password" class="c-text__input" id="password" name="password" />
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-text">
									<label for="password2" class="c-text__label" >비밀번호확인</label>
									<input type="password" class="c-text__input" id="password2" name="password2" />
								</div>
							</div>
						</div>

						<div class="join__form__article">
							<div class="join__form-item">
								<div class="c-text">
									<label for="username" class="c-text__label"  >이름</label>
									<input type="text" class="c-text__input" id="username" name="username" />
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-text">
									<label for="cellphone" class="c-text__label">전화번호</label>
									<input type="text" class="c-text__input" id="cellphone" name="cellphone" />
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-text">
									<label for="email" class="c-text__label" >이메일</label>
									<input type="text" class="c-text__input"  id="email" name="email"/>
								</div>
							</div>
						</div>
						<div class="join__form__article">
							<div class="join__form-item">
								<div class="c-text">
									<label for="companyname" class="c-text__label" >소속사</label>
									<input type="text" class="c-text__input" id="companyname" readonly="readonly" />
									<input type="hidden" class="c-text__input" name="companyid" id="companyid" readonly="readonly" />
									<button class="c-search-form__button pop__list">검색</button>
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-select">
									<label for="teamcode" class="c-select__label">부서</label>
									<select name="teamcode" id="teamcode" class="c-select__input">
										<option th:each ="team : ${teams}"
												th:value="${team.teamcode}"
												th:text="${team.teamname}"></option>

									</select>
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-select">
									<label for="positionid" class="c-select__label">직급</label>
									<select name="positionid" id="positionid" class="c-select__input">
										<option th:each ="position : ${positions}"
												th:value="${position.id}"
												th:text="${position.name}"></option>

									</select>
								</div>
							</div>
							<div class="join__form-item">
								<div class="c-select">
									<label for="role" class="c-select__label">권한</label>
									<select name="role" id="role" class="c-select__input">
										<option th:each ="role : ${roles}"
												th:value="${role.code}"
												th:text="${role.desc}"></option>
									</select>
								</div>
							</div>
						</div>



					</form>
					<button class="join__btn" id="btnSave">등록</button>

				</div>
			</div>

	<div class="l-popup" id="pop__list">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">소속사 조회</h3>
			</div>
			<div class="l-popup__content">
				<div class="l-popup__section">
					<table class="c-table c-table--non-border">
						<colgroup>
							<col style="width: 100px;" />
							<col />
							<col style="width: 100px;" />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<tbody>
						<tr>
							<th>관리코드</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csnumber" name="s_csnumber"/>
								</div>
							</td>
							<th>소속사명</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csoperator" name="s_csoperator"/>
								</div>
							</td>
							<td>
								<button class="c-button c-button--point" id="agencyBtnSearch">조회</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="l-popup__section">
					<table class="c-table">
						<colgroup>
							<col />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<thead>
						<tr>
							<th>관리코드</th>
							<th>운영사명</th>
							<th></th>
						</tr>
						</thead>
						<tbody id ="agencySchList">

						</tbody>
					</table>

					<div class="c-pager">
						<div class="c-paging" id ="agencyPaging">
							<!-- 페이징 처리되는곳   -->
						</div>
						<div class="c-paging__total">
							<div class="c-paging__total-group">
								Total
							</div>
							<div class="c-paging__total-group" id ="agencyTotalCnt">0</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="l-popup__close">팝업닫기</a>
		</div>
	</div>


</div>
</html>