<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>NatureStore</title>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="/assets/css/mobile.css"/>
	<script src="/assets/js/mobile/mobile.js"></script>
	<link rel="stylesheet" href="/assets/js/alert/min_alert.css"/>
	<script src="/assets/js/alert/min_alert.js"></script>

	<script type="text/javascript">

		$(function() {
			collectionTaskListDate();
		});

		function listhide() {
			var $collectionlist__heading = $('.m-collectionlist__heading');
			$('.m-collectionlist__detail').hide();
			$collectionlist__heading.on('click', function(e) {
				$(this).toggleClass('active');
				$(this).next().slideToggle(300);
				$collectionlist__heading.not(this).removeClass('active');
				$collectionlist__heading.not(this).next().slideUp(300);
				e.preventDefault();
				return false;
			})
		}
		
		function listhide2() {
			var $collectionlist__headingdepth = $('.m-collectionlist__detail-heading');
			$('.m-collectionlist__detail-depth').hide();
			$collectionlist__headingdepth.on('click', function(e) {
				$(this).toggleClass('active');
				$(this).next().slideToggle(300);
				$collectionlist__headingdepth.not(this).removeClass('active');
				$collectionlist__headingdepth.not(this).next().slideUp(300);
				e.preventDefault();
				return false;
			})
		}

		// 수거업무리스트 - 수거예정일
		function collectionTaskListDate() {
			var $schList = $('#schList');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/collection/collectionTaskListDate',
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					var html = '';
					var idx = 0;
					$.each(res.data.datalist, function(key, value){
						html += '<li>';
							html += '<a onclick="collectionTaskListDevice('+"'"+nvl(value.ctCode,null)+"'"+','+idx+')" href="#" class="m-collectionlist__heading">'+'수거예정일 :' + nvl(value.yyyymmdd,"확 인 불 가") +'</a>';
							html += '<ul id="collectionTaskList'+idx+'" class="m-collectionlist__detail">';
							html += '</ul>';
						html += '</li>';
						idx++;
					});
					$schList.html(html);
					listhide();
				}
			});
		}

		// 수거업무리스트 - 장비코드
		function collectionTaskListDevice(ctCode,idx) {
			if(ctCode===null){
				alertCaution("수거업무 데이터가 존재하지 않습니다.");
				return false;
			}

			var $collectionTaskList = $("#collectionTaskList"+idx);

			// console.log("데이터 존재 ctCode : "+ctCode);
			// console.log("idx : "+idx);

			var params = {
				ctCode: ctCode,
			};

			$.ajax({
				url:'/api/collection/collectionTaskListDevice',
				data: params,
				type : 'post',
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//console.log("라우팅 장비리스트");
					if(res.data.collection===undefined){
						alertCaution("수거업무 데이터가 존재하지 않습니다.");
						return false;
					}
					// console.log("deviceid : "+res.data.collection[0].deviceid);
					// console.log("collectionSize : "+res.data.collectionSize);

					var html ='';
					for(i=0; i<res.data.collectionSize; i++) {
						html += '<li class="nonpadding" onclick="collectionTaskListInfo('+"'"+nvl(res.data.collection[i].id,null)+"'"+','+idx+','+i+')">';
						html += '<div class="m-collectionlist__box">'
						html += '<a href="#" class="m-collectionlist__detail-heading" style="text-align: left;">' + nvl(res.data.collection[i].ctSeq, "확 인 불 가")+'번 수거장비 : '+ nvl(res.data.collection[i].deviceid, "확 인 불 가") +'</a>';
						html += '<ul id="collectionDevice'+idx+i+'" class="m-collectionlist__detail-depth"></ul>';
						html += '</div>'
						html += '</li>'
					}

					$collectionTaskList.html(html);
					listhide2();
				}
			});
		}

		// 수거업무리스트 - 장비정보
		function collectionTaskListInfo(id,key1,key2) {
			if(id===null){
				alertCaution("수거업무 데이터가 존재하지 않습니다.");
				return false;
			}
			var $collectionDevice = $("#collectionDevice"+key1+key2);

			// console.log("데이터 존재 id : "+id);
			// console.log("idx : "+idx);

			var params = {
				id: id,
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/collection/collectionTaskListInfo',
				data: params,
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if(res.data.collection===undefined){
						alertCaution("수거업무 데이터가 존재하지 않습니다.");
						return false;
					}
					var baseurl = res.data.awss3url;
					var html ='';
					html += '<li >' + '장비코드 : ' + nvl(res.data.collection.deviceid, "확 인 불 가") + '</li>';
					html += '<li >' + '수거번호 : ' + nvl(res.data.collection.ctCode, "확 인 불 가") + '</li>';
					html += '<li >' + '모델타입 : ' + nvl(res.data.collection.devicetype, "확 인 불 가") + ' - ' + nvl(res.data.collection.devicemodeltype, "확 인 불 가") + '</li>';
					html += '<li >' + '운영사 : ' + nvl(res.data.collection.csOperator, "확 인 불 가") + '</li>';
					html += '<li ><img alt="" width="100" src="' + baseurl + nvl(res.data.collection.filePath, "확 인 불 가") + nvl(res.data.collection.saveFileName, "확 인 불 가") + '"</img></li>';
					html += '<li style="text-align: right;"><a class="m-collectionlist__button" href="/collection/collectionprocess/' + echoNull2Blank(res.data.collection.id) + '">수거업무</a></li>';
					$collectionDevice.html(html);
				}
			});
		}

	</script>
	<body>
		<div class="m-wrap">
			<div class="m-header">
				<h1 class="m-logo">
					<a href="/collection/mobileindex">NatureStore</a>
				</h1>
				<form th:action="@{/logout}" method="post" id="logout">
					<ul class="m-head-console">
						<li><a href="/collection/mobileindex">Back</a></li>
						<li><a href="#" onclick="document.getElementById('logout').submit();">Logout</a></li>
					</ul>
				</form>
			</div>

			<div class="m-contents">
				<div class="m-collectionlist">
					<ul id="schList">
					</ul>
				</div>
			</div>
			<div class="m-footer">© 2019 Broadwave Corporation. All rights Reserved.</div>
		</div>
		<div id='alertpop'>
		</div>
	</body>
</html>