<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>NatureStore</title>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="/assets/css/mobile.css"/>
	<script src="/assets/js/mobile/mobile.js"></script>

	<script type="text/javascript">

		$(function() {

			collectionTaskList(1);

		});

		function listhide() {
			$('.m-collectionlist__detail').hide();
			$('.m-collectionlist__heading').on('click', function(e) {
				$(this).toggleClass('active');
				$(this).next().slideToggle(300);
				$('.m-collectionlist__heading').not(this).removeClass('active');
				$('.m-collectionlist__heading').not(this).next().slideUp(300);
				e.preventDefault();
				return false;
			})
		}

		function collectionTaskList(page) {
			page = page - 1;
			if (page < 0) page = 0;

			var $schList = $('#schList');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/collection/collectionTaskList?size=' + '&page=' + page,
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					var baseurl = res.data.awss3url;
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<li>';
							html += '<a  href="#" class="m-collectionlist__heading">'+'수거예정일 :' + nvl(value.yyyymmdd,"확 인 불 가") +'</a>';
							html += '<ul class="m-collectionlist__detail">';
								html += '<li >'+'장비코드 : ' + nvl(value.deviceid,"확 인 불 가") +'</li>';
								html += '<li >'+'수거번호 : ' + nvl(value.ctCode,"확 인 불 가") +'</li>';
								html += '<li >'+'모델타입 : ' + nvl(value.devicetype,"확 인 불 가")+' - '+nvl(value.devicemodeltype,"확 인 불 가")+'</li>';
								html += '<li >'+'운영사 : ' + nvl(value.company,"확 인 불 가") +'</li>';
								html += '<li ><img width="100" src="'+baseurl+nvl(value.filePath,"확 인 불 가")+nvl(value.saveFileName,"확 인 불 가")+'"</img></li>';
								html += '<li ><a class="m-collectionlist__button" href="/collection/collectionprocess/'+echoNull2Blank(value.id)+'">수거업무</a></li>';
							html += '</ul>';
						html += '</li>';
					});
					$schList.html(html);
					listhide();
				}
			});
		}

	</script>
	<body>
		<div class="m-wrap">
			<div class="m-header">
				<h1 class="m-logo">
					<a href="/collection/mobileindex">NatureStore</a>
				</h1>
				<form th:action="@{/logout}" method="post" id="logout">
					<ul class="m-head-console">
						<li><a href="#" onclick="document.getElementById('logout').submit();">Logout</a></li>
					</ul>
				</form>
			</div>

			<a href="/collection/mobileindex" class="m-collectionlist__button">뒤로</a>

			<div class="m-contents">
				<div class="m-collectionlist">
					<ul id="schList">
					</ul>
				</div>
			</div>
			<div class="m-footer">© 2019 Broadwave Corporation. All rights Reserved.</div>
		</div>
	</body>
</html>