<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
        var map;
        var levelChart=null;

        $(function() {
            $("#header_device").css('display','block');
            $("#default_wrap").on('click',function(){
                $("#header_device").css('display','none');
            });

            //몬쓰픽커
            $('#s_monthDate').MonthPicker({
                IsRTL: true,
                i18n: {
                    year: '',
                    buttonText: '',
                    prevYear: '다음 년도',
                    nextYear: '이전 년도',
                    next12Years: '12년 후',
                    prev12Years: '12년 전',
                    backTo: '',
                    months: ['1월','2월','3월','4월','5월','6월', '7월','8월','9월','10월','11월','12월']
                },
                Button: false,
                MonthFormat: 'yy-mm'
            });

            LocationSetting("");

            nowMonth();

            countInfoView();

            $("#btnSearch").on('click',function(){
                countInfoView();
            });

        });

        // 자동조회시 이번달넣기
        function nowMonth() {
            var today = new Date();
            var month;
            if(today.getMonth()<10){
                month='0'+(today.getMonth()+1);
            }else{
                month=today.getMonth()+1;
            }
            var nowMonth = today.getFullYear()+"-"+month;
            //console.log('이번달 : '+nowMonth);
            $("#s_monthDate").val(nowMonth);
        }

        function countInfoView() {
            if ($("#s_monthDate").val().trim() == '') {
                alertCaution("조회할 날짜를 선택해주세요");
                return false;
            }

            if(levelChart!==null){
                window.chart.destroy();
                levelChart.destroy();
            }

            var $countInfo = $('#countInfo');

            var params = {
                monthDate:$('#s_monthDate').val(),
                emNumber:$('#s_emNumber').val(),
                emType:$('#s_emType').val(),
                emCountry:$('#s_emCountry').val(),
                emLocation:$('#s_emLocation').val(),
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url: '/api/deviestats/countListView',
                type: 'post',
                data: params,
                cache: false,
                error: function (request) {
                    ajaxErrorMsg(request);
                },
                success: function (res) {
                    if (!Ajax.checkResult(res)) {
                        return;
                    }

                    var html = '';
                    var j = 0;
                    var i = 1;

                    if(res.data.sDay<10){
                        var sDay = '0'+res.data.sDay;
                    }else{
                        var sDay = res.data.sDay;
                    }

                    $.each(res.data.actuaterCnt, function (key, value) {
                        if(i<10){
                            html += '<tr onclick="hourInfoGraph(\''+res.data.sYear+sDay+'0'+i+'\',\''+res.data.deviceid+'\');">';
                            html += '<td>'+res.data.sYear+'-'+sDay+'-'+'0'+i+'</td>';
                        }else{
                            html += '<tr onclick="hourInfoGraph(\''+res.data.sYear+sDay+i+'\',\''+res.data.deviceid+'\');">';
                            html += '<td>'+res.data.sYear+'-'+sDay+'-'+i+'</td>';
                        }
                            html += '<td>'+res.data.emitCnt[j]+'</td>';
                            html += '<td>'+res.data.actuaterCnt[j]+'</td>';
                            html += '<td>'+res.data.inputdoorjammingCnt[j]+'</td>';
                            html += '<td>'+res.data.frontdoorsolopenCnt[j]+'</td>';
                            html += '<td>'+res.data.fullLevel[j]+'%'+'</td>';
                        html += '</tr>';
                        j++;
                        i++;
                    });
                    LocationDeviceId(res.data.deviceid);
                    $countInfo.html(html);
                }
            });
        }

        function hourInfoGraph(sendDate,pushValue) {
            $("#hour_levelchart").hide();
            $("#hourLevelChartLoading").show();
            $("#hourheatmapChartLoading").show();
            if (sendDate==null) {
                alertCaution("조회할 날짜가 없습니다.");
                return false;
            }

            var params = {
                sendDate:sendDate,
                deviceid:pushValue
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url: '/api/deviestats/hourInfoGraph',
                type: 'post',
                data: params,
                cache: false,
                error: function (request) {
                    ajaxErrorMsg(request);
                },
                success: function (res) {
                    if (!Ajax.checkResult(res)) {
                        return;
                    }

                    if(levelChart!==null){
                        window.chart.destroy();
                        levelChart.destroy();
                    }
                    hourLevelChart(res.data.xhour,res.data.hourFullLevel)
                    hourCountChart(res.data.heatMaphourEmitCnt,res.data.heatMaphourActuaterCnt,res.data.heatMaphourInputdoorjammingCnt,res.data.heatMaphourFrontdoorsolopenCnt);
                }
            });
        }

        function monthInfoGraph(deviceMonth,pushValue) {
            $("#hour_levelchart").hide();
            $("#hourLevelChartLoading").show();
            $("#hourheatmapChartLoading").show();

            if (deviceMonth==null) {
                alertCaution("조회할 월수가 없습니다.");
                return false;
            }

            var params = {
                deviceMonth:deviceMonth,
                deviceid:pushValue
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url: '/api/deviestats/monthInfoGraph',
                type: 'post',
                data: params,
                cache: false,
                error: function (request) {
                    ajaxErrorMsg(request);
                },
                success: function (res) {
                    if (!Ajax.checkResult(res)) {
                        return;
                    }

                    if(levelChart!==null){
                        window.chart.destroy();
                        levelChart.destroy();
                    }
                    // console.log("장비선택시나오는 그래프");
                    hourLevelChart(res.data.xhour,res.data.monthFullLevel);
                    hourCountChart(res.data.heatMaphourEmitCnt,res.data.heatMaphourActuaterCnt,res.data.heatMaphourInputdoorjammingCnt,res.data.heatMaphourFrontdoorsolopenCnt);
                }
            });
        }

        //꺾은선그래프(배출량그래프)
        function hourLevelChart(xhour,hourFullLevel) {
            // console.log("xhour : "+xhour);
            // console.log("hourFullLevel : "+hourFullLevel);

            var ctx = document.getElementById('hour_levelchart');

            var hourLevelChartData = {
                labels: xhour,
                datasets: [{
                    type: 'line',
                    yAxisID: 'x',
                    backgroundColor: "#48ae63",
                    borderWidth: 4,
                    borderColor: "#48ae63",
                    data: hourFullLevel,
                    fill: false
                }]
            };

            levelChart = new Chart(ctx, {
                data: hourLevelChartData,
                options: {
                    legend: {
                    	display: false
                    },
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    maintainAspectRatio: false,
                    stacked : true,
                    tooltips: {
                        titleFontSize: 17,
                        bodyFontSize: 17,
                        callbacks: {
                            title: function (item, data) {
                                return data.labels[item[0].index];
                            },
                            label: function(item, data) {
                                var v = data.datasets[item.datasetIndex].data[item.index];
                                return "배출량: "+v+"%";
                            }
                        },
                        intersect: false,
                        mode: 'index'
                    },
                    hover:{
                        intersect: false,
                        mode: 'index'
                    },
                    scales: {
                        xAxes: [{
                            labels: ['00', '  ', '  ', '  ', '  ', '  ', '06', '  ', '  ', '  ', '  ', '  ', '12', '  ', '  ', '  ', '  ', '  ', '18', '  ', '  ', '  ', '  ', '23'],
                            ticks: {
                                maxRotation: 0,
                                autoSkip: true,
                                padding: 20,
                                fontSize: 12,
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false,
                                tickMarkLength: 0,
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function(value) {
                                    return value+'%';
                                },
                                max: 100,
                                min: 0,
                                stepSize: 20,
                                fontSize: 14,
                            },
                            id: 'x',
                            type: 'linear',
                            display: true,
                            position: 'left'
                        }]
                    }
                }
            });
            setTimeout(function(){
                $("#hourLevelChartLoading").hide();
                $("#hourheatmapChartLoading").hide();
                $("#hour_levelchart").show();
            },1000);
        }

        function hourCountChart(heatMaphourEmitCnt,heatMaphourActuaterCnt,heatMaphourInputdoorjammingCnt,heatMaphourFrontdoorsolopenCnt){
            // console.log(heatMaphourEmitCnt);
            // console.log(heatMaphourActuaterCnt);
            // console.log(heatMaphourInputdoorjammingCnt);
            // console.log(heatMaphourFrontdoorsolopenCnt);

            Utils.load(function() {
                var ctx = document.getElementById("hour_heatmapchart").getContext("2d");;
                window.chart = new Chart(ctx, {
                    type: 'matrix',
                    data: {
                        datasets: [{
                            data: heatMaphourEmitCnt,
                            backgroundColor: function(ctx) {
                                var value = ctx.dataset.data[ctx.dataIndex].v;
                                var alpha = (value - 5) / 10;
                                return Color('#007e37').alpha(alpha).rgbString();
                            },
                            borderColor: function(ctx) {
                                var value = ctx.dataset.data[ctx.dataIndex].v;
                                //var alpha = (value - 5) / 10;
                                return Color('#007e37').alpha(0.5).darken(0.3).rgbString();
                            },
                            borderWidth: 1,
                            borderSkipped: false,
                            hoverBorderColor: 'yellow',
                            width: function(ctx) {
                                var a = ctx.chart.chartArea;
                                return (a.right - a.left) / 25;
                            },
                            height: function(ctx) {
                                var a = ctx.chart.chartArea;
                                return (a.bottom - a.top) / 3 - 2;
                            }
                        },
                            {
                                data: heatMaphourActuaterCnt,
                                backgroundColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#ff1744').alpha(alpha).rgbString();
                                },
                                borderColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#ff1744').alpha(0.5).darken(0.3).rgbString();
                                },
                                borderWidth: 1,
                                borderSkipped: false,
                                hoverBorderColor: 'yellow',
                                width: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.right - a.left) / 25;
                                },
                                height: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.bottom - a.top) / 3 - 2;
                                }
                            },
                            {
                                data: heatMaphourInputdoorjammingCnt,
                                backgroundColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#fbc02d').alpha(alpha).rgbString();
                                },
                                borderColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#fbc02d').alpha(0.5).darken(0.3).rgbString();
                                },
                                borderWidth: 1,
                                borderSkipped: false,
                                hoverBorderColor: 'yellow',
                                width: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.right - a.left) / 25;
                                },
                                height: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.bottom - a.top) / 3 - 2;
                                }
                            },
                            {
                                data: heatMaphourFrontdoorsolopenCnt,
                                backgroundColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#2979ff').alpha(alpha).rgbString();
                                },
                                borderColor: function(ctx) {
                                    var value = ctx.dataset.data[ctx.dataIndex].v;
                                    var alpha = (value - 5) / 10;
                                    return Color('#2979ff').alpha(0.5).darken(0.3).rgbString();
                                },
                                borderWidth: 1,
                                borderSkipped: false,
                                hoverBorderColor: 'yellow',
                                width: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.right - a.left) / 25;
                                },
                                height: function(ctx) {
                                    var a = ctx.chart.chartArea;
                                    return (a.bottom - a.top) / 3 - 2;
                                }
                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        maintainAspectRatio: false,
                        tooltips: {
                            titleFontSize: 17,
                            bodyFontSize: 17,
                            callbacks: {
                                title: function() {
                                    return '';
                                },
                                label: function(item, data) {
                                    var v = data.datasets[item.datasetIndex].data[item.index];
                                    return [v.d,v.y + ": " + v.v];
                                }
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'hour',
                                    parser: 'HH',
                                    min: '00:00',
                                    max: '23:00',
                                    displayFormats: {
                                        hour: 'HH'
                                    }
                                },
                                // display: false,
                                ticks: {
                                    maxRotation: 0,
                                    autoSkip: true,
                                    padding: 30,
                                    fontSize: 12,
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    tickMarkLength: 0,
                                }
                            }],
                            yAxes: [{
                                type: 'category',
                                labels: ['투입횟수','모터작동횟수','투입구걸림횟수','문열림횟수'],
                                ticks: {
                                    fontSize: 14,
                                    maxRotation: 0,
                                    padding: 20
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    tickMarkLength: 0
                                }
                            }]
                        },
                        layout: {
                            padding: {
                                left: 0,
                                right: 20,
                                top: 70,
                                bottom: 50
                            }
                        }
                    }
                })
            });
        }

        function LocationDeviceId(pushValue) {

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {xhr.setRequestHeader(header, token);});

            var deviceIds = new Array();
            for (var i = 0; i < pushValue.length; i++) {
                deviceIds.push(pushValue[i]);
            }

            var itemJson = new Object();
            itemJson.deviceids = deviceIds;
            var devicestr = JSON.stringify(itemJson);

            var params = {
                deviceids:devicestr
            };

            $.ajax({
                url: '/api/dashboard/dataGraph',
                type: 'post',
                data : params,
                cache: false,
                error: function (request) {
                    ajaxErrorMsg(request);
                },
                success: function (res) {
                    if (!Ajax.checkResult(res)) {
                        return;
                    }
                    mapDeviceId(res.data.deviceIdNames,res.data.map_data_columns,res.data.bar_data_columns,res.data.statusDatas);
                }
            });
        }

        // 맵 차트
        function mapDeviceId(deviceId,map_data_columns,bar_data_columns,statusDatas) {

            var locations = map_data_columns

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.14450, lng: 127.03312},
                zoom: 8,
                mapTypeControl: false,
                streetViewControl: false
            });

            var i;
            var iconSrc = [];

            iconSrc['정상'] = "/assets/images/marker.png";
            iconSrc['주의'] = "/assets/images/marker--caution.png";
            iconSrc['심각'] = "/assets/images/marker--severe.png";

            var infowindow = new google.maps.InfoWindow();

            var bounds = new google.maps.LatLngBounds();

            for (i = 0; i < map_data_columns.length; i++) {
                if(map_data_columns[i][1]==0 || map_data_columns[i][2]==0){
                    continue;
                }

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(map_data_columns[i][1], map_data_columns[i][2]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: iconSrc[locations[i][3]]
                });

                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    var content =
                        '<div class="iw-container" id="iw-container">' +
                        '<h2>' + (map_data_columns[i][0]) + '</h2>' +
                        '<dl>' +
                        '<dt>' +'상태 : '+statusDatas[i]+'</dt>' +
                        '<dd>' +'배출량 : '+bar_data_columns[i+1]+'%'+'</dd>' +
                        '</dl>' +
                        '</div>';
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        monthInfoGraph($("#s_monthDate").val(),deviceId[i]);
                        if (marker.getAnimation() != null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                            setTimeout(function(){
                                marker.setAnimation(null);
                            },1500);
                        }

                    }
                })(marker, i));
            }
            map.fitBounds(bounds);
        }

        // 국가,지역검색
        function LocationSetting(value) {
            // console.log("value : "+value);

            var params = {
                s_emCountry:value
            };

            var $s_emLocation = $("#s_emLocation");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url: '/api/dashboard/location',
                type: 'post',
                data: params,
                cache: false,
                error:function(request){
                    ajaxErrorMsg(request);
                },
                success: function (res) {
                    if (!Ajax.checkResult(res)) {
                        return;
                    }

                    var html = '';
                    html += '<option value ="">'+'전체'+'</option>';
                    $.each(res.data.locationData, function (key, value) {
                        html += '<option value ="' + echoNull2Blank(value.code) + '">' + echoNull2Blank(value.name)+ '</option>';
                    });
                    $s_emLocation.html(html);
                }
            });
        }

    </script>
</head>

<div layout:fragment="content" class="contents-body">
    <div class="page">
        <div class="page-title">
            <div class="page-title__left">
                <h2>일자별 장비 현황</h2>
            </div>
        </div>
        <div class="dashboard">
            <div class="dashboard__row">
                <div class="panel">
                    <div class="panel__inner">
                        <div class="panel__body panel__body--height-auto">
                            <div class="c-float c-float--flex">
                                <div class="c-float__item">
                                    <div class="c-text">
                                        <label for="s_monthDate" class="c-date__label">월 선택</label>
                                        <input type="text" class="c-date__input" id="s_monthDate" />
                                    </div>
                                </div>
                                <div class="c-float__item">
                                    <div class="c-select">
                                        <label for="s_emType" class="c-select__label">모델 타입</label>
                                        <select id="s_emType" class="c-select__input">
                                            <option value="">전체</option>
                                            <option th:each ="equipdType : ${equipdTypes}"
                                                    th:value="${equipdType.code}"
                                                    th:text="${equipdType.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="c-float__item">
                                    <div class="c-select">
                                        <label for="s_emCountry" class="c-select__label">국가</label>
                                        <select id="s_emCountry" class="c-select__input" onchange="LocationSetting(this.value)">
                                            <option value="">전체</option>
                                            <option th:each ="equipdCountry : ${equipdCountrys}"
                                                    th:value="${equipdCountry.code}"
                                                    th:text="${equipdCountry.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="c-float__item">
                                    <div class="c-select">
                                        <label for="s_emLocation" class="c-select__label">지역</label>
                                        <select id="s_emLocation" class="c-select__input">
                                        </select>
                                    </div>
                                </div>
                                <div class="c-float__item">
                                    <div class="c-text">
                                        <label for="s_emNumber" class="c-text__label">장비번호</label>
                                        <input id="s_emNumber" type="text" class="c-text__input" />
                                    </div>
                                </div>
                                <div class="c-float__item c-float__item--flex--auto" style="padding-top:15px;padding-right:11px;">
                                    <button id="btnSearch" class="c-button c-button--point">조회</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard__row">

                <div class="panel panel--duo">
                    <div class="panel__inner">
                        <div class="panel__header">
                            <h4 class="panel__title">일자별 ...</h4>
                        </div>
                        <div class="panel__body">
                            <div class="panel__table">
                                <div class="c-scroll-table c-scroll-table--hover">
                                    <div class="c-scroll-table__header">
                                        <table style="width: 491px;">
                                            <colgroup>
                                                <col style="width: 100px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 19px;" />
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>날짜</th>
                                                <th>투입횟수</th>
                                                <th>모터작동횟수</th>
                                                <th>투입구걸림횟수</th>
                                                <th>문열림횟수</th>
                                                <th>평균배출량(%)</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="c-scroll-table__body" style="height: 269px;">
                                        <table style="width: 472px;">
                                            <colgroup>
                                                <col style="width: 100px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                                <col style="width: 110px;" />
                                            </colgroup>
                                            <tbody id="countInfo">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel--duo">
                    <div class="panel__inner">
                        <div class="panel__header">
                            <h4 class="panel__title">장비위치</h4>
                        </div>
                        <div class="panel__body">
                            <!-- <div class="c-loader">
                                <div id="mapChartLoading" class="c-loader__active c-loader__active--ring"></div>
                            </div> -->
                            <div class="map" id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard__row">
                <div class="panel panel--duo">
                    <div class="panel__inner">
                        <div class="panel__header">
                            <h4 class="panel__title">시간대별 ...</h4>
                        </div>
                        <div class="panel__body">
                            <div id="hourLevelChartLoading" class="c-loader__active c-loader__active--ring" style="display: none"></div>
                            <canvas class="panel__stat" id="hour_levelchart" style="display: none"></canvas>
                        </div>
                    </div>
                </div>

                <div class="panel panel--duo">
                    <div class="panel__inner">
                        <div class="panel__header">
                            <h4 class="panel__title">시간대별 ...</h4>
                        </div>
                        <div class="panel__body">
                            <div class="heatmap-area">
                                <div id="hourheatmapChartLoading" class="c-loader" style="display: none">
                                    <div class="c-loader__active c-loader__active--ring"></div>
                                </div>
                                <canvas id="hour_heatmapchart" style="width:100%; height:293px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id='alertpop'>
    </div>
</div>
</html>
