<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

	<!-- 공통으로 쓰이는 css파일을넣는다.-->
	<link rel="stylesheet" href="/assets/css/main.css"/>
	<link rel="stylesheet" href="/assets/css/new/component.css"/>
	<link rel="stylesheet" href="/assets/css/new/common.css"/>
	<link rel="stylesheet" href="/assets/js/alert/min_alert.css"/>
	<link rel="stylesheet" href="/assets/js/charts/Chart.min.css"/>
	<link rel="stylesheet" href="/assets/js/c3/c3.css"/>

	<!-- 공통으로 쓰이는 js파일을넣는다.-->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery-ui.min.js"></script>
	<script src="/assets/js/monthpicker/MonthPicker.min.js"></script>
	<script src="/assets/js/broadwave.common.js"></script>
	<!--<script src="/assets/js/common-pc.js"></script>-->
	<script src="/assets/js/broadwave.ajax.js"></script>
	<script src="/assets/js/charts/Chart.min.js"></script>
	<script src="/assets/js/charts/ChartBundle.min.js"></script>
	<script src="/assets/js/charts/utils.js"></script>
	<script src="/assets/js/d3/d3.js"></script>
	<script src="/assets/js/c3/c3.js"></script>
	<script src="/assets/js/new/common.js"></script>
	<script src="/assets/js/alert/min_alert.js"></script>

	<script type="text/javascript">

         $(function(){
         	 if($("#efVer").val()!=="" && $("#efFilePath").val()!=="" ){
				 versionCheck();
			 }

			 var $updateTime = $("#updateTime").text();
			 if($updateTime!=="") {
				 timeStampfnc($updateTime, "#updateTime", null); // 업데이트 시간계산실행
			 }

			 var $onlineTime = $("#onlineTime");
		 	 if($onlineTime.val()!==""){
		   		 //console.log("오프라인");
				 //console.log("onlineTime : "+$("#onlineTime").val());
				 timeStampfnc($onlineTime.val(),"#offlineTimeName","최종종료일시 : "); // 최종종료 시간계산실행
			 }

		 	 var $devcieInstalDateBtw = $("#devcieInstalDateBtw").text();
			 if($devcieInstalDateBtw !== "") {
			 	deviceinstallDate($devcieInstalDateBtw);
			 }

			 $("#upDateRequest").on('click',function(){
				 upDateRequest();
			 });

			 $("#infoReload").on('click',function(){
				 location.reload();
			 });

			 setTimeout(function() {
				 $("#loadingInfo").hide();
			 },2000);

			 var $statusName = $("#statusName");
			 if($statusName.text()==="normal"){
				 $statusName.text("정상");
			 }else if($statusName.text()==="caution"){
				 $statusName.text("주의");
			 }else if($statusName.text()==="severe"){
				 $statusName.text("심각");
			 }else{
				 $statusName.text("없음");
			 }

			 $("#firmUpdateBtn").on('click',function(){
				 firmUpdate();
			 });

		 });

         //버젼확인하기
         function versionCheck() {
			var html ='';
			var $firmwareUpdatList = $('#firmwareUpdatList');
			html += '<li style="position:absolute;right: 407px">'+ '<span>현재버젼 : </span>' + $("#firmware").text() +" -> "+ $("#efVer").val() +'</li>';
			html += '<li style="display:none;">'+ $("#efFilePath").val() +'</li>';
			html += '<button id="firmUpdateBtn" class="c-button" style="color:black;border-color:black;position: absolute;right: 300px;top: 602px;">업데이트시작</button>';
			$firmwareUpdatList.html(html);
		 }

		 // 펌웨어업데이트요청
		 function firmUpdate(){
			 // console.log("efVer : " + $("#efVer").val());
			 // console.log("efFilePath : " + $("#efFilePath").val());
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");
			 $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			 var timestamp =+ new Date(); //현재날짜 타임스탬프 밀리세컨드

			 var params = {
				 deviceid:$("#deviceid").text(),
				 efVer:$("#efVer").val(),
				 efFilePath:$("#efFilePath").val(),
				 timestamp:timestamp
			 };

			 $.ajax({
				 url:'/api/deviestats/firmUpdate',
				 type : 'post',
				 data : params,
				 cache:false,
				 error:function(request){
					 ajaxErrorMsg(request);
				 },
				 success: function(res){
					 statuscode= res.status;
					 if (statuscode ===200) {
						 alertSuccess("펌웨어 업데이트를 완료하였습니다.");
					 }else{
						 alertCancel("처리오류");
					 }
				 }
			 });
		 }

         // 최신업데이트요청
		 function upDateRequest() {
			 var timestamp =+ new Date(); //현재날짜 타임스탬프 밀리세컨드
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");
			 $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			 var params = {
				 deviceid : $("#deviceid").text(),
				 today : timestamp
			 };

			 $.ajax({
				 url:'/api/deviestats/deviceUpdateInfo',
				 type : 'post',
				 data : params,
				 cache:false,
				 error:function(request){
					 ajaxErrorMsg(request);
				 },
				 success: function(res){
					 //화면 출력
					 statuscode= res.status;
					 if (statuscode ===200) {
						 alertSuccess("최신업데이트요청을 하였습니다.");
					 }else{
						 alertCancel("처리오류");
					 }
				 }
			 });
		 }

		 // 밀리세컨드 타임스탬프 계산하기
         function timeStampfnc(timestampVal,idName,idComment) {
			 // console.log("timestampVal : "+timestampVal);
			 // console.log("idName : "+idName);
			 // console.log("idComment : "+idComment);

			 var deviceOnOffTimeStamp = new Date(Number(timestampVal));
			 var deviceOnOffYear = deviceOnOffTimeStamp.getFullYear();
			 var deviceOnOffMonth = Number(deviceOnOffTimeStamp.getMonth() + 1);
			 if (deviceOnOffMonth < 10) {
			  deviceOnOffMonth = "0"+deviceOnOffMonth
			 }
			 var deviceOnOffDate = deviceOnOffTimeStamp.getDate();
			 if (deviceOnOffDate < 10) {
			  deviceOnOffDate = "0" + deviceOnOffDate
			 }
			 var deviceOnOffHour = deviceOnOffTimeStamp.getHours();
			 if (deviceOnOffHour < 10) {
			  deviceOnOffHour = "0" + deviceOnOffHour
			 }
			 var deviceOnOffMinute = deviceOnOffTimeStamp.getMinutes();
			 if (deviceOnOffMinute < 10) {
			  deviceOnOffMinute = "0" + deviceOnOffMinute
			 }
			 var deviceOnOffSecond = deviceOnOffTimeStamp.getSeconds();
			 if (deviceOnOffSecond < 10) {
			  deviceOnOffSecond = "0" + deviceOnOffSecond
			 }
			 var devicetime = deviceOnOffYear + '-' + deviceOnOffMonth + '-' + deviceOnOffDate + ' ' + deviceOnOffHour + ':' + deviceOnOffMinute + ':' + deviceOnOffSecond;

			 // console.log("deviceOnOffTimeStamp : "+deviceOnOffTimeStamp);
			 // console.log("devicetime : "+devicetime);
			 if(idComment!==null){
				 $(idName).text(idComment+devicetime);
			 }else{
				 $(idName).text(devicetime);
			 }
		 }

		 //운영일구하기
		 function deviceinstallDate(installDate) {
			 var today = new Date(); // 현재날짜시간
			 var dateObj = new Date(installDate.substring(0,4),Number(installDate.substring(4,6))-1,installDate.substring(6,8));
			 //console.log("dateObj :"+dateObj);
			 date1 = parseInt(today.getTime()/1000);
			 date2 = parseInt(dateObj.getTime()/1000);
			 var timeDifference = date1 - date2;
			 var timeDifferenceInHours = timeDifference / 60 / 60;
			 var betweenDay = timeDifferenceInHours  / 24;
			 $("#devcieInstalDateBtw").text(parseInt(betweenDay)+"일");
		 }

    </script>

</head>
<div layout:fragment="content" class="winpop">
    <section class="section" style="padding: 10px">
        <article class="article" style="padding: 13px">
		<h2 id="header_deviceid" th:text="'장비코드 : '+${header_deviceid}" class="article__heading"></h2>
		<div class="winpop__layout--flex">
			<div class="winpop__section">
				<div class="equipment__img">
					<span id="statusName" th:class="${status}" th:text="${stausName}"></span>
					<span th:class="${onoffline}" th:text="${offlineName}"></span>
					<img th:src="${filePath}+${saveFileName}" />
					<div class="equipment__signal">
						<img th:src="${rsrp}" alt="신호강도" />
					</div>
					<span id="offlineTimeName"></span><input type="hidden" id="onlineTime" th:value="${offlineTime}">
				</div>
			</div>

			<div class="winpop__section">
				<h4 class="equipment__section-title">장비 기본정보</h4>
				<ul class="equipment__info">
					<li class="equipment__info-item">
						<span class="equipment__info-title">장비 ID : </span>
						<span class="equipment__info-value" id="deviceid" th:text="${header_deviceid}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">모델타입 : </span>
						<span class="equipment__info-value" th:text="${emtype}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">모델명 : </span>
						<span class="equipment__info-value" th:text="${mdName}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">최대적재량 : </span>
						<span class="equipment__info-value" th:text="${mdMaxUnit}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">운영사 : </span>
						<span class="equipment__info-value" th:text="${company}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">국가/지역 : </span>
						<span class="equipment__info-value" th:text="${emCountryLoaction}"></span>
					</li>
					<li class="equipment__info-item">
						<span class="equipment__info-title">설치일자 : </span>
						<span class="equipment__info-value" th:text="${instalDate}"></span>
					</li>
				</ul>
			</div>
		</div>
			
        </article>
    </section>

	<section class="section" style="padding: 10px">
		<article class="article" style="padding: 13px">
			<div class="winpop__layout--flex">
				<div class="winpop__section">
					<h4 class="equipment__section-title">장비 상태정보</h4>
					<ul class="equipment__info">
						<li class="equipment__info-item">
							<span class="equipment__info-title">운영일 : </span>
							<span class="equipment__info-value" id="devcieInstalDateBtw" th:text="${devcieInstalDateBtw}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">온도 : </span>
							<span class="equipment__info-value" th:text="${temp_brd}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">배출량 : </span>
							<span class="equipment__info-value" th:text="${level}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">배터리전압 : </span>
							<span class="equipment__info-value" th:text="${batt_voltage}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">태양광판넬 전류 : </span>
							<span class="equipment__info-value" th:text="${solar_current}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">태양광판넬 전압 : </span>
							<span class="equipment__info-value" th:text="${solar_voltage}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">위도 : </span>
							<span class="equipment__info-value" th:text="${gps_la}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">경도 : </span>
							<span class="equipment__info-value" th:text="${gps_lo}"></span>
						</li>
					</ul>
				</div>
				<div class="winpop__section">
					<h4 class="equipment__section-title">장비 상세정보</h4>
					<ul class="equipment__info">
						<li class="equipment__info-item">
							<span class="equipment__info-title">업데이트 시간 : </span>
							<span class="equipment__info-value" id="updateTime" th:text="${updateTime}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">펌웨어 : </span>
							<span class="equipment__info-value" id="firmware" th:text="${firmware}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">보드 SerialNo. : </span>
							<span class="equipment__info-value" th:text="${serialno}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">통신사 : </span>
							<span class="equipment__info-value" th:text="${carrier}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">전화번호 : </span>
							<span class="equipment__info-value" th:text="${phonenumber}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">블루투스MAC : </span>
							<span class="equipment__info-value" th:text="${blemacaddr}"></span>
						</li>
						<li class="equipment__info-item">
							<span class="equipment__info-title">LoRaID : </span>
							<span class="equipment__info-value" th:text="${loraid}"></span>
						</li>
					</ul>
				</div>
			</div>
		</article>
	</section>

	<input type="hidden" id="efVer" th:value="${efVer}" />
	<input type="hidden" id="efFilePath" th:value="${efFilePath}" />
	<div>
		<ul id="firmwareUpdatList">

		</ul>
	</div>

	<button id="infoReload" class="c-button" style="right:35px;position:absolute;top:30px;color:black;border-color:black;">새로고침</button>
	<button id="upDateRequest" class="c-button winpop__button" style="bottom:68px;">최신업데이트요청</button>

</div>
<div id='alertpop'>
</div>
<div id="loadingInfo" class="c-loader" style="background-color: #FFFFFF">
	<div class="c-loader__active c-loader__active--ring"></div>
</div>
</html>
