<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
<head>
    <script type="text/javascript">
		$(function() {
			if($("#headerMode").val()==="1"){
				$("#default_wrap").addClass('wrap');
				$("#header_device").css('display','block');
			}else{
				$("#default_wrap").addClass('wrap nav--small');
				$("#header_device").css('display','none');
			}

			$("#emInstallDate").datepicker({});

			//자동실행
			LocationSetting();
			ModelChange(null);

			$('.pop__list').on('click', function(e) {
				$('#pop__list').addClass('open');

				e.preventDefault();
			});
			$('.l-popup__close').on('click', function(e) {
				$('.l-popup').removeClass('open');

				e.preventDefault();
			});

			//업체 등록
			$("#equSaveBtn").on('click',function(){
				save();
			});
			$("#btnSearch").on('click',function(){
				callList(1);
			});
			$("#btnDel").on('click',function(){
				equipmentDelCheck();
			});
			$("#btnNew").on('click',function(){
				init();
			});
			$("#btnReset").on('click',function(){
				reset();
			});
			$("#agencyBtnSearch").on('click',function(){
				agencyCallList(1);
			});

			$("#devcieCheckBtn").on('click',function(){
				devcieCheck();
			});

		});

		function devcieCheck() {
			var $emNumber = $("#emNumber");

			if ($emNumber.val().trim() === '') {
				alertCaution("장비를 선택해주세요.");
				return false;
			}

			var deviceid = $emNumber.val();
			timestamp = + new Date();

			var params = {
				deviceid:deviceid,
				timestamp:timestamp,
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/deviceCheck',
				data : params,
				type : 'post',
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(){
					alertSuccess("장비등록확인완료");
				}
			});
		}

		// 조건초기화
		function reset() {
			$("#s_emNumber").val('');
			$("#s_emDesignation").val('');
			$("#s_emType").val('');
			$("#s_emCountry").val('');
			$("#s_emDashboard").val('');
		}

		// 신규작성
		function init(){
			$("#emDashboard").val('Y');
			$("#emNumber").val('');
			$("#emCerealNumber").val('');
			$("#emDesignation").val('');
			$("#emAwsNumber").val('');
			$("#emEmbeddedNumber").val('');
			$("#csNum").val('');
			$("#operator").val('');
			$("#emMaximumPayload").val('');
			$("#addmdId").val('');
			$("#addSell").val('');
			$("#emInstallDate").val('');
			$("#emSubName").val('');
			$("#emLatitude").val('');
			$("#emLongitude").val('');
			$("#vInterval").val('');
			$("#vPresstime").val('');
			$("#vInputtime").val('');
			$("#vSolenoidtime").val('');
			$("#vYellowstart").val('');
			$("#vRedstart").val('');
			$("#emCertificationNumber").val('');

			$("#emCountryView").hide();
			$("#emLocationView").hide();

			$("#emCountry").show();
			$("#emLocation").show();

			$("#devcieCheckBtn").hide();

			$("#vManager").val('');
			$("#vManagerCall").val('');
			$("#vManagerid").val('');
			$("#vManagerPass").val('');
			$("#vLanguage").val('ko');
			$("#vMqttInterval").val('');
			$("#vLoraInterval").val('');
			$("#vScaleSafeInterval").val('');
			$("#vShutterIdleInterval").val('');
			$("#vWastePressInterval").val('');
			$("#vWasteCapacity").val('');
			$("#vOzonTime").val('');
			$("#vPayPreamt").val('');
			$("#vPayUnitPrice").val('');
			$("#vPayUnitWeight").val('');
			$("#vPayMethod").val('');

			$('#check01').attr("checked", false);
			$('#check02').attr("checked", false);
			$('#check03').attr("checked", false);
			// $('#check04').attr("checked", false);

			ModelChange(null);
		}

		// 장비저장
		function save() {

			if ($("#mdId").val().trim() === '') {
				alertCaution("모델을 선택해주세요.");
				return false;
			}
			if ($("#emInstallDate").val().trim() === '') {
				alertCaution("설치일자를 선택해주세요.");
				return false;
			}
			if ($("#operator").val().trim() === '') {
				alertCaution("소속 운영사를 선택해주세요.");
				return false;
			}

			var listsArr = [];
			if ($("#check01").is(":checked") === true) {
				listsArr.push("fr");
			}
			if ($("#check02" ).is(":checked") === true) {
				listsArr.push("cc");
			}
			if ($("#check03").is(":checked") === true) {
				listsArr.push("tm");
			}
			// if ($("#check04").is(":checked") === true) {
			// 	listsArr.push("mb");
			// }
			$("#vPayMethod").val(listsArr.join());

			var $form = $('form[name="equreg"]');

			var params = $form.serialize();

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/reg',
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('저장되었습니다.');
					ModelChange(null);
					init();
					LocationSetting();
					callList(1);
				}
			});
		}

		// 운영사 리스트보기
		function agencyCallList(page) {
			page = page - 1;
			if (page < 0) page = 0;

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#agencySchList');
			var $totalCnt = $('#agencyTotalCnt');
			var params = {
				csNumber:$('#s_csnumber').val(),
				csOperator:$('#s_csoperator').val(),
			};

			$schList.empty().append('<tr ><td colspan="3" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/agencyList?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#agencyPaging").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'agencyCallList'});
					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="3" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.csNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.csOperator) +'</td>';

						html += '<td ><button class="c-button c-button--point c-button--small" onclick="callName(\''+ echoNull2Blank(value.id) +'\');">선택</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 장비 리스트보기
		function callList(page) {

			page = page - 1;
			if (page < 0) page = 0;

			var perPage = 10;
			var perArea = 5;
			var totCnt = 0;

			var $schList = $('#schList');
			var $totalCnt = $('#totalCnt');

			var params = {
				emNumber:$('#s_emNumber').val(),
				emDesignation:$('#s_emDesignation').val(),
				emType:$('#s_emType').val(),
				emCountry:$('#s_emCountry').val(),
				emDashboard:$('#s_emDashboard').val()
			};

			$schList.empty().append('<tr ><td colspan="10" align = "center">조회 중</td></tr>');
			$totalCnt.text('0');

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url:'/api/equipment/list?size='+ perPage + '&page=' + page,
				type : 'post',
				data : params,
				cache:false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function(res){
					//화면 출력
					totCnt = res.data.total_rows;
					$("#paging1").jqueryPager({pageSize: perPage,
						pageBlock: perArea,
						currentPage: page + 1,
						pageTotal: totCnt,
						clickEvent: 'callList'});
					if (totCnt === 0) {
						$schList.empty().append('<tr class="t-c"><td colspan="10" align="center">조회된 데이터가 없습니다.</td></tr>');
						return;
					}
					$totalCnt.text(totCnt);
					var html = '';
					$.each(res.data.datalist, function(key, value){
						html += '<tr >';
						html += '<td >'+ echoNull2Blank(value.emNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emCerealNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emDesignation) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emType) +'</td>';
						html += '<td >'+ echoNull2Blank(value.iModel) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emCountry)+'/'+echoNull2Blank(value.emLocation)+'</td>';
						html += '<td >'+ echoNull2Blank(value.emEmbeddedNumber) +'</td>';
						html += '<td >'+ echoNull2Blank(value.company) +'</td>';
						html += '<td >'+ echoNull2Blank(value.emDashboard) +'</td>';
						html += '<td ><button class="c-button c-button--point c-button--small" onclick="callInfo(\''+ echoNull2Blank(value.id) +'\');">보기</button></td>';
						html += '</tr>';
					});
					$schList.html(html);
				}
			});
		}

		// 장비정보보기
		function callInfo(id) {

			var params = {
				id:id
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/info',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					$("#emNumber").val(res.data.equipment.emNumber);
					$("#emCerealNumber").val(res.data.equipment.emCerealNumber);
					$("#emDesignation").val(res.data.equipment.emDesignation);
					$("#emAwsNumber").val(res.data.equipment.emAwsNumber);
					$("#emEmbeddedNumber").val(res.data.equipment.emEmbeddedNumber);
					$("#csNum").val(res.data.equipment.company.csNumber);
					$("#operator").val(res.data.equipment.company.csOperator);
					$("#emSubName").val(res.data.equipment.emSubName);
					$("#emLatitude").val(res.data.equipment.emLatitude);
					$("#emLongitude").val(res.data.equipment.emLongitude);
					$("#vInterval").val(res.data.equipment.vInterval);
					$("#vPresstime").val(res.data.equipment.vPresstime);
					$("#vInputtime").val(res.data.equipment.vInputtime);
					$("#vSolenoidtime").val(res.data.equipment.vSolenoidtime);
					$("#vYellowstart").val(res.data.equipment.vYellowstart);
					$("#vRedstart").val(res.data.equipment.vRedstart);
					$("#emCertificationNumber").val(res.data.equipment.emCertificationNumber);
					$("#emDashboard").val(res.data.equipment.emDashboard);
					$("#vManager").val(res.data.equipment.vManager);
					$("#vManagerCall").val(res.data.equipment.vManagerCall);
					$("#vManagerid").val(res.data.equipment.vManagerid);
					$("#vManagerPass").val(res.data.equipment.vManagerPass);
					var $vLanguageCode = $("#vLanguageCode");
					$vLanguageCode.val(res.data.equipment.vLanguage);
					$("#vLanguage").val($vLanguageCode.val());
					$("#vMqttInterval").val(res.data.equipment.vMqttInterval);
					$("#vLoraInterval").val(res.data.equipment.vLoraInterval);
					$("#vScaleSafeInterval").val(res.data.equipment.vScaleSafeInterval);
					$("#vShutterIdleInterval").val(res.data.equipment.vShutterIdleInterval);
					$("#vWastePressInterval").val(res.data.equipment.vWastePressInterval);
					$("#vWasteCapacity").val(res.data.equipment.vWasteCapacity);
					$("#vOzonTime").val(res.data.equipment.vOzonTime);
					$("#vPayPreamt").val(res.data.equipment.vPayPreamt);
					$("#vPayUnitPrice").val(res.data.equipment.vPayUnitPrice);
					$("#vPayUnitWeight").val(res.data.equipment.vPayUnitWeight);

					// console.log("emType : "+res.data.equipment.emType);
					if(res.data.equipment.emType==="iTainer"){
						var method = res.data.equipment.vPayMethod;
						// console.log("method : "+method);
						if(method.match("fr")){
							$('#check01').prop("checked", true);
						}else{
							$('#check01').prop("checked", false);
						}
						if(method.match("cc")){
							$('#check02').prop("checked", true);
						}else{
							$('#check02').prop("checked", false);
						}
						if(method.match("tm")){
							$('#check03').prop("checked", true);
						}else{
							$('#check03').prop("checked", false);
						}
						// if(method.match("mb")){
						// 	$('#check04').prop("checked", true);
						// }else{
						// 	$('#check04').prop("checked", false);
						// }
					}

					// 날짜뷰 DATABASE(YYYYMMDD) -> VIEW(YYYY-MM-DD)
					var install = res.data.equipment.emInstallDate;
					var install2 = [install[0],install[1],install[2],install[3],"-",install[4],install[5],"-",install[6],install[7]];
					var installArray = install2.join('');
					$("#emInstallDate").val(installArray);

					var $emCountry = $("#emCountry");

					$("#emType").val(res.data.equipment.emTypeId);
					ModelChange(res.data.equipment.mdId.id);

					$emCountry.val(res.data.equipment.emCountryId);
					$("#addSell").val(res.data.equipment.emLocationId);

					$("#devcieCheckBtn").show();

					LocationSetting();
				}
			});
		}

		function selectBoxLocation(){
			var $addSell = $("#addSell");
			if($addSell.val() !== '') {
				var addLocationSelect = $addSell.val();
				$("#emLocation").val(addLocationSelect);
			}
		}

		// 운영사 넣기
		function callName(id) {
			var params = {
				id:id
			};
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/agencyInfo',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					$("#csNum").val(res.data.company.csNumber);
					$("#operator").val(res.data.company.csOperator);
					$('.l-popup__close').click();
				}
			});
		}

		function equipmentDelCheck(){
			if ($("#emNumber").val().trim() === '') {
				alertCaution("삭제하고자하는 장비를 선택하세요.");
				return false;
			}
			alertCheck("장비를 삭제하겠습니까?",null);
		}
		// 삭제실행여부확인
		function startDel(id,booleanValue) {
			$('#popupId').remove();
			if(booleanValue===true){
				del()
			}else{
				return false;
			}
		}
		//삭제버튼 실행
		function del() {

			var params = {
				emNumber: $("#emNumber").val()
			};

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) {
				xhr.setRequestHeader(header, token);
			});

			$.ajax({
				url: '/api/equipment/del',
				type: 'post',
				data: params,
				cache: false,
				error: function (request) {
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}
					alertSuccess('장비가 삭제 되었습니다.');
					ModelChange(null);
					init();
					callList(1);
				}
			})
		}

		function LocationSetting() {
			var params = {
				emCountry: $("#emCountry").val()
			};
			// console.log("emCountry : "+$("#emCountry").val());

			var $schList = $("#emLocation");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/location',
				type: 'post',
				data: params,
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';
					$.each(res.data.dataselect, function (key, value) {
						html += '<option value ="' + echoNull2Blank(value.id) + '">' + echoNull2Blank(value.name)+ '</option>';
					});
					$schList.html(html);
					selectBoxLocation();
				}
			});
		}

		//셀렉트 모델선택시 변경
		function ModelChange(mdId) {
			var params = {
				emType: $("#emType").val()
			};

			var $mdId = $("#mdId");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function (e, xhr) { xhr.setRequestHeader(header, token); });

			$.ajax({
				url: '/api/equipment/modelchange',
				type: 'post',
				data: params,
				cache: false,
				error:function(request){
					ajaxErrorMsg(request);
				},
				success: function (res) {
					if (!Ajax.checkResult(res)) {
						return;
					}

					var html = '';
					var nullstr = "등록된 모델없음";

					if(res.data.dataselect===null){
						$("#iSolarbinOption").hide();
						$("#iTainerOption").hide();
						html += '<option value ="">' + nullstr + '</option>';
					}else{
						// console.log("mdType : "+res.data.mdType)
						if(res.data.mdType==="iSol"){
							$("#iSolarbinOption").show();
							$("#iTainerOption").hide();
						}else if(res.data.mdType==="iTai"){
							$("#iSolarbinOption").hide();
							$("#iTainerOption").show();
						}else{
							$("#iSolarbinOption").hide();
							$("#iTainerOption").hide();
						}
						$.each(res.data.dataselect, function (key, value) {
							html += '<option value ="'+echoNull2Blank(value.id)+'">'+echoNull2Blank(value.mdName)+"-"+echoNull2Blank(value.mdType)+'</option>';
						});
					}
					$mdId.html(html);

					if(mdId!==null){
						$mdId.val(mdId);
					}

				}
			});
		}

		//한글을 지우는 함수
		function delHangle(evt){
			var objTarget = evt.srcElement || evt.target;
			var _value = event.srcElement.value;
			if(/[ㄱ-ㅎㅏ-ㅡ가-핳]/g.test(_value)) {
				alertCaution("숫자만 입력가능합니다.");
				objTarget.value = null;
			}
		}

		// 소수점한개로 제한한 실수값입력할수있게하는 함수
		function isNumberKey(evt) {
			var charCode = (evt.which) ? evt.which : event.keyCode;

			var _value = event.srcElement.value;

			if (event.keyCode < 48 || event.keyCode > 57) {
				if (event.keyCode !== 46) {
					return false;
				}
			}
			// 소수점(.)이 두번 이상 나오지 못하게
			var _pattern0 = /^\d*[.]\d*$/;
			if (_pattern0.test(_value)) {
				if (charCode === 46) {
					return false;
				}
			}
			// 소수점 둘째자리까지만 입력가능
			var _pattern2 = /^\d*[.]\d{6}$/;
			if (_pattern2.test(_value)) {
				alertCaution("소수점 여섯자리까지만 입력가능합니다.");
				return false;
			}
		}

    </script>

</head>

<div layout:fragment="content" class="contents-body">
	<section class="section">
		<article class="article">
			<h2 class="article__heading">장비 조회</h2>
			<div class="l-float-heading">
				<div class="l-float-heading--left">
					<h4 class="article__head">검색조건<span class="article__head-caption">(수정하려면 조회 후 초기화 버튼을 클릭하세요.)</span></h4>
				</div>
				<div class="l-float-heading--right"><button class="c-button c-button--small" id="btnReset">조건 초기화</button></div>
			</div>
			<table class="c-table">
				<colgroup>
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 80px;" />
					<col />
					<col style="width: 62px;" />
				</colgroup>
				<tr>
					<th>모델 타입</th>
					<td>
						<div class="c-select">
							<select id="s_emType" class="c-select__input">
								<option value="">전체</option>
								<option th:each ="equipdType : ${equipdTypes}"
										th:value="${equipdType.code}"
										th:text="${equipdType.name}"
								></option>
							</select>
						</div>
					</td>
					<th>국가</th>
					<td>
						<div class="c-select">
							<select id="s_emCountry" class="c-select__input" >
								<option value="">전체</option>
								<option th:each ="equipdCountry : ${equipdCountrys}"
										th:value="${equipdCountry.code}"
										th:text="${equipdCountry.name}">
								</option>
							</select>
						</div>
					</td>
					<th>대시보드 포함여부</th>
					<td>
						<div class="c-select">
							<select id="s_emDashboard" class="c-select__input">
								<option value="">전체</option>
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>
					</td>
					<th>장비 번호</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_emNumber" class="c-text__input" />
						</div>
					</td>
					<th>장비 명칭</th>
					<td>
						<div class="c-text">
							<input type="text" id="s_emDesignation" class="c-text__input" />
						</div>
					</td>
					<td>
						<button class="c-button c-button--point" id="btnSearch">조회</button>
					</td>
				</tr>
			</table>
		</article>
		<article class="article">
			<table class="c-table">
				<colgroup>
					<col style="width: 140px" />
					<col style="width: 140px" />
					<col />
					<col style="width: 100px" />
					<col />
					<col style="width: 120px" />
					<col style="width: 140px" />
					<col style="width: 100px" />
					<col style="width: 90px" />
					<col style="width: 50px;" />
				</colgroup>
				<thead>
					<tr>
						<th>장비 번호</th>
						<th>장비 시리얼 번호</th>
						<th>장비 명칭</th>
						<th>모델 타입</th>
						<th>모델명/종류</th>
						<th>국가/지역</th>
						<th>임베디드 기판 번호</th>
						<th>소속운영사</th>
						<th>대시보드포함</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="schList">

				</tbody>
			</table>

			<div class="c-pager">
				<div class="c-paging" id="paging1">
				</div>
				<div class="c-paging__total">
					<div class="c-paging__total-group">
						Total
					</div>
					<div class="c-paging__total-group" id="totalCnt">0</div>
				</div>
			</div>
		</article>
	</section>
	
	<section class="section">
		<article class="article">
			<h2 class="article__heading">장비 등록</h2>
			<form name="equreg">
			<table class="c-table">
				<tbody>
					<tr>
						<th>장비 번호</th>
						<td>
							<div class="c-text">
								<input type="text" id="emNumber" name="emNumber" class="c-text__input" readonly="readonly" />
							</div>
						</td>
						<th>장비 시리얼 번호</th>
						<td>
							<div class="c-text">
								<input type="text" name="emCerealNumber" id="emCerealNumber" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>장비 명칭</th>
						<td>
							<div class="c-text">
								<input type="text" name="emDesignation" id="emDesignation" class="c-text__input" />
							</div>
						</td>
						<th>모델 선택</th>
						<td>
							<ul class="c-input-list c-input-list--flex">
								<li>
									<div class="c-select">
										<select name="emType" id="emType" class="c-select__input" onchange="ModelChange(null)">
											<option th:each ="equipdType : ${equipdTypes}"
													th:value="${equipdType.id}"
													th:text="${equipdType.name}"
											></option>
										</select>
									</div>
								</li>
								<li>
									<div class="c-select">
										<select name="iModel" id="mdId" class="c-select__input" >
										</select>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>설치일자</th>
						<td>
							<div class="c-calendar-layout">
								<div class="c-date" style="width: 100%;">
									<input type="text" class="c-text__input" name="emInstallDate" id="emInstallDate" placeholder="연 - 월 - 일" />
								</div>
							</div>
						</td>
						<th>국가/지역</th>
						<td>
							<ul class="c-input-list c-input-list--flex">
								<li>
									<div class="c-select">
										<input id="emCountryView" class="c-text__input" style="display:none;" readonly="readonly" />
										<select name="emCountry" id="emCountry" class="c-select__input" onchange="LocationSetting()">
											<option th:each ="equipdCountry : ${equipdCountrys}"
													th:value="${equipdCountry.id}"
													th:text="${equipdCountry.name}">
											</option>
										</select>
									</div>
								</li>
								<li>
									<div class="c-select">
										<input id="emLocationView" class="c-text__input" style="display:none;" readonly="readonly" />
										<input id="addSell" class="c-text__input" style="display:none;" readonly="readonly" />
										<select name="emLocation" id="emLocation" class="c-select__input" >
										</select>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>임베디드 기판 번호</th>
						<td>
							<div class="c-text">
								<input type="text" name="emEmbeddedNumber" id="emEmbeddedNumber" class="c-text__input" />
							</div>
						</td>
						<th>소속운영사</th>
						<td>
							<div class="c-search-form">
								<input type="text" class="c-text__input" name="operator" id="operator" readonly="readonly" />
								<input type="text" id="csNum" class="c-text__input" readonly="readonly" />
								<button class="c-search-form__button pop__list">검색</button>
							</div>
						</td>
					</tr>
					<tr>
						<th>AWS상 Device ID</th>
						<td>
							<div class="c-text">
								<input type="text" name="emAwsNumber" id="emAwsNumber" class="c-text__input" />
							</div>
						</td>
						<th>장비약칭(사용자지정)</th>
						<td>
							<div class="c-text">
								<input type="text" name="emSubName" id="emSubName" class="c-text__input" />
							</div>
						</td>
					</tr>
					<tr>
						<th>위도</th>
						<td>
							<div class="c-text">
								<input type="text" name="emLatitude" id="emLatitude" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
						<th>경도</th>
						<td>
							<div class="c-text">
								<input type="text" name="emLongitude" id="emLongitude" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
					</tr>
					<tr>
						<th>AWS보안인증서코드</th>
						<td>
							<div class="c-text">
								<input type="text" name="emCertificationNumber" id="emCertificationNumber" class="c-text__input" />
							</div>
						</td>
						<th>대시보드 포함</th>
						<td>
							<div class="c-select">
								<select name="emDashboard" id="emDashboard" class="c-select__input">
									<option value="Y">Y</option>
									<option value="Y">N</option>
								</select>
							</div>
						</td>
					</tr>
				</tbody>

				<tbody id="iSolarbinOption" style="display: none">
					<tr>
						<th>센서 데이터 주기적 송신시간(단위:분)</th>
						<td>
							<div class="c-text">
								<input type="text" name="vInterval" id="vInterval" placeholder="60" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
						<th>압축 정지시간</th>
						<td>
							<div class="c-text">
								<input type="text" name="vPresstime" id="vPresstime" placeholder="기본값 3" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
					</tr>
					<tr>
						<th>투입구 열림 시간</th>
						<td>
							<div class="c-text">
								<input type="text" name="vInputtime" id="vInputtime" placeholder="기본값 10" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
						<th>솔레노이드 열림 시간</th>
						<td>
							<div class="c-text">
								<input type="text" name="vSolenoidtime" id="vSolenoidtime" placeholder="기본값 5" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
					</tr>
					<tr>
						<th>쓰레기량에 따른 경계값(노랑색)</th>
						<td>
							<div class="c-text">
								<input type="text" name="vYellowstart" id="vYellowstart" placeholder="기본값 61%" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
						<th>쓰레기량에 따른 경계값(적색)</th>
						<td>
							<div class="c-text">
								<input type="text" name="vRedstart" id="vRedstart" placeholder="기본값 81%" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
							</div>
						</td>
					</tr>
				</tbody>

				<tbody id="iTainerOption" style="display: none">
					<tr>
						<th>담당자 명</th>
						<td>
							<div class="c-text"><input id="vManager" name="vManager" type="text" class="c-text__input" /></div>
						</td>
						<th>담당자 번호</th>
						<td>
							<div class="c-text"><input id="vManagerCall" name="vManagerCall" type="text" class="c-text__input" placeholder="'-'를 빼고 입력하시오." onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>장비ID</th>
						<td>
							<div class="c-text"><input id="vManagerid" name="vManagerid" type="text" class="c-text__input" /></div>
						</td>
						<th>장비PW</th>
						<td>
							<div class="c-text"><input id="vManagerPass" name="vManagerPass" type="text" class="c-text__input" /></div>
						</td>
					</tr>
					<tr>
						<th>장비언어</th>
						<td>
							<div class="c-select">
								<input type="hidden" id="vLanguageCode" />
								<select name="vLanguage" id="vLanguage" class="c-select__input">
									<option th:each ="vLanguage : ${vLanguages}"
											th:value="${vLanguage.code}"
											th:text="${vLanguage.name}">
									</option>
								</select>
							</div>
						</td>
						<th>mqtt 데이터전송주기(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vMqttInterval" name="vMqttInterval" class="c-text__input" placeholder="기본값 3600" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>lora 데이터전송주기(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vLoraInterval" name="vLoraInterval" class="c-text__input" placeholder="기본값 10" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
						<th>저울측정 대기시간(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vScaleSafeInterval" name="vScaleSafeInterval" class="c-text__input" placeholder="기본값 65" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>투입구 닫힘 대기시간(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vShutterIdleInterval" name="vShutterIdleInterval" class="c-text__input" placeholder="기본값 60" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
						<th>v_waste_press_interval(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vWastePressInterval" name="vWastePressInterval" class="c-text__input" placeholder="기본값 3" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>v_waste_capacity(단위:그램)</th>
						<td>
							<div class="c-text"><input type="text" id="vWasteCapacity" name="vWasteCapacity" class="c-text__input" placeholder="기본값 5000000" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
						<th>v_ozon_time(단위:초)</th>
						<td>
							<div class="c-text"><input type="text" id="vOzonTime" name="vOzonTime" class="c-text__input" placeholder="기본값 7" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>v_pay_preamt(단위:미정)</th>
						<td>
							<div class="c-text"><input type="text" id="vPayPreamt" name="vPayPreamt" class="c-text__input" placeholder="기본값 8000" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
						<th></th>
						<td></td>
					</tr>
					<tr>
						<th>기준 가격</th>
						<td>
							<div class="c-text"><input type="text" id="vPayUnitPrice" name="vPayUnitPrice" class="c-text__input" placeholder="기본값 25" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
						<th>기준 무게(단위:g)</th>
						<td>
							<div class="c-text"><input type="text" id="vPayUnitWeight" name="vPayUnitWeight" class="c-text__input" placeholder="기본값 1" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" /></div>
						</td>
					</tr>
					<tr>
						<th>v_pay_method(미정)</th>
						<td colspan="3">
							<div class="c-text"><input type="hidden" id="vPayMethod" name="vPayMethod" class="c-text__input" /></div>
							<ul class="c-input-list">
								<li>
									<input type="checkbox" name="checks" id="check01" value="fr" />
									<label for="check01">FR</label>
								</li>
								<li>
									<input type="checkbox" name="checks" id="check02" value="cc" />
									<label for="check02">CC</label>
								</li>
								<li>
									<input type="checkbox" name="checks" id="check03" value="tm" />
									<label for="check03">TM</label>
								</li>
								<li style="display: none">
									<input type="checkbox" name="checks" id="check04" value="mb" />
									<label for="check04">MB</label>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>

			</table>
			</form>
			<div class="c-function">
				<div class="c-function__group c-function__group--right">
					<div class="c-function__item">
						<button style="display: none" class="c-button c-button--point" id="devcieCheckBtn">장비등록확인</button>
					</div>
					<div class="c-function__item">
						<button class="c-button c-button--point" id="btnNew">신규</button>
					</div>
					<div class="c-function__item">
						<button class="c-button c-button--point" id ="equSaveBtn">저장</button>
					</div>
					<div class="c-function__item">
						<button class="c-button" id="btnDel">삭제</button>
					</div>
				</div>
			</div>
		</article>
	</section>

	<div class="l-popup" id="pop__list">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">운영사 조회</h3>
			</div>
			<div class="l-popup__content">
				<div class="l-popup__section">
					<table class="c-table c-table--non-border">
						<colgroup>
							<col style="width: 100px;" />
							<col />
							<col style="width: 100px;" />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<tbody>
						<tr>
							<th>관리코드</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csnumber" name="s_csnumber"/>
								</div>
							</td>
							<th>운영사명</th>
							<td>
								<div class="c-text">
									<input type="text" class="c-text__input" id="s_csoperator" name="s_csoperator"/>
								</div>
							</td>
							<td>
								<button class="c-button c-button--point" id="agencyBtnSearch">조회</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="l-popup__section">
					<table class="c-table">
						<colgroup>
							<col />
							<col />
							<col style="width: 60px;" />
						</colgroup>
						<thead>
						<tr>
							<th>관리코드</th>
							<th>운영사명</th>
							<th></th>
						</tr>
						</thead>
						<tbody id ="agencySchList">

						</tbody>
					</table>

					<div class="c-pager">
						<div class="c-paging" id ="agencyPaging">
							<!-- 페이징 처리되는곳   -->
						</div>
						<div class="c-paging__total">
							<div class="c-paging__total-group">
								Total
							</div>
							<div class="c-paging__total-group" id ="agencyTotalCnt">0</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="l-popup__close">팝업닫기</a>
		</div>
	</div>
</div>
</html>
