<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>

</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<section class="section">
			<article class="article article--1080">
				<h2 class="article__heading">고장예측 가중치관리</h2>
				<div class="article__body">
					<div class="panel">
						<div class="panel__inner">
							<div class="panel__body">
								<div class="weight">
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">터치스크린</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="10" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">키패드</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="10" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">임베디드보드</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="5" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">결제 도어</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="20" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">폐기물 도어</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="20" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">저울</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="5" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">결제 디바이스</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="5" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">티머니 결제</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="5" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">신용카드 결제</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="10" />
											</div>
										</div>
									</div>
									<div class="weight__item">
										<div class="weight__item-inner">
											<div class="weight__title">LTE 디바이스</div>
											<div class="weight__number">
												<input type="number" class="weight__input" value="10" />
											</div>
										</div>
									</div>
								</div>
								
								<div class="c-function" style="position: absolute; bottom: 10px; left: 0; width:100%; padding: 0 10px;">
									<div class="c-function__group" style="width: 25%; padding: 0 10px; margin-left: -10px;">
										<div class="c-function__item" style="width: 100%;">
											<div class="weight__item-inner">
												<div class="weight__title">총합</div>
												<div class="weight__number">
													<input type="number" class="weight__input" value="100" />
												</div>
											</div>
										</div>
									</div>
									<div class="c-function__group c-function__group--right">
										<button class="c-button c-button--point">저장</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</div>
</div>
</html>
