<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
        var myChart1;
        var myChart2;
        var myChart3;

        $(function() {
            if($("#headerMode").val()==="1"){
                $("#default_wrap").addClass('wrap');
            }else{
                $("#default_wrap").addClass('wrap nav--small');
            }

            $("#btnSearch").on('click',function(){
                myChart1.destroy();
                myChart2.destroy();
                myChart3.destroy();
                beaconData();
            });

            $("#s_yyyymmdd").datepicker({});

            beaconData();

        });

        function beaconData() {
            // console.log("비콘센서데이터가져오기")
            $("#beaconChartLoading").css('display','block');

            var $dateTo = $("#s_yyyymmdd");
            if($dateTo.val()==="") {
                var today = new Date();
                var year = today.getFullYear();
                var month = today.getMonth() + 1;
                var day = today.getDate();
                if (month < 10) {
                    month = "0" + month;
                }
                if (day < 10) {
                    day = "0" + day;
                }
                var todayData = year + "-" + month + "-" + day;
                $dateTo.val(todayData);
            }

            var params = {
                yyyymmdd:$dateTo.val()
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url:'/testpage/beaconData',
                type : 'post',
                data : params,
                cache:false,
                error:function(request){
                    ajaxErrorMsg(request);
                },
                success: function(res){
                    if (!Ajax.checkResult(res)) {
                        return;
                    }
                    // console.log("가져오기 성공")

                    statuscode= res.data.statusCode;
                    // console.log("statuscode : "+statuscode)

                    if (statuscode ===200) {
                        // console.log("타임스탬프 그래프 그리기 시작")

                        var beaconTimeStamp_arr = []; //타임스탬프
                        var temperature_arr = []; // 온도
                        var nh3_arr = []; // 암모니아
                        var humidity_arr = []; // 습도
                        var tvoc_arr = []; // TVOC

                        var tem = "0";
                        var hum = "0";
                        var nh = "0";
                        var tv = "0";

                        $.each(res.data.datarow1, function (key, value) {
                            beaconTimeStamp_arr.push(parseInt(value.inserttimestamp));

                            if (value.temperature === "na") {
                                if(tem!=="na"){
                                    temperature_arr.push(tem);
                                }else{
                                    temperature_arr.push("0");
                                }
                            } else {
                                temperature_arr.push(value.temperature);
                            }
                            tem = value.temperature

                            if (value.humidity === "na") {
                                if(hum!=="na"){
                                    humidity_arr.push(hum);
                                }else{
                                    humidity_arr.push("0");
                                }
                            } else {
                                humidity_arr.push(value.humidity);
                            }
                            hum = value.humidity

                            if (value.nh3 === "na") {
                                if(nh!=="na"){
                                    nh3_arr.push(nh);
                                }else{
                                    nh3_arr.push("0");
                                }
                            } else {
                                nh3_arr.push(value.nh3);
                            }
                            nh = value.nh3

                            if (value.tvoc === "na") {
                                if(tv!=="na"){
                                    tvoc_arr.push(tv);
                                }else{
                                    tvoc_arr.push("0");
                                }
                            } else {
                                tvoc_arr.push(value.tvoc);
                            }
                            tv = value.tvoc

                        })

                        // console.log("beaconTimeStamp_arr : " + beaconTimeStamp_arr)
                        // console.log("temperature_arr : " + temperature_arr)
                        // console.log("nh3_arr : " + nh3_arr)
                        // console.log("humidity_arr : " + humidity_arr)
                        // console.log("tvoc_arr : " + tvoc_arr)

                        var ctx1 = document.getElementById('beaconTemperature').getContext("2d");
                        var ctx2 = document.getElementById('beaconNh3').getContext("2d");
                        var ctx3 = document.getElementById('beaconTvoc').getContext("2d");

                        // temMaxVal = Math.max.apply(0, temperature_arr)+15;
                        // temMinVal = 0;
                        var humMaxVal = Math.max.apply(0, humidity_arr)+15;
                        var humMinVal = 0;
                        var nh3MaxVal = Math.max.apply(0, nh3_arr)+15;
                        var nh3MinVal = 0;
                        var tvocMaxVal = Math.max.apply(0, tvoc_arr)+200;
                        var tvocMinVal = 0;

                        // 온도최대값,최소값 계산(y축그래프)
                        var temp_brd_Max = Math.max.apply(0, temperature_arr); // 온도최대값
                        var temp_brd_Min = Math.min.apply(0, temperature_arr); // 온도최소값
                        var tempMax = (temp_brd_Max+15).toFixed(0);
                        var tempMin = (temp_brd_Min-15).toFixed(0);
                        var tempBrdMax;
                        var tempBrdMin;

                        if(tempMax/5!==0){
                            tempMaxsub = tempMax.substring(1,2);
                            tempBrdMax = parseInt(tempMax)-parseInt(tempMaxsub);
                        }else{
                            tempBrdMax = tempMap;
                        }

                        if(tempMin/5!==0) {
                            if(-10<tempMin<0){
                                tempMinsub = tempMin.substring(1,2);
                                tempBrdMin = parseInt(tempMin) + parseInt(tempMinsub);
                            }else if(tempMin<-10) {
                                tempMinsub = tempMin.substring(2,3);
                                tempBrdMin = parseInt(tempMin) + parseInt(tempMinsub);
                            }else if(tempMin>10){
                                tempMinsub = tempMin.substring(1,2);
                                tempBrdMin = parseInt(tempMin) - parseInt(tempMinsub);
                            }else{
                                tempBrdMin = 0;
                            }
                        }else{
                            tempBrdMin = 0;
                        }

                        var chartData1 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: '온도',
                                yAxisID: 'x',
                                backgroundColor: "#e35f5f",
                                borderWidth: 2,
                                borderColor: "#e35f5f",
                                data: temperature_arr,
                                fill: false
                            }, {
                                type: 'line',
                                label: '습도',
                                yAxisID: 'y',
                                backgroundColor: "#f1ad07",
                                borderWidth: 2,
                                borderColor: "#f1ad07",
                                data: humidity_arr,
                                fill: false
                            }]
                        };

                        myChart1 = new Chart(ctx1, {
                            data: chartData1,
                            options: {
                                elements: {
                                    point:{
                                        radius: 0
                                    }
                                },
                                legend:{
                                    posiont:'top'
                                },
                                maintainAspectRatio: false,
                                stacked : true,
                                tooltips: { //팁(모드설정)
                                    borderWidth:3,
                                    borderColor : 'rgb(118,172,255)',
                                    caretPadding: 65,
                                    mode: 'index',
                                    intersect: false,
                                    caretSize:0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY'+'년'+'MM'+'월'+'DD'+'일 '+'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            callback: function(value) {
                                                return value+'℃';
                                            },
                                            max: tempBrdMax,
                                            min: tempBrdMin
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    },{
                                        ticks: {
                                            callback: function(value) {
                                                return value+'%';
                                            },
                                            max: humMaxVal,
                                            min: humMinVal
                                        },
                                        id: 'y',
                                        type: 'linear',
                                        display: true,
                                        position: 'right',
                                        gridLines: {
                                            drawOnChartArea: false
                                        }
                                    }]
                                }
                            }
                        });

                        var chartData2 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: '암모니아',
                                yAxisID: 'x',
                                backgroundColor: "#29ff11",
                                borderWidth: 2,
                                borderColor: "#29ff11",
                                data: nh3_arr,
                                fill: false
                            }]
                        };

                        myChart2 = new Chart(ctx2, {
                            data: chartData2,
                            options: {
                                elements: {
                                    point: {
                                        radius: 0
                                    }
                                },
                                legend: {
                                    posiont: 'top'
                                },
                                maintainAspectRatio: false,
                                stacked: true,
                                tooltips: { //팁(모드설정)
                                    borderWidth: 3,
                                    borderColor: 'rgb(118,172,255)',
                                    caretPadding: 65,
                                    mode: 'index',
                                    intersect: false,
                                    caretSize: 0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY' + '년' + 'MM' + '월' + 'DD' + '일 ' + 'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            max: nh3MaxVal,
                                            min: nh3MinVal,
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    }]
                                }
                            }
                        });


                        var chartData3 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: 'TVOC',
                                yAxisID: 'x',
                                backgroundColor: "#8361fc",
                                borderWidth: 2,
                                borderColor: "#8361fc",
                                data: tvoc_arr,
                                fill: false
                            }]
                        };

                        myChart3 = new Chart(ctx3, {
                            data: chartData3,
                            options: {
                                elements: {
                                    point: {
                                        radius: 0
                                    }
                                },
                                legend: {
                                    posiont: 'top'
                                },
                                maintainAspectRatio: false,
                                stacked: true,
                                tooltips: { //팁(모드설정)
                                    borderWidth: 3,
                                    borderColor: 'rgb(118,172,255)',
                                    caretPadding: 65,
                                    mode: 'index',
                                    intersect: false,
                                    caretSize: 0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY' + '년' + 'MM' + '월' + 'DD' + '일 ' + 'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            max: tvocMaxVal,
                                            min: tvocMinVal,
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    }]
                                }
                            }
                        });
                    }
                    $("#beaconChartLoading").css('display','none');
                }
            });
        }

    </script>
</head>

<div layout:fragment="content" class="contents-body">
    <section class="section">
        <article class="article">
            <h2 class="article__heading">비콘센서 데이터 그래프</h2>
            <table class="c-table">
                <colgroup>
                    <col style="width: 80px;" />
                    <col />
                    <col style="width: 62px;" />
                </colgroup>
                <tr>
                    <th>날짜검색</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="s_yyyymmdd" class="c-text__input" placeholder="연 - 월 - 일" />
                        </div>
                    </td>
                    <td>
                        <button class="c-button c-button--point" id="btnSearch">조회</button>
                    </td>
                </tr>
            </table>

            <div>
                <div id="beaconChartLoading" style="display: none">
                    <div class="c-loader__active c-loader__active--ring"></div>
                </div>
                <div><canvas id='beaconTemperature' width="250" height="250"></canvas></div>
                <div><canvas id='beaconNh3' width="250" height="250"></canvas></div>
                <div><canvas id='beaconTvoc' width="250" height="250"></canvas></div>
            </div>

        </article>
    </section>
</div>
</html>
