<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>

    <script>
		$(document).ready(function() {

			$("#monthpicker").MonthPicker({
				IsRTL: true,
				i18n: {
					year: '',
					buttonText: '',
					prevYear: '다음 년도',
					nextYear: '이전 년도',
					next12Years: '12년 후',
					prev12Years: '12년 전',
					backTo: '',
					months: ['1월','2월','3월','4월','5월','6월', '7월','8월','9월','10월','11월','12월']
				},
				Button: false,
				MonthFormat: 'yy-mm'
			});

			$("#datepicker").datepicker({});

		})



    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>일자별 장비 현황</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="monthpicker" class="c-text__label">monthpicker</label>
										<input type="text" class="c-text__input" id="monthpicker" placeholder="연 - 월" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="" class="c-select__label">권역</label>
										<select name="" id="" class="c-select__input">
											<option>전체</option>
											<option>권역</option>
											<option>거점</option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<!-- <div class="c-date">
										<label for="month" class="c-date__label"></label>
										<input type="date" class="c-date__input" id="month" />
									</div> -->
									
									<div class="c-text">
										<label for="datepicker" class="c-text__label">datepicker</label>
										<input type="text" class="c-text__input" id="datepicker" placeholder="연 - 월 - 일" />
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto">
									<button class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="dashboard__row">
				
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">표</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__table">
								<div class="c-scroll-table c-scroll-table--hover">
									<div class="c-scroll-table__header">
										<table style="width: 491px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 19px;" />
											</colgroup>
											<thead>
												<tr>
													<th>날짜</th>
													<th>액추에이터</th>
													<th>투입구 걸림</th>
													<th>솔레노이드센서</th>
													<th>배출횟수</th>
													<th>쓰레기 양</th>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="c-scroll-table__body" style="height: 269px;">
										<table style="width: 472px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
											</colgroup>
											<tbody>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			
		</div>
	</div>

</div>
</html>
