<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script>
  
    Utils.load(function() {
		Chart.defaults.global.defaultFontSize = 11;
		var ctx = document.getElementById("heatmap").getContext("2d");
		window.myMatrix = new Chart(ctx, {
			type: 'matrix',
			data: {
				datasets: [
                    {
						data: [
    						{x: '01:00', y: '액츄에이터', v: 0},
    						{x: '02:00', y: '액츄에이터', v: 40},
    						{x: '03:00', y: '액츄에이터', v: 80},
    						{x: '04:00', y: '액츄에이터', v: 10},
    						{x: '05:00', y: '액츄에이터', v: 50},
    						{x: '06:00', y: '액츄에이터', v: 90},
    						{x: '07:00', y: '액츄에이터', v: 70},
    						{x: '08:00', y: '액츄에이터', v: 30},
    						{x: '09:00', y: '액츄에이터', v: 20},
    						{x: '10:00', y: '액츄에이터', v: 60},
    						{x: '11:00', y: '액츄에이터', v: 100},
    						{x: '12:00', y: '액츄에이터', v: 60},
    						{x: '13:00', y: '액츄에이터', v: 20},
    						{x: '14:00', y: '액츄에이터', v: 20},
    						{x: '15:00', y: '액츄에이터', v: 60},
    						{x: '16:00', y: '액츄에이터', v: 100},
    						{x: '17:00', y: '액츄에이터', v: 60},
    						{x: '18:00', y: '액츄에이터', v: 20},
    						{x: '19:00', y: '액츄에이터', v: 20},
    						{x: '20:00', y: '액츄에이터', v: 60},
    						{x: '21:00', y: '액츄에이터', v: 100},
    						{x: '22:00', y: '액츄에이터', v: 60},
    						{x: '23:00', y: '액츄에이터', v: 20},
    						{x: '24:00', y: '액츄에이터', v: 20},
    					],
                        backgroundColor: function(ctx) {
                            var value = ctx.dataset.data[ctx.dataIndex].v;
                            var alpha = (value - 5) / 100;
                            return Color('#007e37').alpha(alpha).rgbString();
                        },
                        borderColor: function(ctx) {
                            var value = ctx.dataset.data[ctx.dataIndex].v;
                            //var alpha = (value - 5) / 100;
                            return Color('#007e37').alpha(0.5).darken(0.3).rgbString();
                        },
                        borderWidth: 1,
                        borderSkipped: false,
                        hoverBorderColor: 'yellow',
                        width: function(ctx) {
                            var a = ctx.chart.chartArea;
                            return (a.right - a.left) / 30;
                        },
                        height: function(ctx) {
                            var a = ctx.chart.chartArea;
                            return (a.bottom - a.top) / 4 - 2;
                        }
					}, 
                    {
						data: [
    						{x: '01:00', y: '투입구 걸림', v: 0},
    						{x: '02:00', y: '투입구 걸림', v: 50},
    						{x: '03:00', y: '투입구 걸림', v: 90},
    						{x: '04:00', y: '투입구 걸림', v: 20},
    						{x: '05:00', y: '투입구 걸림', v: 60},
    						{x: '06:00', y: '투입구 걸림', v: 100},
    						{x: '07:00', y: '투입구 걸림', v: 60},
    						{x: '08:00', y: '투입구 걸림', v: 30},
    						{x: '09:00', y: '투입구 걸림', v: 30},
    						{x: '10:00', y: '투입구 걸림', v: 70},
    						{x: '11:00', y: '투입구 걸림', v: 90},
    						{x: '12:00', y: '투입구 걸림', v: 50},
    						{x: '13:00', y: '투입구 걸림', v: 10},
    						{x: '14:00', y: '투입구 걸림', v: 30},
    						{x: '15:00', y: '투입구 걸림', v: 70},
    						{x: '16:00', y: '투입구 걸림', v: 90},
    						{x: '17:00', y: '투입구 걸림', v: 50},
    						{x: '18:00', y: '투입구 걸림', v: 10},
    						{x: '19:00', y: '투입구 걸림', v: 30},
    						{x: '20:00', y: '투입구 걸림', v: 70},
    						{x: '21:00', y: '투입구 걸림', v: 90},
    						{x: '22:00', y: '투입구 걸림', v: 50},
    						{x: '23:00', y: '투입구 걸림', v: 10},
    						{x: '24:00', y: '투입구 걸림', v: 30}
    					],
                        backgroundColor: function(ctx) {
                            var value = ctx.dataset.data[ctx.dataIndex].v;
                            var alpha = (value - 5) / 100;
                            return Color('#ff1744').alpha(alpha).rgbString();
                        },
                        borderColor: function(ctx) {
    						var value = ctx.dataset.data[ctx.dataIndex].v;
    						//var alpha = (value - 5) / 100;
    						return Color('#ff1744').alpha(0.5).darken(0.3).rgbString();
    					},
                        borderWidth: 1,
    					borderSkipped: false,
    					hoverBorderColor: 'yellow',
    					width: function(ctx) {
    						var a = ctx.chart.chartArea;
    						return (a.right - a.left) / 30;
    					},
    					height: function(ctx) {
    						var a = ctx.chart.chartArea;
    						return (a.bottom - a.top) / 4 - 2;
    					}
					}, 
                    {
						data: [
    						{x: '01:00', y: '솔레노이드센서', v: 20},
    						{x: '02:00', y: '솔레노이드센서', v: 60},
    						{x: '03:00', y: '솔레노이드센서', v: 100},
    						{x: '04:00', y: '솔레노이드센서', v: 30},
    						{x: '05:00', y: '솔레노이드센서', v: 70},
    						{x: '06:00', y: '솔레노이드센서', v: 90},
    						{x: '07:00', y: '솔레노이드센서', v: 50},
    						{x: '08:00', y: '솔레노이드센서', v: 20},
    						{x: '09:00', y: '솔레노이드센서', v: 40},
    						{x: '10:00', y: '솔레노이드센서', v: 80},
    						{x: '11:00', y: '솔레노이드센서', v: 80},
    						{x: '12:00', y: '솔레노이드센서', v: 40},
    						{x: '13:00', y: '솔레노이드센서', v: 0},
    						{x: '14:00', y: '솔레노이드센서', v: 40},
    						{x: '15:00', y: '솔레노이드센서', v: 80},
    						{x: '16:00', y: '솔레노이드센서', v: 80},
    						{x: '17:00', y: '솔레노이드센서', v: 40},
    						{x: '18:00', y: '솔레노이드센서', v: 0},
    						{x: '19:00', y: '솔레노이드센서', v: 40},
    						{x: '20:00', y: '솔레노이드센서', v: 80},
    						{x: '21:00', y: '솔레노이드센서', v: 80},
    						{x: '22:00', y: '솔레노이드센서', v: 40},
    						{x: '23:00', y: '솔레노이드센서', v: 0},
    						{x: '24:00', y: '솔레노이드센서', v: 40}
    					],
                        backgroundColor: function(ctx) {
                            var value = ctx.dataset.data[ctx.dataIndex].v;
                            var alpha = (value - 5) / 100;
                            return Color('#fbc02d').alpha(alpha).rgbString();
                        },
                        borderColor: function(ctx) {
    						var value = ctx.dataset.data[ctx.dataIndex].v;
    						var alpha = (value - 5) / 100;
    						return Color('#fbc02d').alpha(0.5).darken(0.3).rgbString();
    					},
                        borderWidth: 1,
    					borderSkipped: false,
    					hoverBorderColor: 'yellow',
    					width: function(ctx) {
    						var a = ctx.chart.chartArea;
    						return (a.right - a.left) / 30;
    					},
    					height: function(ctx) {
    						var a = ctx.chart.chartArea;
    						return (a.bottom - a.top) / 4 - 2;
    					}
					}, 
                    {
						data: [
    						{x: '01:00', y: '배출횟수', v: 30},
    						{x: '02:00', y: '배출횟수', v: 70},
    						{x: '03:00', y: '배출횟수', v: 0},
    						{x: '04:00', y: '배출횟수', v: 40},
    						{x: '05:00', y: '배출횟수', v: 80},
    						{x: '06:00', y: '배출횟수', v: 80},
    						{x: '07:00', y: '배출횟수', v: 40},
    						{x: '08:00', y: '배출횟수', v: 10},
    						{x: '09:00', y: '배출횟수', v: 50},
    						{x: '10:00', y: '배출횟수', v: 90},
    						{x: '11:00', y: '배출횟수', v: 70},
    						{x: '12:00', y: '배출횟수', v: 30},
    						{x: '13:00', y: '배출횟수', v: 10},
    						{x: '14:00', y: '배출횟수', v: 50},
    						{x: '15:00', y: '배출횟수', v: 90},
    						{x: '16:00', y: '배출횟수', v: 70},
    						{x: '17:00', y: '배출횟수', v: 30},
    						{x: '18:00', y: '배출횟수', v: 10},
    						{x: '19:00', y: '배출횟수', v: 50},
    						{x: '20:00', y: '배출횟수', v: 90},
    						{x: '21:00', y: '배출횟수', v: 70},
    						{x: '22:00', y: '배출횟수', v: 30},
    						{x: '23:00', y: '배출횟수', v: 10},
    						{x: '24:00', y: '배출횟수', v: 50}
    					],
                            backgroundColor: function(ctx) {
                                var value = ctx.dataset.data[ctx.dataIndex].v;
                                var alpha = (value - 5) / 100;
                                return Color('#2979ff').alpha(alpha).rgbString();
                            },
                            borderColor: function(ctx) {
        						var value = ctx.dataset.data[ctx.dataIndex].v;
        						var alpha = (value - 5) / 100;
        						return Color('#2979ff').alpha(0.5).darken(0.3).rgbString();
        					},
                            borderWidth: 1,
        					borderSkipped: false,
        					hoverBorderColor: 'yellow',
        					width: function(ctx) {
        						var a = ctx.chart.chartArea;
        						return (a.right - a.left) / 30;
        					},
        					height: function(ctx) {
        						var a = ctx.chart.chartArea;
        						return (a.bottom - a.top) / 4 - 2;
        					}
    					}
                ]
		    },
            options: {
				legend: {
					display: false
				},
				maintainAspectRatio: false,
				//stacked : true,
				tooltips: {
					callbacks: {
						title: function() { return '';},
						label: function(item, data) {
							var v = data.datasets[item.datasetIndex].data[item.index];
							return ["시간: " + v.x, v.y + ": " + v.v];
						}
					}
				},
				scales: {
					xAxes: [{
						type: 'time',
						labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '24:00'],
						time: {
							unit: 'hour',
							parser: 'HH',
							min: '00:00',
							max: '24:00',
							displayFormats: {
								hour: 'HH'
							}
						},
						/*ticks: {
							source: 'labels',
							reverse: false
						},
						gridLines: {
							display: false
						}*/
						ticks: {
							maxRotation: 0,
							autoSkip: true
						},
						gridLines: {
							display: false,
							drawBorder: false,
							tickMarkLength: 0,
						}
					}],
					yAxes: [{
						type: 'category',
						labels: ['액츄에이터', '투입구 걸림', '솔레노이드센서', '배출횟수'],
						/*gridLines: {
							display: false
						}*/
						ticks: {
							maxRotation: 90
						},
						gridLines: {
							display: false,
							drawBorder: false,
							tickMarkLength: 0
						}
					}]
				},
                layout: {
                    padding: {
                        left: 0,
                        right: 20,
                        top: 70,
                        bottom: 50
                    }
                }
			}
		})
	});
	
	
	$(document).ready(function() {
		
	})
	
    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>일자별 장비 현황</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="num" class="c-text__label"></label>
										<input type="text" class="c-text__input" id="num" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="" class="c-select__label"></label>
										<select name="" id="" class="c-select__input">
											<option>전체</option>
											<option>권역</option>
											<option>거점</option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-date">
										<label for="month" class="c-date__label"></label>
										<input type="date" class="c-date__input" id="month" />
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto">
									<button class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="dashboard__row">
				
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">표</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__table">
								<div class="c-scroll-table c-scroll-table--hover">
									<div class="c-scroll-table__header">
										<table style="width: 491px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 19px;" />
											</colgroup>
											<thead>
												<tr>
													<th>날짜</th>
													<th>액추에이터</th>
													<th>투입구 걸림</th>
													<th>솔레노이드센서</th>
													<th>배출횟수</th>
													<th>쓰레기 양</th>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="c-scroll-table__body" style="height: 269px;">
										<table style="width: 472px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
												<col style="width: 110px;" />
											</colgroup>
											<tbody>
												<tr>
													<td>1</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>2</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>3</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>4</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>5</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>6</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>7</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>8</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>9</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>10</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>11</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>12</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>13</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>14</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>15</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>16</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>17</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>18</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>19</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>20</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>21</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>22</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>23</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>24</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>25</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>26</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>27</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>28</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>29</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
												<tr>
													<td>30</td>
													<td>1</td>
													<td>0</td>
													<td>15</td>
													<td>1</td>
													<td>80%</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">지도</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<!-- <div class="c-loader">
								<div id="mapChartLoading" class="c-loader__active c-loader__active--ring"></div>
							</div> -->
							<div class="map" id="map"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="dashboard__row">
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">꺽은선 그래프</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body"></div>
					</div>
				</div>
				
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">히트맵?</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="heatmap-area">
								<canvas id="heatmap" style="width: 100%;height: 293px;"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>

	<div id='alertpop'>
	</div>
</div>
</html>
