<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
        $(function(){
            $("#btnUpload").on('click',function(){
                fileUpload();
            });
            $("#btnFind").on('click',function(){
                filelist();
            });


        })

        function filelist(){
            var $schList = $('#filelist');

            var params = {

            };


            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });


            $.ajax({
                url:'/api/test/filelist',
                type : 'post',
                //dataType: json,
                data : params,
                cache:false,
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(res){
                    //화면 출력

                    /*
                     private Long id;
                 private String fileName;
                 private String saveFileName;
                 private String filePath;
                 private String contentType;
                 private Long size;

                      */
                    var baseurl = res.data.awss3url;


                    var html = '';
                    $.each(res.data.datalist, function(key, value){
                        if(value.contentType.substring(0,5).toUpperCase()==='IMAGE'){
                            html += '<tr height = 100>'
                            html += '   <td>' + nvl(value.fileName,'')  + '</td>'
                            html += '   <td><img width="50" src="'+ baseurl+ nvl(value.fileFullPath,'') +'"</img></td>';
                            html += '   <td onclick="javascript:callfiledown('+ nvl(value.id,0)+')">다운로드2</td>'
                            html += '   <td onclick="javascript:callfileDel('+ nvl(value.id,0)+')">삭제</td>'
                            html += '</tr>'
                        }else{
                            html += '<tr>'
                            html += '   <td>' + nvl(value.fileName,'')  + '</td>';
                            html += '   <td><a href="'+ baseurl+ nvl(value.fileFullPath,'') +'">다운로드2</a></td>'
                            html += '   <td onclick="javascript:callfiledown('+ nvl(value.id,0)+')">다운로드2</td>'
                            html += '   <td onclick="javascript:callfileDel('+ nvl(value.id,0)+')">삭제</td>'
                            html += '</tr>'
                        }


                    });
                    $schList.html(html);

                }

            });
        }
        function callfiledown(fileid){

            window.location.href = "/testpage/filedownload/"+fileid;

        }
        function callfileDel(fileid){

            var params = {
                fileid:fileid
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url:'/api/test/filedel',
                type : 'post',
                data : params,
                cache:false,
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(res){
                    if (!Ajax.checkResult(res)) {
                        return;
                    }
                    alert('삭제 되었습니다.')
                    filelist();
                }
            });
        }

        function fileUpload() {

            var formData = new FormData(document.getElementById('frmreg')); //new FormData($("#frmreg"));

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url:'/api/test/fileuplod',
                type : 'post',
                //dataType: 'html',
                data : formData,
                processData : false,
                contentType : false,
                enctype: 'multipart/form-data',
                cache:false,
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(res){
                    if (!Ajax.checkResult(res)) {
                        return;
                    }
                    Swal.fire({
                        title: '저장되었습니다.',
                        text: '리스트에서 확인하세요',
                        type: "success"
                    }).then(function () {
                        filelist();
                        //window.location.href ="/testpage/fileupload";
                    })
                }
            });
        }
    </script>
</head>

<div layout:fragment="content" class="contents-body">
    <section class="section">
        <h2 class="section__heading">파일업로드 테스트</h2>
        <article class="article">


            <h1>
                S3 이미지 업로더
            </h1>

            <div class="col-md-2">
                <form id ="frmreg" name="frmreg" enctype="multipart/form-data">
                    <li class="c-file-list__item0">
                        <div class="c-file">
<!--                            <input type="text" readonly="readonly" class="c-file__input" id="file0" name="file0">-->
<!--                            <label class="c-file__button"></label>-->
                            파일선택<input type="file" name="file0" />

                        </div>
                    </li>

                </form>
            </div>
            <button type="button"  id="btnUpload">저장</button>
            <div class="col-md-10">
                <p><strong>File 테이블 목록 </strong> <button type="button"  id="btnFind">조회</button></p>
                <table  class="c-table c-table--hover">
                    <thead>
                        <tr>
                            <th>파일명</th>
                            <th>이미지표시/link</th>
                            <th>다운로드2</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody id="filelist">

                    </tbody>


                </table>

            </div>

        </article>




    </section>

</div>
</html>
