<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>

    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="popup popup--dim">
		<div class="popup__box">
			<div class="popup__stat">
				<div class="popup__text">팝업문구</div>
			</div>
			<div class="popup__buttons">
				<button>확인</button>
				<button>취소</button>
			</div>
		</div>
	</div>
</div>
</html>
