<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
		
    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>테이블형</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="num" class="c-text__label"></label>
										<input type="text" class="c-text__input" id="num" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="" class="c-select__label"></label>
										<select name="" id="" class="c-select__input">
											<option>전체</option>
											<option>권역</option>
											<option>거점</option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-date-group c-date-group--flex">
										<div class="c-date">
											<label for="from" class="c-date__label"></label>
											<input type="date" class="c-date__input" id="from" />
										</div>
										<div class="c-date">
											<label for="to" class="c-date__label"></label>
											<input type="date" class="c-date__input" id="to" />
										</div>
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto">
									<button class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title"></h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
								<button class="panel__button fold">접기/펴기</button>
							</div>
						</div>
						<div class="panel__body panel__body--height-auto">
							<div class="panel__table">
								<!-- <div class="c-scroll-table">
									<div class="c-scroll-table__header">
										<table>
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 100px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 19px;" />
											</colgroup>
											<thead>
												<tr>
													<th>NO.</th>
													<th colspan="2">지역</th>
													<th>구분</th>
													<th colspan="3">계</th>
													<th colspan="3">봄</th>
													<th colspan="3">여름</th>
													<th colspan="3">가을</th>
													<th colspan="3">겨울</th>
													<th></th>
												</tr>
												<tr>
													<th></th>
													<th>권역</th>
													<th>거점</th>
													<th></th>
													<th>횟수</th>
													<th>배출량</th>
													<th>증감율</th>
													<th>횟수</th>
													<th>배출량</th>
													<th>증감율</th>
													<th>횟수</th>
													<th>배출량</th>
													<th>증감율</th>
													<th>횟수</th>
													<th>배출량</th>
													<th>증감율</th>
													<th>횟수</th>
													<th>배출량</th>
													<th>증감율</th>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="c-scroll-table__body">
										<table>
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 100px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
											</colgroup>
											<tbody>
												<tr>
													<td>1</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>2</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>3</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>4</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>5</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>6</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>7</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>8</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>9</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>10</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>11</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>12</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>13</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>14</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>15</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>16</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>17</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>18</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>19</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>20</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>21</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>22</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>23</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>24</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>25</td>
													<td>합계</td>
													<td>합계</td>
													<td>차이</td>
													<td>224</td>
													<td>394.58kg</td>
													<td>273%</td>
													<td>31</td>
													<td>0kg</td>
													<td>100%</td>
													<td>174</td>
													<td>115kg</td>
													<td>100%</td>
													<td>23</td>
													<td>299.71kg</td>
													<td>32%</td>
													<td>-4</td>
													<td>-20.13kg</td>
													<td>-40%</td>
												</tr>
												<tr>
													<td>26</td>
													<td></td>
													<td></td>
													<td>당년</td>
													<td>306</td>
													<td>458.11kg</td>
													<td>0%</td>
													<td>31</td>
													<td>0kg</td>
													<td>0%</td>
													<td>174</td>
													<td>115kg</td>
													<td>0%</td>
													<td>95</td>
													<td>325.56kg</td>
													<td>0%</td>
													<td>6</td>
													<td>17.55kg</td>
													<td>0%</td>
												</tr>
												<tr>
													<td>27</td>
													<td></td>
													<td></td>
													<td>전년</td>
													<td>82</td>
													<td>63.53kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>0</td>
													<td>0kg</td>
													<td>0%</td>
													<td>72</td>
													<td>25.85kg</td>
													<td>0%</td>
													<td>10</td>
													<td>37.68kg</td>
													<td>0%</td>
												</tr>
											</tbody>
										</table>
										<div class="c-scroll-table__body-padding"></div>
									</div>
									<div class="c-scroll-table__footer">
										<table>
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 100px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
												<col style="width: 150px;" />
											</colgroup>
											<tfoot>
												<tr>
													<td></td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
													<td>0</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div> -->
								<div class="c-fixed-table">
									<div class="c-fixed-table__scroller">
										<table style="width: 750px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
												<col style="width: 100px;" />
											</colgroup>
											<thead style="width: 750px;">
												<tr>
													<th>
														<input type="checkbox" />
													</th>
													<th>고정</th>
													<th>스크롤</th>
													<th>스크롤</th>
													<th>스크롤</th>
													<th>스크롤</th>
													<th>스크롤</th>
													<th>스크롤</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
												<tr>
													<td><input type="checkbox" /></td>
													<td>고정</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
													<td>스크롤</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
