<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>

    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>차트(지도) + 표(차트) 분할레이아웃</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="num" class="c-text__label"></label>
										<input type="text" class="c-text__input" id="num" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="" class="c-select__label"></label>
										<select name="" id="" class="c-select__input">
											<option>전체</option>
											<option>권역</option>
											<option>거점</option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-date-group c-date-group--flex">
										<div class="c-date">
											<label for="from" class="c-date__label"></label>
											<input type="date" class="c-date__input" id="from" />
										</div>
										<div class="c-date">
											<label for="to" class="c-date__label"></label>
											<input type="date" class="c-date__input" id="to" />
										</div>
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto">
									<button class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="dashboard__Row">
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title"></h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__stat" id="pie_chart"></div>
						</div>
					</div>
				</div>
				<div class="panel panel--duo">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title"></h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
							</div>
						</div>
						<div class="panel__body">
							<div class="panel__table">
								<div class="c-scroll-table">
									<div class="c-scroll-table__header">
										<table style="width: 491px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 182px" />
												<col style="width: 80px;" />
												<col style="width: 80px;" />
												<col style="width: 80px;" />
												<col style="width: 19px;" />
											</colgroup>
											<thead>
												<tr>
													<th>No.</th>
													<th>권역</th>
													<th>거점</th>
													<th>배출량(kg)</th>
													<th>배출횟수</th>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="c-scroll-table__body" style="height: 269px;">
										<table style="width: 472px;">
											<colgroup>
												<col style="width: 50px;" />
												<col style="width: 182px;" />
												<col style="width: 80px;" />
												<col style="width: 80px;" />
												<col style="width: 80px;" />
											</colgroup>
											<tbody>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
												<tr>
													<td>1</td>
													<td>제주시</td>
													<td>3</td>
													<td>454.95</td>
													<td>77</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
</html>
