<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>

    </script>
</head>

<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>리스트형 조회1 - 테이블형 - 예)장비배치통계</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				
			</div>
			
			
			<div class="dashboard__row"></div>
		</div>
	</div>
</div>
</html>
