<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">
	  
	<head>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaj-tLY53HSlUAzB1mLnhKCdm6rRp8blY&callback" async defer></script>
		<script>

			$(function() {

				deviceMap();

				$("#btnSearch").on('click', function () {
					deviceMap();
				})

			});

			function deviceMap() {
                console.log("위치기반 시스템 ON");
				var params = {
					emNumber:$('#s_emNumber').val(),
					emType:$('#s_emType').val(),
					emAgency:$('#s_Agency').val(),
					emCountry:$('#s_emCountry').val(),
				};

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/deviceInfoList',
					type : 'post',
					data : params,
					cache:false,
					error:function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					},
					success: function(res){
						var pushValue = new Array();
						$.each(res.data.datalist, function(key, value){
							pushValue.push(nvl(value.emNumber,"확 인 불 가"));
						});
						MapChartDeviceId(pushValue);
					}
				});
			}

			// Map그래프 새로고침
			function MapChartDeviceId(pushValue) {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
				var deviceIds = new Array();
				for (var i=0; i<pushValue.length; i++){
					deviceIds.push(pushValue[i]);
				}
				var itemJson = new Object();
				itemJson.deviceids = deviceIds;
				var devicestr = JSON.stringify(itemJson);
				var params = {
					deviceids:devicestr
				};
				$.ajax({
					url: '/api/dashboard/dataMapGraph',
					type: 'post',
					data : params,
					cache: false,
					error: function (request) {
						ajaxErrorMsg(request);
					},
					success: function (res) {
						if (!Ajax.checkResult(res)) {
							return;
						}
						// 맵에 장치보기
						mapDeviceId(pushValue,res.data.map_data_columns,res.data.bar_data_columns,res.data.statusDatas);
						$("#mapLoaging").hide();
					}
				});
			}

			function mapDeviceId(pushValue,map_data_columns,bar_data_columns,statusDatas) {
				console.log("pushValue : "+pushValue)

				var locations = map_data_columns

				var map;
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 37.14450, lng: 127.03312},
					zoom: 8,
					mapTypeControl: false,
					streetViewControl: false
				});

				var marker, i;

				var iconSrc = [];

				iconSrc['정상'] = "/assets/images/marker.png";
				iconSrc['주의'] = "/assets/images/marker--caution.png";
				iconSrc['심각'] = "/assets/images/marker--severe.png"

				var infowindow = new google.maps.InfoWindow();

				var bounds = new google.maps.LatLngBounds()

				for (i = 0; i < map_data_columns.length; i++) {
					marker = new google.maps.Marker({
						position: new google.maps.LatLng(map_data_columns[i][1], map_data_columns[i][2]),
						map: map,
						icon: iconSrc[locations[i][3]]
					});

					bounds.extend(marker.position);

					google.maps.event.addListener(marker, 'click', (function(marker, i) {
						var content = '<div class="iw-container" id="iw-container">' +
								'<h2>' + (map_data_columns[i][0]) + '</h2>' +
								'<dl>' +
								'<dt>' +'상태 : '+statusDatas[i]+'</dt>' +
								'<dd>' +'배출량 : '+bar_data_columns[i+1]+'%'+'</dd>' +
								'</dl>' +
								'</div>'
						return function() {
							infowindow.setContent(content);
							infowindow.open(map, marker);
							deviceDetail(pushValue[i])
						}
					})(marker, i));
				}
				map.fitBounds(bounds);
			}

			// 장치리스트 출력
			function deviceDetail(pushValue) {

				var $deviceDetail = $('#deviceDetail');

				var params = {
					pushValue:pushValue,
				};

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

				$.ajax({
					url:'/api/dashboard/deviceMapDetail',
					type : 'post',
					data : params,
					cache:false,
					error:function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					},
					success: function(res){
						// var html2 = '';
						// var html = '';
						// var pushValue = new Array();
						// var installDate = new Array();
						//
						// var idx = 0;

						// $.each(res.data.datalist, function(key, value){
						// 	html2 += '<li class="c-list__item">'
						// 	html2 += '<div class="equipment">';
						// 	html2 += '<div id="mask" class="c-loader">'
						// 	html2 += '<div id="loading" class="c-loader__active c-loader__active--ring"></div>'
						// 	html2 += '</div>'
						// 	html2 += '</div>'
						// 	html2 += '</li>'
						//
						// 	html += '<li class="c-list__item">'
						// 	html += '<div id="listTest" class="equipment">';
						// 	html += '<div class="equipment__section">';
						// 	html += '<h4 class="equipment__section-title">장치 상세 정보</h4>';
						// 	html += '<ul class="equipment__info">'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'장비 ID : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emNumber,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'장비타입 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emType,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'최대적재량 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emMaximumPayload,"확 인 불 가")+' '+nvl(value.emUnit,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'운영사 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.company,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'지역 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emLocation,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'국가 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emCountry,"확 인 불 가")+'</span>';
						// 	html += '</li>'
						// 	html += '<li class="equipment__info-item">'
						// 	html += '<span class="equipment__info-title">'+'설치일자 : '+'</span>'
						// 	html += '<span class="equipment__info-value">'+nvl(value.emInstallDate,"확 인 불 가").substring(0,4)+"년 "+nvl(value.emInstallDate,"확 인 불 가").substring(4,6)+"월 "+nvl(value.emInstallDate,"확 인 불 가").substring(6,8)+"일"+'</span>';
						// 	html += '</li>'
						// 	html += '</ul>'
						// 	html += '</div>'
						// 	html += '</div>'
						// 	html += '</li>'
						//
						// 	idx++
						//
						// 	pushValue.push(nvl(value.emNumber,"확 인 불 가"));
						// 	installDate.push(nvl(value.emInstallDate,"확 인 불 가"));
						// });

						// $deviceDetail.html(html2);
						// setTimeout(function(){
						// 	$("#mask").removeClass("c-loader");
						// 	$("#loading").removeClass("c-loader__active c-loader__active--ring");
						// 	$deviceList.html(html);
						// 	deviceAWSListView(pushValue,installDate);
						// },2000);
					}
				});
			}

		</script>
	</head>
	  
<div layout:fragment="content" class="contents-body">
	<div class="page">
		<div class="page-title">
			<div class="page-title__left">
				<h2>위치기반</h2>
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__body panel__body--height-auto">
							<div class="c-float c-float--flex">
								<div class="c-float__item">
									<div class="c-text">
										<label for="s_emNumber" class="c-text__label">장비번호</label>
										<input id="s_emNumber" type="text" class="c-text__input" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emType" class="c-select__label">장비 타입</label>
										<select name="" id="s_emType" class="c-select__input">
											<option value="">전체</option>
											<option th:each ="equipdType : ${equipdTypes}"
													th:value="${equipdType.code}"
													th:text="${equipdType.name}"
											></option>
										</select>
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-text">
										<label for="s_Agency" class="c-text__label">소속운영사</label>
										<input id="s_Agency" type="text" class="c-text__input" />
									</div>
								</div>
								<div class="c-float__item">
									<div class="c-select">
										<label for="s_emCountry" class="c-select__label">국가</label>
										<select id="s_emCountry" class="c-select__input">
											<option value="">전체</option>
											<option th:each ="equipdCountry : ${equipdCountrys}"
													th:value="${equipdCountry.code}"
													th:text="${equipdCountry.name}">
											</option>
										</select>
									</div>
								</div>
								<div class="c-float__item c-float__item--flex--auto" style="padding-top: 15px;">
									<button id="btnSearch" class="c-button c-button--point">조회</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">Location</h4>
							<div class="panel__console">
								<button class="panel__button refresh">새로고침</button>
								<button class="panel__button fold">접기/펼치기</button>
							</div>
						</div>
						<div class="panel__body panel__body--height-auto">
							<div id="mapLoaging" class="c-loader">
								<div class="c-loader__active c-loader__active--ring"></div>
							</div>
							<div class="map map--big" id="map"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="dashboard__row">
				<div class="panel">
					<div class="panel__inner">
						<div class="panel__header">
							<h4 class="panel__title">기기</h4>
						</div>
						<div class="panel__body panel__body--height-auto panel__body--non-padding">
							<ul id="deviceDetail" class="c-list equipment">
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
</html>