<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
        var myChart1;
        var myChart2;
        var myChart3;

        $(function() {
            if($("#headerMode").val()==="1"){
                $("#default_wrap").addClass('wrap');
            }else{
                $("#default_wrap").addClass('wrap nav--small');
            }
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth()+1;
            var day = today.getDate();
            var hours = today.getHours()+1;
            var hours2 = today.getHours()-1;
            if(month < 10){
                month = "0"+month;
            }
            if(day < 10){
                day = "0"+day;
            }
            if(hours < 10){
                hours = "0"+hours;
            }
            if(hours2 < 10){
                hours2 = "0"+hours2;
            }
            var fromValue = year+month+day+hours2;
            var toValue = year+month+day+hours;
            // console.log("fromValue : "+fromValue);
            // console.log("toValue : "+toValue);
            $("#s_from").val(fromValue);
            $("#s_to").val(toValue);
            $("#s_deviceid").val("ITAI-KR-SEL-0001");

            $("#btnReset").on('click',function(){
                reset();
            });

            $('[name=btnSearch]').click(function(){
                myChart1.destroy();
                myChart2.destroy();
                myChart3.destroy();
                mlData();
            });

            mlData();

        });

        // 조건초기화
        function reset() {
            $("#mltvoc_min").val('');
            $("#mltvoc_max").val('');
            $("#mlred_min").val('');
            $("#mlred_max").val('');
        }

        //한글을 지우는 함수
        function delHangle(evt){
            var objTarget = evt.srcElement || evt.target;
            var _value = event.srcElement.value;
            if(/[ㄱ-ㅎㅏ-ㅡ가-핳]/g.test(_value)) {
                alertCaution("숫자만 입력가능합니다.");
                objTarget.value = null;
            }
        }

        // 소수점한개로 제한한 실수값입력할수있게하는 함수
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;

            var _value = event.srcElement.value;

            if (event.keyCode < 48 || event.keyCode > 57) {
                if (event.keyCode !== 46) {
                    return false;
                }
            }
            // 소수점(.)이 두번 이상 나오지 못하게
            var _pattern0 = /^\d*[.]\d*$/;
            if (_pattern0.test(_value)) {
                if (charCode === 46) {
                    return false;
                }
            }
            // 소수점 둘째자리까지만 입력가능
            var _pattern2 = /^\d*[.]\d{2}$/;
            if (_pattern2.test(_value)) {
                alertCaution("소수점 둘째자리까지만 입력가능합니다.");
                return false;
            }
        }

        function mlData() {
            // console.log("ncd센서데이터 가져오기")
            $("div[name=beaconChartLoading]").css('display','block');

            var params = {
                deviceid : $("#s_deviceid").val(),
                fromVal : $("#s_from").val(),
                toVal : $("#s_to").val()
            };

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader(header, token); });

            $.ajax({
                url:'/testpage/mlData',
                type : 'post',
                data : params,
                cache:false,
                error:function(request){
                    ajaxErrorMsg(request);
                },
                success: function(res){
                    if (!Ajax.checkResult(res)) {
                        return;
                    }
                    // console.log("가져오기 성공")

                    statuscode= res.data.statusCode;

                    if (statuscode ===200) {
                        console.log("타임스탬프 그래프 그리기 시작")

                        var beaconTimeStamp_arr = []; //타임스탬프

                        var mltvoc_arr = []; // TVOC

                        var mlred_arr = []; // reg
                        var pre1_1m_arr = []; // pre1_1m
                        var pre1_3m_arr = []; // pre1_3m
                        var pre2_1m_arr = []; // pre2_1m
                        var pre2_3m_arr = []; // pre2_3m

                        var fireCheck_arr = []; // fireCheck

                        var $mltvoc_max = $("#mltvoc_max");
                        var $mltvoc_min = $("#mltvoc_min");
                        var $mlred_max = $("#mlred_max");
                        var $mlred_min = $("#mlred_min");

                        $.each(res.data.datarow, function (key, value) {
                            beaconTimeStamp_arr.push(parseInt(value.inserttimestamp));

                            if (isNaN(Number(value.tvoc))===true) {
                                mltvoc_arr.push("0");
                            } else {
                                if($mltvoc_max.val()!==""){
                                    if(value.tvoc > Number($mltvoc_max.val())){
                                        mltvoc_arr.push($mltvoc_max.val());
                                    }else{
                                        if(value.tvoc>0){
                                            mltvoc_arr.push(value.tvoc);
                                        }else{
                                            mltvoc_arr.push("0");
                                        }
                                    }
                                }else{
                                    mltvoc_arr.push(value.tvoc);
                                }
                            }

                            if (isNaN(Number(value.red))===true) {
                                mlred_arr.push("0");
                            } else {
                                if($mlred_max.val()!==""){
                                    if(value.red > Number($mlred_max.val())){
                                        mlred_arr.push($mlred_max.val());
                                    }else{
                                        if(value.red>0){
                                            mlred_arr.push(value.red);
                                        }else{
                                            mlred_arr.push("0");
                                        }
                                    }
                                }else{
                                    mlred_arr.push(value.red);
                                }
                            }

                            if (isNaN(Number(value.pre1_1m))===true) {
                                pre1_1m_arr.push("0");
                            } else {
                                if($mlred_max.val()!==""){
                                    if(value.pre1_1m > Number($mlred_max.val())){
                                        pre1_1m_arr.push($mlred_max.val());
                                    }else{
                                        if(value.pre1_1m>0){
                                            pre1_1m_arr.push(value.pre1_1m);
                                        }else{
                                            pre1_1m_arr.push("0");
                                        }
                                    }
                                }else{
                                    pre1_1m_arr.push(value.pre1_1m);
                                }
                            }

                            if (isNaN(Number(value.pre1_3m))===true) {
                                pre1_3m_arr.push("0");
                            } else {
                                if($mlred_max.val()!==""){
                                    if(value.pre1_3m > Number($mlred_max.val())){
                                        pre1_3m_arr.push($mlred_max.val());
                                    }else{
                                        if(value.pre1_3m>0){
                                            pre1_3m_arr.push(value.pre1_3m);
                                        }else{
                                            pre1_3m_arr.push("0");
                                        }
                                    }
                                }else{
                                    pre1_3m_arr.push(value.pre1_3m);
                                }
                            }

                            if (isNaN(Number(value.pre2_1m))===true) {
                                pre2_1m_arr.push("0");
                            } else {
                                if($mlred_max.val()!==""){
                                    if(value.pre2_1m > Number($mlred_max.val())){
                                        pre2_1m_arr.push($mlred_max.val());
                                    }else{
                                        if(value.pre2_1m>0){
                                            pre2_1m_arr.push(value.pre2_1m);
                                        }else{
                                            pre2_1m_arr.push("0");
                                        }
                                    }
                                }else{
                                    pre2_1m_arr.push(value.pre2_1m);
                                }
                            }

                            if (isNaN(Number(value.pre2_3m))===true) {
                                pre2_3m_arr.push("0");
                            } else {
                                if($mlred_max.val()!==""){
                                    if(value.pre2_3m > Number($mlred_max.val())){
                                        pre2_3m_arr.push($mlred_max.val());
                                    }else{
                                        if(value.pre2_3m>0){
                                            pre2_3m_arr.push(value.pre2_3m);
                                        }else{
                                            pre2_3m_arr.push("0");
                                        }
                                    }
                                }else{
                                    pre2_3m_arr.push(value.pre2_3m);
                                }
                            }

                            if (isNaN(Number(value.firecheck))===true) {
                                fireCheck_arr.push("0");
                            }else{
                                fireCheck_arr.push(value.firecheck);
                            }


                        })

                        // console.log("red_arr : "+red_arr);
                        // console.log("pre1_1m_arr : "+pre1_1m_arr);
                        // console.log("pre1_3m_arr : "+pre1_3m_arr);
                        // console.log("pre2_1m_arr : "+pre2_1m_arr);
                        // console.log("pre2_3m_arr : "+pre2_3m_arr);

                        var ctx1 = document.getElementById('mltvoc').getContext("2d");
                        var ctx2 = document.getElementById('mlred').getContext("2d");
                        var ctx3 = document.getElementById('mlfireCheck').getContext("2d");

                        var tvocMaxVal;
                        var tvocMinVal;
                        var redMaxVal;
                        var redMinVal;

                        if($mltvoc_max.val()===""){
                            tvocMaxVal = Math.max.apply(0, mltvoc_arr);
                            $mltvoc_max.val(tvocMaxVal);
                        }else{
                            tvocMaxVal = Number($mltvoc_max.val());
                        }
                        if($mltvoc_min.val()===""){
                            tvocMinVal = Math.min.apply(0, mltvoc_arr);
                            $mltvoc_min.val(tvocMinVal);
                        }else{
                            tvocMinVal = Number($mltvoc_min.val());
                        }

                        if($mlred_max.val()===""){
                            redMaxVal = Math.max.apply(0, mlred_arr);
                            $mlred_max.val(redMaxVal);
                        }else{
                            redMaxVal = Number($mlred_max.val());
                        }
                        if($mlred_min.val()===""){
                            redMinVal = Math.min.apply(0, mlred_arr);
                            $mlred_min.val(redMinVal);
                        }else{
                            redMinVal = Number($mlred_min.val());
                        }

                        var chartData1 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: 'TVOC',
                                yAxisID: 'x',
                                backgroundColor: "#8361fc",
                                borderWidth: 2,
                                borderColor: "#8361fc",
                                data: mltvoc_arr,
                                fill: false
                            }]
                        };
                        myChart1 = new Chart(ctx1, {
                            data: chartData1,
                            options: {
                                elements: {
                                    point: {
                                        radius: 0
                                    }
                                },
                                legend: {
                                    posiont: 'top'
                                },
                                maintainAspectRatio: false,
                                stacked: true,
                                tooltips: { //팁(모드설정)
                                    caretPadding: 10,
                                    borderWidth: 3,
                                    borderColor: 'rgb(118,172,255)',
                                    mode: 'index',
                                    intersect: false,
                                    caretSize: 0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY' + '년' + 'MM' + '월' + 'DD' + '일 ' + 'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontSize: 20,
                                            max: tvocMaxVal,
                                            min: tvocMinVal,
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    },{
                                        ticks: {
                                            fontSize: 20,
                                            max: tvocMaxVal,
                                            min: tvocMinVal,
                                        },
                                        id: 'y',
                                        type: 'linear',
                                        display: true,
                                        position: 'right'
                                    }]
                                }
                            }
                        });

                        var chartData2 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: '스모크',
                                yAxisID: 'x',
                                backgroundColor: "#ff2e57",
                                borderWidth: 2,
                                borderColor: "#ff2e57",
                                data: mlred_arr,
                                fill: false
                            }, {
                                type: 'line',
                                label: 'Pre1_1m',
                                yAxisID: 'y',
                                backgroundColor: "#b2ff00",
                                borderWidth: 2,
                                borderColor: "#b2ff00",
                                data: pre1_1m_arr,
                                fill: false
                            }, {
                                type: 'line',
                                label: 'Pre1_3m',
                                yAxisID: 'y',
                                backgroundColor: "#1f7900",
                                borderWidth: 2,
                                borderColor: "#1f7900",
                                data: pre1_3m_arr,
                                fill: false
                            }, {
                                type: 'line',
                                label: 'Pre2_1m',
                                yAxisID: 'y',
                                backgroundColor: "#0aadfc",
                                borderWidth: 2,
                                borderColor: "#0aadfc",
                                data: pre2_1m_arr,
                                fill: false
                            }, {
                                type: 'line',
                                label: 'Pre2_3m',
                                yAxisID: 'y',
                                backgroundColor: "#004bac",
                                borderWidth: 2,
                                borderColor: "#004bac",
                                data: pre2_3m_arr,
                                fill: false
                            }]
                        };
                        myChart2 = new Chart(ctx2, {
                            data: chartData2,
                            options: {
                                elements: {
                                    point:{
                                        radius: 0
                                    }
                                },
                                legend:{
                                    posiont:'top'
                                },
                                maintainAspectRatio: false,
                                stacked : true,
                                tooltips: { //팁(모드설정)
                                    caretPadding: 10,
                                    borderWidth:3,
                                    borderColor : 'rgb(118,172,255)',
                                    mode: 'index',
                                    intersect: false,
                                    caretSize:0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY'+'년'+'MM'+'월'+'DD'+'일 '+'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontSize: 20,
                                            max: redMaxVal,
                                            min: redMinVal,
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    },{
                                        ticks: {
                                            fontSize: 20,
                                            max: redMaxVal,
                                            min: redMinVal,
                                        },
                                        id: 'y',
                                        type: 'linear',
                                        display: true,
                                        position: 'right'
                                    }]
                                }
                            }
                        });

                        var chartData3 = {
                            labels: beaconTimeStamp_arr,
                            datasets: [{
                                type: 'line',
                                label: 'fireCheck',
                                yAxisID: 'x',
                                backgroundColor: "#fc6161",
                                borderWidth: 2,
                                borderColor: "#fc6161",
                                data: fireCheck_arr,
                                fill: false
                            }]
                        };
                        myChart3 = new Chart(ctx3, {
                            data: chartData3,
                            options: {
                                elements: {
                                    point: {
                                        radius: 0
                                    }
                                },
                                legend: {
                                    posiont: 'top'
                                },
                                maintainAspectRatio: false,
                                stacked: true,
                                tooltips: { //팁(모드설정)
                                    caretPadding: 10,
                                    borderWidth: 3,
                                    borderColor: 'rgb(118,172,255)',
                                    mode: 'index',
                                    intersect: false,
                                    caretSize: 0
                                },
                                hover: { //점 나오기
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawOnChartArea: false
                                        },
                                        display: false,
                                        type: 'time',
                                        time: {
                                            tooltipFormat: 'YYYY' + '년' + 'MM' + '월' + 'DD' + '일 ' + 'HH:mm:ss a',
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontSize: 20,
                                            max: 4,
                                            min: 0,
                                        },
                                        id: 'x',
                                        type: 'linear',
                                        display: true,
                                        position: 'left'
                                    },{
                                        ticks: {
                                            fontSize: 20,
                                            max: 4,
                                            min: 0,
                                        },
                                        id: 'y',
                                        type: 'linear',
                                        display: true,
                                        position: 'right'
                                    }]
                                }
                            }
                        });

                    }
                    $("div[name=beaconChartLoading]").css('display','none');
                }
            });
        }

    </script>
</head>

<div layout:fragment="content" class="contents-body">
    <section class="section">
        <article class="article">
            <h2 class="article__heading">ML추론센서 데이터 그래프(화재)</h2>
            <div class="l-float-heading">
                <div class="l-float-heading--left">
                    <h4 class="article__head">대상시간<span class="article__head-caption"> ex)2020.6.10 15:00 부터 2020.06.10 16:00 까지면 -> from.2020061015 - to.2020061016</span></h4>
                </div>
                <div class="l-float-heading--right"><button class="c-button c-button--small" id="btnReset">최소값/최대값 클리어</button></div>
            </div>
            <table class="c-table">
                <colgroup>
                    <col style="width: 120px;" />
                    <col />
                    <col style="width: 120px;" />
                    <col />
                    <col style="width: 120px;" />
                    <col />
                    <col style="width: 62px;" />
                </colgroup>
                <tr>
                    <th>장비아이디</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="s_deviceid" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <th>날짜시간 from.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="s_from" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <th>날짜시간 to.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="s_to" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <td>
                        <button class="c-button c-button--point" name="btnSearch">조회</button>
                    </td>
                </tr>
            </table>
            <table class="c-table">
                <colgroup>
                    <col style="width: 100px;" />
                    <col />
                    <col style="width: 100px;" />
                    <col />
                    <col style="width: 62px;" />
                </colgroup>
                <tr>
                    <th>TVOC 최소값.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="mltvoc_min" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <th>TVOC 최대값.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="mltvoc_max" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <td>
                        <button class="c-button c-button--point" name="btnSearch">조회</button>
                    </td>
                </tr>
            </table>
            <div style="margin: 30px 0 30px 0; position:relative;">
                <div name="beaconChartLoading" style="display: none">
                    <div class="c-loader__active c-loader__active--ring"></div>
                </div>
                <canvas id='mltvoc' width="250" height="250"></canvas>
            </div>
            <table class="c-table">
                <colgroup>
                    <col style="width: 100px;" />
                    <col />
                    <col style="width: 100px;" />
                    <col />
                    <col style="width: 62px;" />
                </colgroup>
                <tr>
                    <th>스모크 최소값.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="mlred_min" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <th>스모크 최대값.</th>
                    <td>
                        <div class="c-text">
                            <input type="text" id="mlred_max" class="c-text__input" onkeypress="return isNumberKey(event)" onkeyup="return delHangle(event)" />
                        </div>
                    </td>
                    <td>
                        <button class="c-button c-button--point" name="btnSearch">조회</button>
                    </td>
                </tr>
            </table>
            <div style="margin: 30px 0 30px 0; position:relative;">
                <div name="beaconChartLoading" style="display: none">
                    <div class="c-loader__active c-loader__active--ring"></div>
                </div>
                <canvas id='mlred' width="250" height="250"></canvas>
            </div>
            <br>
            <div style="margin: 30px 0 30px 0; position:relative;">
                <div name="beaconChartLoading" style="display: none">
                    <div class="c-loader__active c-loader__active--ring"></div>
                </div>
                <canvas id='mlfireCheck' width="250" height="250"></canvas>
            </div>
        </article>
    </section>
</div>
</html>
