<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        
        <title>NatureStore</title>
        
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        
        <link rel="stylesheet" href="/assets/css/mobile.css"/>
        
        
	</head>
	<body>
		<div class="m-wrap">
			<div class="m-header">
				<h1 class="m-logo"><a href="/">NatureStore</a></h1>
				<ul class="m-head-console">
					<li><a href="/login">login</a></li>
					<li><a href="#" onclick="document.getElementById('logout').submit();" value="Logout" class="header-setting__btn-logout" title="logout">logout</a></li>
				</ul>
			</div>
			<div class="m-contents">
				<ul class="m-main-menu" sec:authorize = "hasRole('ROLE_ADMIN') or hasRole('ROLE_COLLECTOR')">
					<li><a href="/collection/collectionlist" class="m-banner">수거업무리스트</a></li>
					<li><a href="/collection/collectionprocess" class="m-banner">수거처리</a></li>
				</ul>
			</div>
			<div class="m-footer">© 2019 Broadwave Corporation. All rights Reserved.</div>
		</div>
	</body>
</html>