<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
	<script src="/assets/js/jstest/alerttest.js"></script>
	<script type="text/javascript">
		$(function() {
			// $('.btn-alertPop').on('click', function() {
			// 	var popupType = $(this).data('id');
			// 	// $('.popup__text').text('성공하였습니다.');
			// 	$('.popup__stat').addClass('popup__stat--' + popupType);
			// 	$('.popup').addClass('popup--open');
			// })
			//
			// $('.popup__btn--cancel').on('click', function() {
			// 	$('.popup').removeClass('popup--open');
			// })
		});
    </script>
</head>

<div layout:fragment="content" class="contents-body">

	<button id="success" class="btn-alertPop" onclick="alertCheck(this.value)">성공</button>
    <button id="fail" class="btn-alertPop" onclick="alertCheck(this.value)">실패</button>
    <button id="caution" class="btn-alertPop" onclick="alertCheck(this.value)">경고</button>
    <button id="confirm" class="btn-alertPop" value="check" onclick="alertCheck(this.value)">확인</button>

	<div id='alertTest'>

	</div>

	<!--	<button id="success" class="btn-alertPop" data-id="success">성공</button>-->
	<!--	<button id="fail" class="btn-alertPop" data-id="cancel">실패</button>-->
	<!--	<button id="caution" class="btn-alertPop" data-id="caution">경고</button>-->
	<!--	<button id="confirm" class="btn-alertPop" data-id="check">확인</button>-->

<!--	<div class="popup popup&#45;&#45;dim">-->
<!--		<div class="popup__box">-->
<!--			<div class="popup__content">-->
<!--				<div class="popup__stat"></div>-->
<!--				<div class="popup__text"></div>-->
<!--			</div>-->
<!--			<div class="popup__buttons">-->
<!--				<button id="successBtn" class="popup__btn popup__btn&#45;&#45;success">확인</button>-->
<!--				<button class="popup__btn popup__btn&#45;&#45;cancel">취소</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

</div>
</html>
