<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
	<script type="text/javascript">

    </script>
</head>

<div layout:fragment="content" class="contents-body">

<!--    <button id="success">성공</button>-->
<!--    <button id="fail">실패</button>-->
<!--    <button id="caution">경고</button>-->
<!--    <button id="confirm">확인</button>-->


	<div id='alertpop'>
	</div>
</div>
</html>
