<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">
<head>
    <script>
        var timerId = null;
        var timeInterval = 1000;
        var timeprogress = 0;

        $(function(){

            $("#btnStart").on('click',function(){
                callStart();
            });
            $("#btnStop").on('click',function(){
                callStop();
            });

            $("#btnDevicelist").on('click',function(){
                calldevicelist();
            });

            $("#btnDevicehistory").on('click',function(){
                callDeviceHistory();
            });
            $("#btnAllSearch").on('click',function(){
                calldevicelist();
                callDeviceHistory();
            });

        })

        function callStats() {

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

            var deviceIds = new Array();
            deviceIds.push("ISOL-KR-SEL-0002");
            deviceIds.push("ISOL-KR-SEL-0004");

            var itemJson = new Object();
            itemJson.deviceids = deviceIds;
            var devicestr = JSON.stringify(itemJson);

            var params = {
                deviceids:devicestr
            };

            $.ajax({
                url:'/api/dashboard/monitering',
                type : 'post',
                //dataType: json,
                data : params,
                cache:false,
                error:function(request,status,error){
                    ajaxErrorMsg(request);
                },
                success: function(res){
                    //화면 출력
                    statuscode= res.data.statusCode;
                    if (statuscode ===200) {

                        var html = '';

                        $.each(res.data.datarow1, function(key, value){

                            html += '<li>'+ echoNull2Blank(value.deviceid) + '(온도):' + echoNull2Blank(value.temp_brd) +'℃</li>';

                        });

                        $("#curstatus").html(html);

                    }



                }

            });



        }


        function callStart() {

            if(timerId != null) {
                clearInterval(timerId);
            }
            timeInterval = $("#timeinterval").val();

            progresssDisplay();
            timerId = setInterval(progresssDisplay, 100);

        }

        function progresssDisplay(){

            timeprogress += 1;
            if( timeprogress * 100  >= timeInterval){
                timeprogress = 0;
                callStats();
            }
            var progressrate = timeprogress * 10000  / timeInterval;

            $('#progressbar').css("width",progressrate+"%")
            $('#progress').html(timeprogress);
        }

        function callStop() {
            if(timerId != null) {
                clearInterval(timerId);
            }
            $('#curstatus').html('End');
        }


        function calldevicelist() {

            $("#devicelist").html("장비조회중..");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

            var params = {

            };

            $.ajax({
                url:'/api/dashboard/devicelist',
                type : 'post',
                //dataType: json,
                data : params,
                cache:false,
                error:function(request,status,error){
                    ajaxErrorMsg(request);
                },
                success: function(res){
                    //화면 출력
                    statuscode= res.data.statusCode;
                    if (statuscode ===200) {
                        devicearray= res.data.datarow1;
                        var html = '';
                        devicearray.forEach(function(device){
                            html += '<li>'+ echoNull2Blank(device) +'</li>';
                        });
                        $("#devicelist").html(html);

                    }
                }
            });
        }


        function callDeviceHistory() {

            $("#historylist").html("이력조회중..");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });

            var params = {
                deviceid:$('#deviceid').val(),
                intervaltime:$('#intervaltime').val()
            };

            $.ajax({
                url:'/api/dashboard/devicehitory',
                type : 'post',
                //dataType: json,
                data : params,
                cache:false,
                error:function(request,status,error){
                    ajaxErrorMsg(request);
                },
                success: function(res2){
                    //화면 출력
                    statuscode= res2.data.statusCode;
                    if (statuscode ===200) {

                        var html2 = '';

                        $.each(res2.data.datarow1, function(key, value2){

                            html2 += '<li>'+ echoNull2Blank(value2.timestamp) + '(온도2):' + echoNull2Blank(value2.temp_brd) +'℃</li>';

                        });

                        $("#historylist").html(html2);

                    }



                }

            });



        }

    </script>

</head>

<div layout:fragment="content" class="contents-body">

    <section class="section">
        <h2 class="section__heading">모니터링 기능테스트</h2>
        <article class="article">
            <button class="c-button c-button--point" id="btnDevicelist">장비목록조회</button>
            <h4 class="article__head" >디바이스목록</h4>
            <ul id ="devicelist">

            </ul>
            ============================================<br/>

            <div class="l-float-heading">
                <div class="l-float-heading--left">
                    <ul id ="curstatus">

                    </ul>

                    <h4 class="article__head" id="progress">0</h4>

                </div>
            </div>
            <div class="l-float-heading">
                <div class="l-float-heading--left">
                    <h4 class="article__head" >진행상태</h4>
                    <div style="height:20px; background-color: darkblue; width:100%" id="progressbar"></div>
                </div>
            </div>
            <div>
                Time Interval <input type="text" id="timeinterval" value = "2000" />
            </div>
            <button class="c-button c-button--point" id="btnStart">모니터링시작</button>
            <button class="c-button c-button--point" id="btnStop">모니터링종료</button>




            <br/>============================================<br/>
            <div>
                대상장비 <input type="text" id="deviceid" value = "ISOL-KR-SEL-0004" />
            </div>
            <div>
                이력조회시간 <input type="text" id="intervaltime" value = "72" />
            </div>
            <button class="c-button c-button--point" id="btnDevicehistory">장비이력조회</button>


            <div class="l-float-heading">
                <div class="l-float-heading--left">
                    <h4 class="article__head" >장비이력</h4>
                    <ul id ="historylist">

                    </ul>



                </div>
            </div>

            <button class="c-button c-button--point" id="btnAllSearch">동시조회</button>
        </article>
    </section>


</div>
</html>
