<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">

<head>
	<script type="text/javascript">

	</script>
</head>

<div layout:fragment="content" class="contents-body">
	<section class="section">
		<article class="article article--1080">
			<h2 class="article__heading">구글 OAuth2 테스트</h2>
			<div class="c-function">
				<a href="/testpage/oauth2test">code받기 페이지</a>
				<form action="https://www.googleapis.com/oauth2/v4/token" method="post" enctype="application/x-www-form-urlencoded">
					code : <input style="width: 80%" type="text" name="code"><br>
					client_id : <input style="width: 80%"type="text" name="client_id" value="473917193653-nlpkiighg77nvsi2k6uh4m9s4r53ln76.apps.googleusercontent.com"><br>
					client_secret : <input style="width: 80%" type="text" name="client_secret" value="bblWNUg2z9w5oUo71v0DNLNu"><br>
					redirect_uri : <input style="width: 80%" type="text" name="redirect_uri" value="http://localhost:5000/testpage/oauth2test2"><br>
					grant_type : <input style="width: 80%" type="text" name="grant_type" value="authorization_code"><br>
					<input type="submit" value="구글 Access token 받기">
				</form>
			</div>
		</article>
	</section>

	<section class="section">
		<article class="article article--1080">
			<h2 class="article__heading">삼성 OAuth2 테스트</h2>
			<div class="c-function">
				<a href="/testpage/oauth2test">code받기 페이지</a>
<!--				<form action="https://api.smartthings.com/v1/oauth/token" method="post" enctype="application/x-www-form-urlencoded">-->
				<form action="https://api.smartthings.com/v1/oauth/token" method="post">
					code : <input style="width: 80%" type="text" name="code"><br>
					client_id : <input style="width: 80%" type="text" name="client_id" value="d767d829-c91a-408d-8db8-c2cc846dbe1e"><br>
					redirect_uri : <input style="width: 80%" type="text" name="redirect_uri" value="http://localhost:5000/testpage/oauth2test2"><br>
					grant_type : <input style="width: 80%" type="text" name="grant_type" value="authorization_code"><br>
					<input type="submit" value="삼성 Access token 받기">
				</form>

<div style="display: none">


curl -X POST 'https://api.smartthings.com/v1/oauth/token' \
-d 'grant_type=authorization_code' \
-d 'code=HkhF9r' \
-d 'redirect_uri=http://localhost:5000/testpage/oauth2test2' \
-u 'bdc977c2-2be4-4bc9-9740-f185d7edfe74:b15b9061-70a7-4c9a-93da-ffff21c9884b'

{
	"access_token":"2f388c0d-3b46-429a-a2a5-485145ca9c03",
	"token_type":"bearer",
	"refresh_token":"01f159aa-993e-4553-8a97-4873339ec172",
	"expires_in":86335,
	"scope":"r:locations:* r:rules:*
			 r:scenes:* x:devices:d2797923-3cfe-0383-d861-57cef407f41e
			 w:rules:* w:locations:* x:locations:* x:scenes:*
			 r:devices:d2797923-3cfe-0383-d861-57cef407f41e
			 w:devices:d2797923-3cfe-0383-d861-57cef407f41e",
	"installed_app_id":"ff36d052-d46e-4b9d-94de-3243b1b89dd6"
}

curl -X POST 'https://api.smartthings.com/v1/oauth/token' \
-d 'grant_type=authorization_code' \
-d 'code=W8gAVV' \
-d 'redirect_uri=http://localhost:5000/testpage/oauth2test2' \
-u 'bdc977c2-2be4-4bc9-9740-f185d7edfe74:b15b9061-70a7-4c9a-93da-ffff21c9884b'

{
	"access_token":"d7cf7152-ba9b-4e5f-a115-68a0c539ec21",
 	"token_type":"bearer",
 	"refresh_token":"41df2c52-4476-4967-870c-8833c75329cc",
	"expires_in":86399,
	"scope":"x:devices:d2797923-3cfe-0383-d861-57cef407f41e
	 		 w:devices:d2797923-3cfe-0383-d861-57cef407f41e
			 r:devices:d2797923-3cfe-0383-d861-57cef407f41e",
	"installed_app_id":"ff36d052-d46e-4b9d-94de-3243b1b89dd6"
}

curl -X POST 'https://api.smartthings.com/v1/oauth/token' \
-d 'grant_type=authorization_code' \
-d 'code=ww9Q85' \
-d 'redirect_uri=http://localhost:5000/testpage/oauth2test2' \
-u 'bdc977c2-2be4-4bc9-9740-f185d7edfe74:b15b9061-70a7-4c9a-93da-ffff21c9884b'

{
	"access_token":"87d9429f-2746-43e0-ba6e-6a3196dc5fd3",
	"token_type":"bearer",
	"refresh_token":"772750fa-8cdd-4877-815c-cb9c2e11a76a",
	"expires_in":86399,
	"scope":"r:locations:*
			 x:devices:*
			 r:rules:*
			 r:scenes:* w:rules:*
			 w:locations:*
			 w:devices:*
			 r:devices:*
			 x:locations:*
			 x:scenes:*",
	"installed_app_id":"ea269f19-2a1f-47bd-ae80-e923efa7ea93"
}

// These credential values are generated by the developer workspace after registering your API Access project.

Client ID : bdc977c2-2be4-4bc9-9740-f185d7edfe74
Client Secret : b15b9061-70a7-4c9a-93da-ffff21c9884b

</div>

			</div>
		</article>
	</section>

</div>

</html>
